<b>
  <div class="col-md-10">
    <div class="col-md-1">ID</div>
    <div class="col-md-3">Identifier</div>
    <div class="col-md-3">Name</div>
    <div class="col-md-3">Purchase</div>
    <div class="col-md-2">Components</div>
  </div>
  <div class="col-md-2"><%= link_to 'New Product', new_product_path %></div>
  <hr/>
</b>
<% products.each do |product| %>
  <div class="col-md-10">
    <div class="col-md-1"><%= link_to product.id, product %></div>
    <div class="col-md-3"><%= product.identifier %></div>
    <div class="col-md-3"><%= product.name %></div>
    <div class="col-md-3"><%= link_to product.purchase, product.purchase %></div>
    <div class="col-md-2"><%= product.components.count() %></div>
  </div>
<% end %>
