<b>
  <div class="col-md-10">
    <div class="col-md-1">ID</div>
    <div class="col-md-1">Type</div>
    <div class="col-md-5">Licensee</div>
    <div class="col-md-5">Product</div>
  </div>
  <div class="col-md-2">&nbsp;</div>
  <hr/>
</b>
<% licenses.each do |license| %>
  <div class="col-md-10">
    <div class="col-md-1"><%= license.id %></div>
    <div class="col-md-1"><%= license.label %></div>
    <div class="col-md-5">
      <% if license.individual? %>
        <%= link_to "#{license.individual.identifier}", greensub_individual_path(license.individual) %>
      <% end %>
      <% if license.institution? %>
        <%= link_to "#{license.institution.name}", greensub_institution_path(license.institution) %>
      <% end %>
      &nbsp;
    </div>
    <div class="col-md-5">
      <% if license.product? %>
        <%= link_to "#{license.product.identifier}", greensub_product_path(license.product) %>
      <% end %>
      &nbsp;
    </div>
  </div>
  <div class="col-md-2">
    <div class="col-md-4"><%= link_to_if license.update?, 'Edit', edit_greensub_license_path(license) %></div>
    <div class="col-md-4"><%= link_to_if license.destroy?, 'Destroy', greensub_license_path(license), method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>
