<div id="maincontent">
  <% if @individual.present? %>
    <h1><%= link_to "#{@individual.identifier} - #{@individual.name}", greensub_individual_path(@individual) %> Licenses</h1>
    <form name="filter" method="get" action="<%= greensub_individual_licenses_path(@individual) %>">
  <% elsif @institution.present? %>
    <h1><%= link_to "#{@institution.identifier} - #{@institution.name}", greensub_institution_path(@institution) %> Licenses</h1>
    <form name="filter" method="get" action="<%= greensub_institution_licenses_path(@institution) %>">
  <% elsif @product.present? %>
    <h1><%= link_to "#{@product.identifier} - #{@product.name}", greensub_product_path(@product) %> Licenses</h1>
    <form name="filter" method="get" action="<%= greensub_product_institutions_path(@product) %>">
  <% else %>
    <h1>Licenses</h1>
    <form name="filter" method="get" action="<%= greensub_licenses_path %>">
  <% end %>
    <b>
      <div class="col-md-12"><hr/></div>
      <div class="col-md-10">
        <div class="col-md-1">
          <div>ID</div>
          <div><button name="submit" type="submit" value="filter">Filter</button></div>
        </div>
        <div class="col-md-1">
          <% size = 6 %>
          <div>
            <div>Type</div>
            <div><input type="text" name="type_like" value="<%= params[:type_like] %>" size="<%= size %>" aria-label="type_like"></div>
          </div>
        </div>
        <div class="col-md-2">
          <div>Affiliations</div>
        </div>
        <div class="col-md-4">
          <div>Licensee</div>
        </div>
        <div class="col-md-4">
          <div>Product</div>
        </div>
      </div>
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-12"><hr/></div>
    </b>
  </form>
  <%= render partial: 'licenses', locals: { licenses: @licenses } %>
  <div class="col-md-12">&nbsp<%= paginate @licenses %></div>
</div>
