<p id="notice"><%= notice %></p>
<div id="maincontent">
  <h1>Institutions</h1>
  <b>
    <div class="col-md-10">
      <div class="col-md-1">ID</div>
      <div class="col-md-1">Identifier</div>
      <div class="col-md-2">Name</div>
      <div class="col-md-6">Entity ID</div>
      <div class="col-md-2">Lessee</div>
    </div>
    <div class="col-md-2"><%= link_to 'New Institution', new_institution_path %></div>
    <div class="col-md-12"><hr/></div>
  </b>
  <% @institutions.each do |institution| %>
    <div class="col-md-10">
      <div class="col-md-1"><%= institution.id %></div>
      <div class="col-md-1"><%= institution.identifier %></div>
      <div class="col-md-2"><%= institution.name %></div>
      <div class="col-md-6"><%= link_to institution.entity_id, institution.entity_id %></div>
      <div class="col-md-2"><%= link_to institution.lessee.id, lessee_path(institution.lessee) %></div>
    </div>
    <div class="col-md-2">
      <div class="col-md-4"><%= link_to 'Show', institution %></div>
      <div class="col-md-4"><%= link_to_if institution.update?, 'Edit', edit_institution_path(institution) %></div>
      <div class="col-md-4"><%= link_to_if institution.destroy?, 'Destroy', institution, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
  <div class="col-md-12">&nbsp<%= paginate @institutions %></div>
</div>
