<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @institution.key %>
</p>

<p>
  <strong>Name:</strong>
  <%= @institution.name %>
</p>

<p>
  <strong>Site:</strong>
  <%= @institution.site %>
</p>

<p>
  <strong>Login:</strong>
  <%= @institution.login %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
