<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>Groupings</h1></div>
    <div class="col-md-12">
      <% @groupings.each do |grouping| %>
        <div class="col-md-1"></div>
        <div class="col-md-5"><%= grouping.identifier %></div>
        <div class="col-md-6">
          <div class="col-md-4"><%= link_to 'Show', grouping %></div>
          <div class="col-md-4"><%= link_to_if grouping.update?, 'Edit', edit_grouping_path(grouping) %></div>
          <div class="col-md-4"><%= link_to_if grouping.destroy?, 'Destroy', grouping, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12"><%= link_to 'New Grouping', new_grouping_path %></div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
