<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>Components</h1></div>
    <div class="col-md-12">
      <% @components.each do |component| %>
        <div class="col-md-1"></div>
        <div class="col-md-5"><%= component.handle %></div>
        <div class="col-md-6">
          <div class="col-md-4"><%= link_to 'Show', component %></div>
          <div class="col-md-4"><%= link_to 'Edit', edit_component_path(component) %></div>
          <div class="col-md-4"><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12"><%= link_to 'New Component', new_component_path %></div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
