<p id="notice"><%= notice %></p>
<div id="maincontent">
  <% if @product.present? %>
    <h1>Product <%= link_to @product.id, product_path(@product) %> Components</h1>
  <% else %>
    <h1>Components</h1>
  <% end %>
  <b>
    <div class="col-md-10">
      <div class="col-md-1">ID</div>
      <div class="col-md-2">Identifier</div>
      <div class="col-md-4">Name</div>
      <div class="col-md-1">FileSet</div>
      <div class="col-md-2">Monograph</div>
      <div class="col-md-2">Products</div>
    </div>
    <div class="col-md-2"><%= link_to 'New Component', new_component_path %></div>
    <div class="col-md-12"><hr/></div>
  </b>
  <% @components.each do |component| %>
    <%
      file_set = FileSet.find(component.noid) if component.file_set?
      file_set_id = file_set&.id || 0
      monograph = file_set&.parent
      monograph ||= Monograph.find(component.noid) if component.monograph?
      monograph_id = monograph&.id || 0
    %>
    <div class="col-md-10">
      <div class="col-md-1"><%= component.id %></div>
      <div class="col-md-2"><%= component.identifier %></div>
      <div class="col-md-4"><%= component.name %></div>
      <div class="col-md-1">&nbsp<%= link_to_if file_set.present?, file_set_id, hyrax_file_set_path(file_set_id) %></div>
      <div class="col-md-2">&nbsp<%= link_to_if monograph.present?, monograph_id, hyrax_monograph_path(monograph_id) %></div>
      <div class="col-md-2"><%= component.products.count %></div>
    </div>
    <div class="col-md-2">
      <div class="col-md-4"><%= link_to 'Show', component %></div>
      <div class="col-md-4"><%= link_to_if component.update?, 'Edit', edit_component_path(component) %></div>
      <div class="col-md-4"><%= link_to_if component.destroy?, 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
  <div class="col-md-12">&nbsp<%= paginate @components %></div>
</div>
