<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<h1><%= @title %></h1>
<h2>Header</h2>
<table class="table table-striped" summary="Report">
  <tr>
    <% @header.first.each do |column| %>
      <th><%= column[0] %></th>
    <% end %>
  </tr>
  <% @header.each do |row| %>
    <tr>
      <% row.each do |column| %>
        <td><%= column[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<h2>Report</h2>
<table class="table table-striped" summary="Report">
  <tr>
    <% @report.first.each do |column| %>
      <th><%= column[0] %></th>
    <% end %>
  </tr>
  <% @report.each do |row| %>
    <tr>
    <% row.each do |column| %>
      <td><%= column[1] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
