<%= simple_form_for @press  do |f| %>
    <% if @press.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@press.errors.count, "error") %> prohibited this press from being saved:</h2>

          <ul>
            <% @press.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <%= f.input :name, label: 'Publisher Name', required: true %>
  <%= f.input :subdomain, label: 'fulcrum.org Subdomain', required: true %>
  <%= f.input :description, required: true %>
  <div class="form-group string logo_path">
    <label class="control-label string required" for="logo_path">* Upload a Logo</label>
    <%= f.file_field :logo_path %>
    <% if @press.logo_path? %>
      <label>
        <%= f.check_box :remove_logo_path %>
        Remove Existing Logo
      </label>
      <%= image_tag @press.logo_path_url, class: 'press-form-logo' if @press.logo_path? %>
    <% end %>
  </div>
  <%= f.input :press_url, label: 'Publisher\'s Current Website Address', required: true %>
  <%= f.input :google_analytics, label: 'Google Analytics Tracking ID' %>
  <%= f.input :typekit, label: 'Typekit ID' %>
  <%= f.input :footer_block_a %>
  <%= f.input :footer_block_c %>
  <%= f.input :parent_id, collection: Press.parent_presses, prompt: "Choose a parent press (optional)" %>
  <%= f.submit label: 'Save Publisher' %>
<% end %>
