<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
  <li role="presentation"><a href="#permissions" aria-controls="permissions" role="tab" data-toggle="tab">Permissions</a></li>
  <li id="stats-tab" role="presentation"><a href="#stats" aria-controls="stats-tab" role="tab" data-toggle="tab">Stats</a></li>
  <% unless presenter.external_resource? %>
  <li role="presentation"><a href="#technical-info" aria-controls="technical-info" role="tab" data-toggle="tab">Technical Info</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="info">
    <table class="table <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
      <tbody>
        <%= render 'attribute_rows_info', presenter: presenter %>
        <tr>
          <th><%= t('citable_link') %></th>
          <td>
            <form>
              <label for="permalink" style="display: none;"><%= t('citable_link') %></label>
              <input type="text" class="form-control" id="permalink" value="<%= presenter.citable_link %>" readonly="readonly" onclick="this.select(); document.execCommand('copy');" />
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div> <!-- /.info panel -->
  <div role="tabpanel" class="tab-pane fade" id="permissions">
    <table class="table <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
      <tbody>
        <%= render 'attribute_rows_permissions', presenter: presenter %>
      </tbody>
    </table>
  </div> <!-- /.permissions panel -->

  <div role="tabpanel" class="tab-pane fade" id="stats">
    <table class="table <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
      <tbody>
        <%= render 'attribute_rows_stats', presenter: presenter %>
      </tbody>
    </table>
  </div>  <!-- /.stats panel -->


  <div role="tabpanel" class="tab-pane fade" id="technical-info">
    <table class="table <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
      <tbody>
       <%= render 'attribute_rows_technical', presenter: presenter %>
      </tbody>
    </table>
   </div> <!-- /.technical-info panel -->

</div> <!-- /.tab-content Tab panes -->
