<%# Note no equivalent to `media_tombstone` partial here as we want tombstoned files to continue displaying in EPUBs %>

<% if @presenter.content_warning.present? %>
  <script>
      function showContent() {
          document.getElementById('content-warning-media-consent').style.display = 'none';
          document.getElementById('content-warning-media').style.visibility = 'visible';
      }

      function hideContent() {
          document.getElementById('content-warning-media-consent').style.backgroundColor = '#cccccc';
          document.getElementById('content-warning-media-consent').innerHTML = '<div id="content-hidden-message"><span>Content Hidden</span></div>';
          document.getElementById('content-warning-media').style.display = 'none';
      }
  </script>
<% end %>

<figure title="<%= @presenter.alt_text.first %>">
  <% if @presenter.content_warning.present? %>
    <div role="dialog" id="content-warning-media-consent" aria-label="Content Warning Consent Dialog">
      <div id="content-warning-icon-text">
            <%= image_tag "exclamation-triangle-fill.svg", alt: "Warning Icon", 'aria-hidden': "true" %><%= @presenter.content_warning %>
      </div>
      <div id="content-warning-buttons">
        <input type="button" class="btn btn-primary" value="Hide content" aria-label="Hide content" onclick="hideContent()" tabindex="-1">
        <input type="button" class="btn btn-primary" value="Display content" aria-label="Show the sensitive content" onclick="showContent()" tabindex="-1">
      </div>
    </div>
    <div id="content-warning-media" style="visibility:hidden">
  <% end %>
  <div id="fulcrum-embed-link<%= ' audio no-transcript' if @presenter.audio_without_closed_captions? %>">
    <%# note embed_fulcrum_logo_title is double-quoted, <base target="_blank"> in embedded.html.erb doesn't work here %>
    <a href="<%= @presenter.embed_fulcrum_logo_link %>"
       aria-label='<%= @presenter.embed_fulcrum_logo_title %>'
       target="_blank">
      <%= image_tag "fulcrum-logo-circle.png", class: 'logo', alt: 'Fulcrum logo' %>
    </a>
  </div>
  <div class="fulcrum-media-wrapper<%= ' audio no-transcript' if @presenter.audio_without_closed_captions? %>">
  <%= render partial: @presenter.heliotrope_media_partial('media_display_embedded'), locals: { file_set: @presenter } %>
  </div>
  <% if @presenter.content_warning.present? %>
    </div> <!-- #content-warning-media -->
  <% end %>
</figure>
<%= render 'shared/ga' %>
