<figure title="<%= @presenter.alt_text.first %>">
  <%# note that the fulcrum-embed-link hover display relies on it being the first child of <figure> %>
  <div class="fulcrum-embed-link<%= ' leaflet-embed' if @presenter.image? %>">
    <%# note embed_fulcrum_logo_title is double-quoted, <base target="_blank"> in embedded.html.erb doesn't work here %>
    <a href="<%= @presenter.embed_fulcrum_logo_link(request.protocol, request.host_with_port) %>"
       title='<%= @presenter.embed_fulcrum_logo_title %>'
       target="_blank">
      <%= image_tag "fulcrum-white-50px.png", class: 'logo', alt: 'Fulcrum logo' %>
    </a>
  </div>
  <% if @presenter.image? %>
      <% riiif_url = "/image-service/#{@presenter.id}/info.json" %>
      <div id="image"></div>
      <script>
          var map, layer, timer;

          $(document).ready(function() {
              setupLeafletMap();
          });

          $(window).resize(function() {
              clearTimeout (timer);
              timer = setTimeout(setupLeafletMap, 150);
          });

          var setupLeafletMap = function() {
              if (map != undefined) { map.off(); map.remove(); }
              map = L.map('image', {
                  center: [0, 0],
                  crs: L.CRS.Simple,
                  zoom: 0,
                  scrollWheelZoom: false,
                  attributionControl: false
              });
              layer = L.tileLayer.iiif("<%= riiif_url %>", { bestFit: true });
              layer.addTo(map);
          };
      </script>
  <% elsif @presenter.video? %>
      <video id="video"
             preload="metadata"
             data-able-player
             data-include-transcript="false"
             data-allow-fullscreen="false"
             poster="<%= hyrax.download_path(@presenter.id, file: 'jpeg') %>">
        <source src="<%= hyrax.download_path(@presenter.id, file: 'webm') %>" type="video/webm" />
        <source src="<%= hyrax.download_path(@presenter.id, file: 'mp4') %>" type="video/mp4" />
        <% if @presenter.transcript.present? %>
            <track kind="captions" src="<%= hyrax.download_path(@presenter.id, file: 'vtt') %>" srclang="en" label="English"  />
        <% end %>
        Your browser does not support the video tag.
      </video>
  <% else %>
      <%# fall back to default, no use case for this yet%>
      <%= media_display @presenter %>
  <% end %>
</figure>
