<figure title="<%= @presenter.alt_text.first %>">
  <% if @presenter.image? %>
      <% riiif_url = "/image-service/#{@presenter.id}/info.json" %>
      <div id="image"></div>
      <script>
        var map, timer;

        // there's no need to bind to ready as currently a resize happens on load
        $(window).resize(function() {
          clearTimeout (timer);
          timer = setTimeout(setupLeafletMap, 250);
        });

        var setupLeafletMap = function() {
          if (map != undefined) { map.off(); map.remove(); }
          var layer;
          map = L.map('image', {
              center: [0, 0],
              crs: L.CRS.Simple,
              zoom: 0,
              attributionControl: false
          });
          layer = L.tileLayer.iiif("<%= riiif_url %>", { bestFit: true });
          layer.addTo(map);
        };
      </script>
  <% elsif @presenter.video? %>
      <video id="video"
             preload="auto"
             data-able-player
             data-include-transcript="false"
             data-allow-fullscreen="false"
             poster="<%= hyrax.download_path(@presenter.id, file: 'jpeg') %>">
        <source src="<%= hyrax.download_path(@presenter.id, file: 'webm') %>" type="video/webm" />
        <source src="<%= hyrax.download_path(@presenter.id, file: 'mp4') %>" type="video/mp4" />
        <% if @presenter.transcript.present? %>
            <track kind="captions" src="<%= hyrax.download_path(@presenter.id, file: 'vtt') %>" srclang="en" label="English"  />
        <% end %>
        Your browser does not support the video tag.
      </video>
  <% else %>
      <%# fall back to default, no use case for this yet%>
      <%= media_display @presenter %>
  <% end %>
</figure>
