  <figure title="<%= @presenter.alt_text.first %>">
    <%= render partial: @presenter.heliotrope_media_partial, locals: { file_set: @presenter } %>
    <figcaption<%= ' class="text-center"'.html_safe if @presenter.center_caption? %>><%= @presenter.attribute_to_html(:caption, render_as: :markdown, label: '') %></figcaption>
    <% if @presenter.allow_download?  %>
        <div class="text-center">
          <a class="btn btn-default btn-lg btn-heliotrope-download" href="<%= hyrax.download_path(@presenter) %>" target="_blank">
            <%= @presenter.download_button_label %>
          </a>
          <% if @presenter.extracted_text? %>
            <a class="btn btn-default btn-lg btn-heliotrope-download" href="<%= hyrax.download_path(@presenter, file: 'extracted_text', filename: @presenter.extracted_text_download_filename) %>" target="_blank">
              <%= @presenter.extracted_text_download_button_label %>
            </a>
          <% end %>
        </div>
    <% end %>
  </figure> <!-- /.image/media -->
  <% if @presenter.transcript.present? %>
      <div class="panel panel-default transcript">
        <div class="panel-heading">
          <h3 class="panel-title">Transcript</h3>
        </div>
        <div class="panel-body fixed" tabindex="0">
          <p><%= presenter.attribute_to_html(:transcript, render_as: :multiline, label: '') %></p>
        </div>
      </div><!-- /.transcript panel -->
  <% end %>

  <% if @presenter.translation.present? %>
  <div class="panel panel-default translation">
    <div class="panel-heading">
      <h3 class="panel-title">Translation</h3>
    </div>
    <div class="panel-body fixed" tabindex="0">
      <p><%= presenter.attribute_to_html(:translation, render_as: :markdown, label: '') %></p>
    </div>
  </div><!-- /.translation panel -->
  <% end %>
