<%= simple_form_for [main_app, curation_concern],
                    html: { multipart: true },
                    wrapper_mappings: { multifile: :horizontal_file_input } do |f| %>

  <div class="row">
    <div class="col-md-12">
      <fieldset class="required">
        <legend>Your File&#8217;s Title</legend>
          <%= f.input :title, input_html: { multiple: true, value: curation_concern.title.first, class: 'form-control required' } %>
      </fieldset>
      <fieldset class="required">
        <legend>Required Information</legend>
        <%= f.input :creator, input_html: { multiple: true, rows: '5', value: curation_concern.creator.first } %>
        <%= f.input :date_created, input_html: { multiple: true, value: curation_concern.date_created.first, class: 'form-control' } %>
        <%= f.input :description, as: :text, input_html: { multiple: true, value: curation_concern.description.first, class: 'form-control' } %>

      </fieldset>
      <fieldset class="optional">
        <legend>Optional Information</legend>
        <div class="form-group string optional file_set_score_verions">
          <label class="control-label string option" for="file_set_score_version">Score Version</label>
          <input class="form-control string optional"
                 type="text"
                 name="file_set[score_version]"
                 id="file_set_score_version"
                 value="<%= JSON.parse(curation_concern.extra_json_properties)["score_version"] if curation_concern.extra_json_properties.present? %>">
        </div>
        <%= f.input :copyright_holder, input_html: { class: 'form-control optional' } %>
        <%= f.input :copyright_status, input_html: { class: 'form-control optional' } %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-actions">
      <%= f.submit(
        (curation_concern.persisted? ? "Update Attached File" : %(Attach to #{parent.human_readable_type})),
        class: 'btn btn-primary'
      ) %>
      <%= link_to 'Cancel', curation_concern.parent.present? ? parent_path(curation_concern.parent) : Rails.application.routes.url_helpers.hyrax_file_set_path(curation_concern.id), class: 'btn btn-link' %>
    </div>
  </div>
<% end %>
