<div class="form-actions">
  <% if can?(:edit, presenter) %>
    <a class="btn btn-default btn-lg" href="<%= edit_polymorphic_path([main_app, presenter]) %>">Edit</a>
    <!-- TODO: remove the following button, it will be replaced by breadcrumbs -->
    <a class="btn btn-default btn-lg" href="<%= parent_path(parent) %>">
      <%= "Back to #{parent.human_readable_type}" %>
    </a>
  <% end %>
  <% if presenter.embeddable_type? && (can?(:edit, presenter) || presenter.allow_embed?) %>
    <form action="#" onsubmit="CopyToClipboard()" style="display:inline;">
      <textarea  id="embedcode" style="display:none;" readonly="readonly"><%= presenter.embed_code %></textarea>
      <button type="submit" class="btn btn-default btn-lg">&lt;html /&gt;</button>
      <script>
        function CopyToClipboard() {
          var e = document.getElementById("embedcode");
          e.style.display = "block";
          e.focus();
          e.select();
          document.execCommand("copy");
          e.style.display = "none";
          window.alert("Copied to clipboard.")
        }
      </script>
    </form>
  <% end %>
  <!-- TODO: add citation generator -->
  <!-- <button type="button" class="btn btn-default btn-lg cite">Cite</button> -->
  <!-- TODO: figure out what asset metadata field holds the permanent URL and replace below -->
  <div class="btn-group share">
    <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="http://twitter.com/intent/tweet?text=<%= @presenter.url_title %>&url=<%= @presenter.citable_link %>">Twitter</a></li>
        <li><a href="http://www.facebook.com/sharer.php?u=<%= @presenter.citable_link %>&t=<%= @presenter.url_title %>">Facebook</a></li>
        <li><a href="https://plus.google.com/share?url=<%= @presenter.citable_link %>">Google+</a></li>
        <li><a href="http://www.reddit.com/submit?url=<%= @presenter.citable_link %>">Reddit</a></li>
        <li><a href="http://www.mendeley.com/import/?url=<%= @presenter.citable_link %>">Mendeley</a></li>
        <li><a href="http://www.citeulike.org/posturl?url=<%= @presenter.citable_link %>&title=<%= @presenter.url_title %>">Cite U Like</a></li>
      </ul>
  </div>
</div><!-- form-actions -->
