    <!-- file_sets metadata and actions -->
    <div class="col-sm-6 col-sm-push-6">
      <div class="row asset-attributes">
        <div class="col-sm-12">
          <h1 id="asset-title"><%= @presenter.title %></h1>
          <div class="skip"><a href="#media" data-turbolinks="false">Skip to media</a></div>
          <span class="section">From <em><%= link_to @presenter.parent.title, main_app.monograph_catalog_path(@presenter.monograph_id) %></em>
            <% authorship_display = @presenter.parent.authors %>
            <% if authorship_display.present? %>
              by <%= render_markdown authorship_display %>
            <% end %>
          </span>
          <br />
          <%= render "attributes", presenter: @presenter %>
        </div>
      </div> <!-- /.asset-attributes -->
      <div class="row asset-actions">
        <div class="col-sm-12">
          <%= render "show_actions", presenter: @presenter, parent: @presenter.parent %>
        </div>
      </div> <!-- /.asset-actions -->
    </div> <!-- / file_sets metadata and actions -->
    <!-- file_sets _media -->
    <div id="media" class="col-sm-6 col-sm-pull-6">
      <%= render "media", presenter: @presenter %>
    </div> <!-- / file_sets _media -->
