<% provide :page_title, @presenter.page_title %>
<% if @presenter.parent.blank? %>
  <%= render "hyrax/file_sets/orphan_fileset", presenter: @presenter %>
<% else %>
<% provide :page_header do %>
  <%# render 'shared/survey' %>
  <!-- breadcrumbs -->
  <%= render 'shared/breadcrumbs' %>

  <!-- asset navigation -->
  <div class="row">
    <nav class="asset-navigation col-sm-12">
      <ul class="pager">
          <li class="previous">
          <% if @presenter.previous_id? %>
            <a href="<%= @presenter.previous_id %>" class="previous" data-turbolinks="false"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous</a>
          <% end %>
          </li>
          <li class="next">
          <% if @presenter.next_id? %>
            <a href="<%= @presenter.next_id %>" class="next" data-turbolinks="false">Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
          <% end %>
          </li>
      </ul>
    </nav>
  </div>
<% end %>

  <div id="maincontent" class="row asset">
    <!-- COinS for Zotero, etc -->
    <% if defined? @presenter.file_set_coins_title %>
      <span class="Z3988" title="<%= @presenter.file_set_coins_title %>"></span>
    <% end %>
    <!-- file_sets metadata and actions -->
    <div class="col-sm-6 col-sm-push-6">
      <div class="row asset-attributes">
        <div class="col-sm-12">
          <h1 id="asset-title"><%= @presenter.title %></h1>
          <div class="skip"><a href="#media" data-turbolinks="false">Skip to media</a></div>
          <span class="section">From <em><%= link_to @presenter.parent.title, main_app.monograph_catalog_path(@presenter.monograph_id) %></em>
            <% if @presenter.parent.authors? %>
              by <%= render_markdown @presenter.parent.authors %>
            <% end %>
          </span>
          <br />
          <%= render "attributes", presenter: @presenter %>
        </div>
      </div> <!-- /.asset-attributes -->
      <div class="row asset-actions">
        <div class="col-sm-12">
          <%= render "show_actions", presenter: @presenter, parent: @presenter.parent %>
        </div>
      </div> <!-- /.asset-actions -->
    </div> <!-- / file_sets metadata and actions -->
    <!-- file_sets _media -->
    <div id="media" class="col-sm-6 col-sm-pull-6">
      <%= render "media", presenter: @presenter %>
    </div> <!-- / file_sets _media -->
  </div> <!-- /.asset -->
<% end %>
