<% provide :page_title, @presenter.page_title %>
<% if parent.blank? %>
  <%= render "hyrax/file_sets/orphan_fileset", presenter: @presenter %>
<% else %>
<% provide :page_header do %>
  <!-- survey -->
  <div class="alert alert-info alert-dismissible survey" alert="role" style="display: none;">
     <a class="close" data-dismiss="alert" aria-label="Close" href="#" onclick="Cookies.set('survey', 'ignore', { expires: 15 });">&#x2715</a>
     <p class="message">Got two minutes? Help us improve your experience on Fulcrum by answering a few questions about your visit.</p>
     <a href="https://umich.qualtrics.com/jfe/form/SV_5clJsgxZXioWanH?Book=<%= @presenter.monograph.page_title %>&Asset=<%= @presenter.page_title %>" class="btn btn-primary btn-lg" role="button" target="_blank" onclick="Cookies.set('survey', 'clicked', { expires: 30 });" data-dismiss="alert">Yes, I can help.</a>
     <a href="#" class="btn btn-default btn-lg" role="button" data-dismiss="alert" aria-label="Close" onclick="Cookies.set('survey', 'ignore', { expires: 15 });">No thanks.</a>
  </div>

  <!-- breadcrumbs -->
  <%= render 'shared/breadcrumbs' %>

  <!-- asset navigation -->
  <div class="row">
    <nav class="asset-navigation col-sm-12">
      <ul class="pager">
          <li class="previous">
          <% if @presenter.previous_id? %>
            <a href="<%= @presenter.previous_id %>" class="previous" data-turbolinks="false"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous</a>
          <% end %>
          </li>
          <li class="next">
          <% if @presenter.next_id? %>
            <a href="<%= @presenter.next_id %>" class="next" data-turbolinks="false">Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
          <% end %>
          </li>
      </ul>
    </nav>
  </div>
<% end %>

  <div id="maincontent" class="row asset">
    <!-- COinS for Zotero, etc -->
    <% if defined? @presenter.file_set_coins_title %>
      <span class="Z3988" title="<%= @presenter.file_set_coins_title %>"></span>
    <% end %>
    <!-- file_sets _media -->
    <div class="col-sm-6">
      <%= render "media", presenter: @presenter %>
    </div> <!-- / file_sets _media -->
    <!-- file_sets metadata and actions -->
    <div class="col-sm-6">
      <div class="row asset-attributes">
        <div class="col-sm-12">
          <h2 id="asset-title"><%= @presenter.title %></h2>
          <h3>From <em><%= link_to @presenter.monograph.title, main_app.monograph_catalog_path(@presenter.monograph_id) %></em>
            <% if @presenter.monograph.authors? %>
              by <%= @presenter.monograph.authors %>
            <% end %>
            <% if @presenter.monograph.editors? %>
              edited by <%= @presenter.monograph.editors %>
            <% end %>
          </h3>
          <br />
          <%= render "attributes", presenter: @presenter %>
        </div>
      </div> <!-- /.asset-attributes -->
      <div class="row asset-actions">
        <div class="col-sm-12">
          <%= render "show_actions", presenter: @presenter, parent: parent %>
        </div>
      </div> <!-- /.asset-actions -->
    </div> <!-- / file_sets metadata and actions -->
  </div> <!-- /.asset -->
<% end %>
