<% provide :page_title, @presenter.page_title %>
<% if @presenter.parent.blank? %>
  <%= render "hyrax/file_sets/orphan_fileset", presenter: @presenter %>
<% else %>
<% provide :page_header do %>
  <%# render 'shared/survey' %>
  <!-- breadcrumbs -->
  <%= render 'shared/breadcrumbs' %>

  <!-- asset navigation -->
  <div class="row">
    <nav class="asset-navigation col-sm-12">
      <ul class="pager">
          <li class="previous">
          <% if @presenter.previous_id? %>
            <a href="<%= @presenter.previous_id %>" class="previous" data-turbolinks="false"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous</a>
          <% end %>
          </li>
          <li class="next">
          <% if @presenter.next_id? %>
            <a href="<%= @presenter.next_id %>" class="next" data-turbolinks="false">Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
          <% end %>
          </li>
      </ul>
    </nav>
  </div>
<% end %>

  <div id="maincontent" class="row asset">
    <!-- COinS for Zotero, etc -->
    <% if defined? @presenter.file_set_coins_title %>
      <span class="Z3988" title="<%= @presenter.file_set_coins_title %>" aria-hidden="true"></span>
    <% end %>

    <% if @presenter.interactive_map? %>
      <!-- map file_set -->
      <%= render "stacked_layout", presenter: @presenter %>
    <% else %>
      <!-- image, a/v, doc, or external resource file_set -->
      <%= render "side_by_side_layout", presenter: @presenter %>
    <% end %>

  </div> <!-- /.asset -->
<% end %>
