<h2>Analytics</h2>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title">Google Analytics</div>
      </div>
      <div class="panel-body">
        <div id="dashboard-google-analytics" style="height: 200px">
          <ul>
            <li>Users: <%= @analytics.users %></li>
            <li>Sessions: <%= @analytics.sessions %></li>
            <li>Pageviews: <%= @analytics.page_views %></li>
            <li>Bounce Rate: <%= number_to_percentage(@analytics.bounce_rate, precision: 2) %></li>
          <ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title">Top Pages</div>
      </div>
      <div class="panel-body">
        <div id="dashboard-top-pages" style="height: 200px">
          <ul>
            <% @analytics.top_pages.each do |val| %>
            <li><%= val[:name] %> (<%= val[:count] %>)</li>
            <% end %>
          <ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title">Top Landing Pages</div>
      </div>
      <div class="panel-body">
        <div id="dashboard-top-landing-pages" style="height: 200px">
          <ul>
            <% @analytics.landing_pages.each do |val| %>
            <li><%= val[:name] %> (<%= val[:count] %>)</li>
            <% end %>
          <ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title">Channels</div>
      </div>
      <div class="panel-body">
        <div id="dashboard-channels" style="height: 200px">
          <ul>
            <% @analytics.channels.each do |val| %>
            <li><%= val[:name] %> (<%= val[:count] %>)</li>
            <% end %>
          <ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title">Referrers</div>
      </div>
      <div class="panel-body">
        <div id="dashboard-blah1" style="height: 200px">
          <ul>
            <% @analytics.referrers.each do |val| %>
            <li><%= val[:name] %> (<%= val[:count] %>)</li>
            <% end %>
          <ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title">Blah</div>
      </div>
      <div class="panel-body">
        <div id="dashboard-blah2" style="height: 200px">
          
      </div>
    </div>
  </div>
</div>

