<% component = Component.find_by(handle: HandleService.path(@identifier)) %>
<h1>Component</h1>
<table class="table table-striped" summary="Component Detail">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>identifier</td>
    <td><%= component.noid %></td>
  </tr>
  <tr>
    <td>name</td>
    <td><%= component.noid %></td>
  </tr>
  <tr>
    <td>noid</td>
    <td><%= component.noid %></td>
  </tr>
  <tr>
    <td>handle</td>
    <td><%= component.handle %></td>
  </tr>
</table>
<h2>Products</h2>
<ul>
  <% component.products.each do |product| %>
    <li><%= product.identifier %></li>
  <% end %>
</ul>
<h2>Policies</h2>
<ul>
  <% component.policies.each do |policy| %>
    <li><%= policy.id %></li>
  <% end %>
</ul>
