<%
  components = Component.filter(identifier_like: params[:identifier_like], name_like: params[:name_like], noid_like: params[:noid_like]).order(handle: :asc).page(params[:page])
  # TODO: order on identifier
  size = 12
%>
<h1>Components</h1>
<form name="filter" method="get" action="<%= fulcrum_partials_path(:components) %>">
  <table class="table table-striped" summary="Components List">
    <tr>
      <th>
        <%= link_to(new_component_path) do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        <% end %>
      </th>
      <th><label for="identifier_like">Identifier</label></th>
      <th><label for="name_like">Name</label></th>
      <th><label for="noid_like">Noid</label></th>
      <th>Products</th>
    </tr>
    <tr>
      <td><button name="submit" type="submit" value="filter">Filter</button></td>
      <td><input type="text" name="identifier_like" value="<%= params[:identifier_like] %>" size="<%= size %>" aria-label="identifier_like"></td>
      <td><input type="text" name="name_like" value="<%= params[:name_like] %>" size="<%= size %>" aria-label="name_like"></td>
      <td><input type="text" name="noid_like" value="<%= params[:noid_like] %>" size="<%= size %>" aria-label="noid_like"></td>
      <td></td>
    </tr>
    <% components.each do |component| %>
      <tr>
        <td><%= link_to(component_path(component)) do %>
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Show
          <% end %>
        </td>
        <td><%= component.identifier %></td>
        <td><%= component.name %></td>
        <td>
          <%
            file_set = FileSet.find(component.noid) if component.file_set?
            monograph = file_set&.parent
            monograph ||= Monograph.find(component.noid) if component.monograph?
          %>
          <% if file_set.present? %>
            <%= link_to file_set.id, hyrax_file_set_path(file_set.id) %>
          <% elsif monograph.present? %>
            <%= link_to monograph.id, hyrax_monograph_path(monograph.id) %>
          <% else %>
            <%= component.noid %>
          <% end %>
        </td>
        <td><%= component.products.count %></td>
      </tr>
    <% end %>
  </table>
</form>
<%= paginate components %>
