<% components = Greensub::Component.filter(identifier_like: params[:identifier_like], name_like: params[:name_like], noid_like: params[:noid_like]).order(created_at: :desc).page(params[:page]) %>
<h1>Components</h1>
<form name="filter" method="get" action="<%= fulcrum_partials_path(:components) %>">
  <table class="table table-striped" summary="Components List">
    <tr>
      <th>
        <%= link_to(new_greensub_component_path) do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        <% end %>
      </th>
      <th>
        <% size = 24 %>
        <div class="col-md-12">
          <div class="col-md-2"><label for="identifier_like">Identifier</label></div><div class="col-md-10"><input type="text" name="identifier_like" value="<%= params[:identifier_like] %>" size="<%= size %>" aria-label="identifier_like"></div>
        </div>
        <div class="col-md-12">
          <div class="col-md-2"><label for="name_like">Name</label></div><div class="col-md-10"><input type="text" name="name_like" value="<%= params[:name_like] %>" size="<%= size %>" aria-label="name_like"></div></div>
        </div>
      </th>
      <th>
        <div><label for="noid_like">Noid</label></div>
        <div><input type="text" name="noid_like" value="<%= params[:noid_like] %>" size="<%= size / 2 %>" aria-label="noid_like"></div>
      </th>
      <th>
        <div>Products</div>
        <div>&nbsp;</div>
        <div><button name="submit" type="submit" value="filter">Filter</button></div>
      </th>
    </tr>
    <% components.each do |component| %>
      <tr>
        <td><%= link_to(greensub_component_path(component)) do %>
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Show
          <% end %>
        </td>
        <td>
          <div><%= component.identifier %></div>
          <div><%= component.name %></div>
        </td>
        <td>
          <%
            entity = Sighrax.factory(component.noid)
            file_set_id = 0
            monograph_id = 0
            if entity.is_a?(Sighrax::Monograph)
              monograph = entity
              monograph_id = entity.noid
            else
              file_set = entity
              file_set_id = entity.noid
              monograph = entity.parent
              monograph_id = monograph.noid
            end
          %>
          <% if file_set.present? %>
            <%= link_to file_set_id, hyrax_file_set_path(file_set_id) %>
          <% elsif monograph.present? %>
            <%= link_to monograph_id, hyrax_monograph_path(monograph_id) %>
          <% else %>
            <%= component.noid %>
          <% end %>
        </td>
        <td><%= link_to component.products.count, greensub_component_products_path(component) %></td>
      </tr>
    <% end %>
  </table>
</form>
<%= paginate components %>
