<h1>Individual</h1>
<ul>
<li>email:<%= current_user.email %></li>
<% user = User.find_by(email: current_user.email) %>
<li>User:<%= (user.present?) ? "#{user.id} (#{user.name})" : '0 (guest)' %></li>
<% individual = Individual.find_by(email: current_user.email) %>
<li>Individual:<%= (individual.present?) ? "#{individual.id} (#{individual.name})" : 'n/a' %></li>
</ul>
<h2>Instituions</h2>
<ul>
  <% current_institutions.each do |institution| %>
    <li>Institution:<%= "#{institution.id} (#{institution.name})" %></li>
  <% end %>
</ul>
<h2>Keycard</h2>
<ul>
  <% Services.request_attributes.for(request).all.each do |key, value| %>
    <li><%= key.to_s %>: <%= value.to_s %></li>
  <% end %>
</ul>
<h2>Token</h2>
<%= text_field(:user, :token, size: 120, value: current_user.token, disabled: true) %>
