<h1>Individual</h1>
<ul>
<li>email:<%= current_user.email %></li>
<% user = User.find_by(email: current_user.email) %>
<li>User:<%= (user.present?) ? "#{user.id} (#{user.name})" : '0 (guest)' %></li>
<% individual = Greensub::Individual.find_by(email: current_user.email) %>
<li>Individual:<%= (individual.present?) ? "#{individual.id} (#{individual.name})" : 'n/a' %></li>
</ul>
<h2>Instituions</h2>
<ul>
  <% current_institutions.each do |institution| %>
    <li>Institution:<%= "#{institution.id} (#{institution.name})" %></li>
  <% end %>
</ul>
<h2>Keycard</h2>
<ul>
  <% Services.request_attributes.for(request).all.each do |key, value| %>
    <li><%= key.to_s %>: <%= value.to_s %></li>
  <% end %>
</ul>
<h2>Incognito</h2>
<form name="incognito" method="get" action="<%= fulcrum_partials_path(:dashboard) %>">
  <input input data-toggle="tooltip" title="override your individual and institution(s) products" type="checkbox" id="actor" name="actor" value="sudo" <%= Incognito.sudo_actor?(current_actor) ? 'checked' : '' %>>
  <label for="actor">use individual and/or institution products</label><br>
  <ul>
    <li>
      Individual
      <%= select_tag "individual_id", options_for_select(@individuals, Incognito.sudo_actor_individual(current_actor)&.id), include_blank: '' %>
      filter by
      <input type="text" id="individual_filter" name="individual_filter" value=<%= params['individual_filter'] %>>
      <button>filter</button>
    </li>
    <li>
      Institution
      <%= select_tag "institution_id", options_for_select(@institutions, Incognito.sudo_actor_institution(current_actor)&.id), include_blank: '' %>
      filter by
      <input type="text" id="institution_filter" name="institution_filter" value=<%= params['institution_filter'] %>>
      <button>filter</button>
    </li>
    <li>
      Products
      <% Incognito.sudo_actor_products(current_actor).each do |product| %>
        <ul>
          <li><%= link_to "#{product.identifier} (#{product.name})", product %></li>
        </ul>
      <% end %>
    </li>
  </ul>
  <input data-toggle="tooltip" title="hide your platform administrator role" type="checkbox" id="platform_admin" name="platform_admin" value="mask" <%= !Incognito.allow_platform_admin?(current_actor) ? 'checked' : '' %> />
  <label for="platform_admin">force 'platform_admin?' to be false</label><br>
  <input data-toggle="tooltip" title="hide your devise cancan abilities" type="checkbox" id="ability_can" name="ability_can" value="mask" <%= !Incognito.allow_ability_can?(current_actor) ? 'checked' : '' %> />
  <label for="ability_can">force 'can?' to be false</label><br>
  <input data-toggle="tooltip" title="hide your checkpoint credentials a.k.a. permissions" type="checkbox" id="action_permitted" name="action_permitted" value="mask" <%= !Incognito.allow_action_permitted?(current_actor) ? 'checked' : '' %> />
  <label for="action_permitted">force 'action_permitted?' to be false</label><br>
  &nbsp;<br>
  <button name="submit" type="submit" value="incognito">Incognito</button>
</form>
<h2>Token</h2>
<%= text_field(:user, :token, size: 120, value: current_user.token, disabled: true) %>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>