<h1>Fulcrum</h1>
<table class="table table-striped" summary="Repository Global Stats">
  <tr>
    <td><%= link_to 'Policies',  policies_path %></td>
    <td><%= Policy.count %></td>
  </tr>
  <tr>
    <td><%= link_to 'Products', products_path %></td>
    <td><%= Product.count %></td>
  </tr>
  <tr>
    <td><%= link_to 'Product NOIDs', product_noids_path %></td>
    <td><%= ProductNoid.count %></td>
  </tr>
  <tr>
    <td><%= link_to 'Components', components_path %></td>
    <td><%= Component.count %></td>
  </tr>
  <tr>
    <td><%= link_to 'Lessees', lessees_path %></td>
    <td><%= Lessee.count %></td>
  </tr>
  <tr>
    <td><%= link_to 'Institutions', institutions_path %></td>
    <td><%= Institution.count %></td>
  </tr>
  <tr>
    <td><%= link_to 'Publishers', presses_path %></td>
    <td><%= Press.count %></td>
  </tr>
  <tr>
    <td><%= link_to 'Users', users_path %></td>
    <td><%= User.count %></td>
  </tr>
</table>
