<% individual = Individual.find_by(identifier: @identifier) %>
<h1>Individual</h1>
<div class="col-md-12">
  <table class="table table-striped" summary="Individual Detail">
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>id</td>
      <td><%= individual.id %></td>
    </tr>
    <tr>
      <td>identifier</td>
      <td><%= individual.identifier %></td>
    </tr>
    <tr>
      <td>name</td>
      <td><%= individual.name %></td>
    </tr>
    <tr>
      <td>email</td>
      <td><%= individual.email %></td>
    </tr>
  </table>
</div>
<h2>Products</h2>
<div class="col-md-12">
  <%= render partial: '/individuals/products', locals: { individual: individual, products: Greensub.subscriber_products(individual) } %>
</div>
