<%
  individuals = Individual.filter(identifier_like: params[:identifier_like], name_like: params[:name_like], email_like: params[:email_like]).order(identifier: :asc).page(params[:page])
  size = 24
%>
<h1>Individuals</h1>
<form name="filter" method="get" action="<%= fulcrum_partials_path(:individuals) %>">
  <table class="table table-striped" summary="Individual List">
    <tr>
      <th><%= link_to(new_greensub_individual_path) do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        <% end %>
      </th>
      <th><label for="identifier_like">Identifier</label></th>
      <th><label for="name_like">Name</label></th>
      <th><label for="email_like">eMail</label></th>
      <th>Products</th>
    </tr>
    <tr>
      <td><button name="submit" type="submit" value="filter">Filter</button></td>
      <td><input type="text" name="identifier_like" value="<%= params[:identifier_like] %>" size="<%= size %>" aria-label="identifier_like"></td>
      <td><input type="text" name="name_like" value="<%= params[:name_like] %>" size="<%= size %>" aria-label="name_like"></td>
      <td><input type="text" name="email_like" value="<%= params[:email_like] %>" size="<%= size %>" aria-label="email_like"></td>
      <td></td>
    </tr>
    <% individuals.each do |individual| %>
      <tr>
        <td><%= link_to(greensub_individual_path(individual)) do %>
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Show
          <% end %>
        </td>
        <td><%= individual.identifier %></td>
        <td><%= individual.name %></td>
        <td><%= individual.email %></td>
        <td><%= Greensub.subscriber_products(individual).count %></td>
      </tr>
    <% end %>
  </table>
</form>
<%= paginate individuals %>
