<% institutions = Greensub::Institution.filter(identifier_like: params[:identifier_like], name_like: params[:name_like], entity_id_like: params[:entity_id_like]).order(identifier: :asc).page(params[:page]) %>
<h1>Institutions</h1>
<form name="filter" method="get" action="<%= fulcrum_partials_path(:institutions) %>">
  <table class="table table-striped" summary="Institution List">
    <tr>
      <th>
          <%= link_to(new_greensub_institution_path) do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
          <% end %>
      </th>
      <th>
        <% size = 24 %>
        <div class="col-md-12">
          <div class="col-md-2"><label for="identifier_like">Identifier</label></div><div class="col-md-10"><input type="text" name="identifier_like" value="<%= params[:identifier_like] %>" size="<%= size %>" aria-label="identifier_like"></div>
        </div>
        <div class="col-md-12">
          <div class="col-md-2"><label for="name_like">Name</label></div><div class="col-md-10"><input type="text" name="name_like" value="<%= params[:name_like] %>" size="<%= size %>" aria-label="name_like"></div></div>
        </div>
        <div class="col-md-12">
          <div class="col-md-2"><label for="entity_id_like">Entity ID</label></div><div class="col-md-10"><input type="text" name="entity_id_like" value="<%= params[:entity_id_like] %>" size="<%= size %>" aria-label="entity_id_like"></div></div>
        </div>
        <div></div>
        <div></div>
      </th>
      <th>
        <div>Affiliations</div>
      </th>
      <th>
        <div>Licenses</div>
        <div>&nbsp;</div>
        <div><button name="submit" type="submit" value="filter">Filter</button></div>
      </th>
    </tr>
    <% institutions.each do |institution| %>
      <tr>
        <td>
          <%= link_to(greensub_institution_path(institution)) do %>
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Show
          <% end %>
        </td>
        <td>
          <div><%= institution.identifier %></div>
          <div><%= institution.name %>&nbsp;</div>
          <div><%= institution.entity_id %>&nbsp;</div>
        </td>
        <td>
          <% institution.institution_affiliations.each do |institution_affiliation| %>
            <div><%= link_to institution_affiliation.dlps_institution_id.to_s + ":" + institution_affiliation.affiliation, greensub_institution_affiliation_path(institution_affiliation) %></div>
          <% end %>
        </td>
        <td><%= institution.licenses.count %></td>
      </tr>
    <% end %>
  </table>
</form>
<%= paginate institutions %>
