<% institutions =  Institution.all %>
<h1>Institutions</h1>
<table class="table table-striped" summary="Institution List">
  <tr>
    <th>Institution <%= link_to(new_institution_path) do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
      <% end %>
    </th>
    <th>Identifier</th>
    <th>Name</th>
    <th>Entity ID</th>
    <th>Products</th>
    <th>Components</th>
    <th>Policies</th>
  </tr>
  <% institutions.each do |institution| %>
    <tr>
      <td><%= link_to institution.id, institution_path(institution) %></td>
      <td><%= institution.identifier %></td>
      <td><%= institution.name %></td>
      <td><%= institution.entity_id %></td>
      <td><%= institution.products.count() %></td>
      <td><%= institution.components.count() %></td>
      <td><%= institution.policies.count() %></td>
    </tr>
  <% end %>
</table>
