<% institution = Institution.find_by(identifier: @identifier) %>
<h1>Institution</h1>
<div class="col-md-12">
  <table class="table table-striped" summary="Institution Detail">
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>id</td>
      <td><%= institution.id %></td>
    </tr>
    <tr>
      <td>identifier</td>
      <td><%= institution.identifier %></td>
    </tr>
    <tr>
      <td>name</td>
      <td><%= institution.name %></td>
    </tr>
    <tr>
      <td>entity_id</td>
      <td><%= institution.entity_id %></td>
    </tr>
    <tr>
      <td>site</td>
      <td><%= institution.site %></td>
    </tr>
    <tr>
      <td>login</td>
      <td><%= institution.login %></td>
    </tr>
  </table>
</div>
<h2>Products</h2>
<div class="col-md-12">
  <%= render partial: '/institutions/products', locals: { institution: institution, products: Greensub.subscriber_products(institution) } %>
</div>
