<% institutions = Greensub::Institution.filter_by(identifier_like: params[:identifier_like], name_like: params[:name_like], entity_id_like: params[:entity_id_like]).order(identifier: :asc).page(params[:page]) %>
<h1>Institutions</h1>
<form name="filter" method="get" action="<%= fulcrum_partials_path(:institutions) %>">
  <table class="table table-striped" summary="Institution List">
    <tr>
      <th>
          <%= link_to(new_greensub_institution_path) do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
          <% end %>
          <div>&nbsp;</div>
          <button name="submit" type="submit" value="filter">Filter</button>
      </th>
      <th>
        <% size = 24 %>
        <div class="col-md-12">
          <div class="col-md-3"><label for="identifier_like">Identifier</label></div>
          <div class="col-md-9"><input type="text" name="identifier_like" value="<%= params[:identifier_like] %>" size="<%= size %>" aria-label="identifier_like"></div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3"><label for="name_like">Name</label></div>
          <div class="col-md-9"><input type="text" name="name_like" value="<%= params[:name_like] %>" size="<%= size %>" aria-label="name_like"></div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3"><label for="name_like">Display Name</label></div>
          <div class="col-md-9"><input type="text" name="display_name_like" value="<%= params[:display_name_like] %>" size="<%= size %>" aria-label="display_name_like"></div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3"><label for="entity_id_like">Entity ID</label></div>
          <div class="col-md-9"><input type="text" name="entity_id_like" value="<%= params[:entity_id_like] %>" size="<%= size %>" aria-label="entity_id_like"></div>
        </div>
      </th>
      <th>
        <div>Affiliations</div>
        <div>Licenses</div>
        <div>Products</div>
      </th>
      <th>&nbsp;</th>
    </tr>
    <% institutions.each do |institution| %>
      <tr>
        <td>
          <%= link_to(greensub_institution_path(institution)) do %>
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Show
          <% end %>
        </td>
        <td>
          <div><%= institution.identifier %></div>
          <div><%= institution.name %>&nbsp;</div>
          <div><%= institution.display_name %>&nbsp;</div>
          <div><%= institution.entity_id %>&nbsp;</div>
        </td>
        <td>
          <div><%= link_to institution.institution_affiliations.count, greensub_institution_inst_affiliations_path(institution) %></div>
          <div><%= link_to institution.licenses.count, greensub_institution_licenses_path(institution) %></div>
          <div><%= link_to institution.products.count, greensub_institution_products_path(institution) %></div>
        </td>
        <td>
          <% if institution.destroy? %>
            <%= link_to(greensub_institution_path(institution), method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' }) do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</form>
<%= paginate institutions %>
