<h1>Jobs</h1>
<div class="col-sm-6">
  <div class="row">
    <h2>Unpack</h2>
  </div>
  <form name="unpack" method="get" action="<%= fulcrum_exec_path(:unpack) %>">
    <div class="row">
      <label for="unpack_noid">NOID</label>
      <input type="text" id="unpack_noid" name="noid" value="validnoid">
    </div>
    <div class="row">
      <label for="kind">Kind&nbsp&nbsp&nbsp</label>
      <select name="kind" id="kind">
        <option value="epub">epub</option>
        <option value="interactive_map">interactive_map</option>
        <option value="pdf_ebook">pdf_ebook</option>
        <option value="webgl">webgl</option>
      </select>
      <button name="submit" type="submit" value="unpack">Unpack</button>
    </div>
  </form>
</div>
<div class="col-sm-6">
  <div class="row">
    <h2>Ingest</h2>
  </div>
  <form name="ingest" method="get" action="<%= fulcrum_exec_path(:ingest) %>">
    <div class="row">
      <label for="token">Token</label>
      <input type="text" id="token" name="token" value="JSON WEB TOKEN">
    </div>
    <div class="row">
      <label for="base">Base&nbsp&nbsp&nbsp</label>
      <input type="text" id="base" name="base" value="https://www.fulcrum.org/api">
    </div>
    <div class="row">
      <label for="ingest_noid">NOID</label>
      <input type="text" id="ingest_noid" name="noid" value="validnoid">
    </div>
    <div class="row">
      <label for="target">Target</label>
      <%= select_tag "target", options_for_select(Press.all.collect { |press| [press.subdomain, press.subdomain] }, 'heliotrope') %>
      <button name="submit" type="submit" value="ingest">Ingest</button>
    </div>
  </form>
</div>
<div class="col-sm-6">
  <div class="row">
    <h2>Handle</h2>
  </div>
  <form name="handle" method="get" action="<%= fulcrum_exec_path(:handle) %>">
    <div class="row">
      <label for="handle_noid">NOID</label>
      <input type="text" id="handle_noid" name="noid" value="validnoid">
    </div>
    <div class="row">
      <label for="handle_job">Action</label>
      <select name="job" id="handle_job">
        <option value="create">create</option>
        <option value="delete">delete</option>
        <option selected="selected" value="verify">verify</option>
      </select>
      <button name="submit" type="submit" value="handle">Handle</button>
    </div>
  </form>
</div>
<div class="col-sm-6">
  <div class="row">
    <h2>APTrust</h2>
  </div>
  <form name="aptrust" method="get" action="<%= fulcrum_exec_path(:aptrust) %>">
    <div class="row">
      <label for="aptrust_noid">NOID</label>
      <input type="text" id="aptrust_noid" name="noid" value="validnoid">
    </div>
    <div class="row">
      <label for="aptrust_job">Action</label>
      <select name="job" id="aptrust_job">
        <option value="deposit">deposit</option>
        <option selected="selected" value="verify">verify</option>
      </select>
      <button name="submit" type="submit" value="aptrust">Aptrust</button>
    </div>
  </form>
</div>
<div class="col-sm-6">
  <div class="row">
    <h2>Migrate</h2>
  </div>
  <form name="migrate" method="get" action="<%= fulcrum_exec_path(:migrate) %>">
    <div class="row">
      <label for="migrate_noid">NOID</label>
      <input type="text" id="migrate_noid" name="noid" value="validnoid">
    </div>
    <div class="row">
      <label for="migrate_job">Kind</label>
      <select name="job" id="migrate_job">
        <option value="transcript">transcript</option>
      </select>
      <button name="submit" type="submit" value="migrate">Migrate</button>
    </div>
  </form>
</div>
<div class="col-sm-6">
  <div class="row">
    <h2>Maintenance</h2>
  </div>
  <div class="row">
    <%= link_to(fulcrum_exec_path(:recache_in_common_metadata), method: :get, class: "btn btn-default", data: { confirm: 'Are you sure?' }) do %>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Recache InCommon Metadata
    <% end %>
  </div>
</div>
<div class="col-sm-6">
  <div class="row">
    <h2>Reindex</h2>
  </div>
  <form name="reindex" method="get" action="<%= fulcrum_exec_path(:reindex) %>">
    <div class="row">
      <label for="reindex_noid">NOID</label>
      <input type="text" id="reindex_noid" name="noid" value="validnoid">
      <button name="submit" type="submit" value="reindex">Reindex</button>
    </div>
  </form>
  <div class="row">
    <%= link_to(fulcrum_exec_path(:reindex_everything), method: :get, class: "btn btn-default", data: { confirm: 'Are you sure?' }) do %>
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Reindex Everything
      <% end %>
    </div>
  <div class="row">
    <%= link_to(fulcrum_exec_path(:reindex_monographs), method: :get, class: "btn btn-default", data: { confirm: 'Are you sure?' }) do %>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Reindex Monographs
    <% end %>
  </div>
  <div class="row">
    <%= link_to(fulcrum_exec_path(:reindex_file_sets), method: :get, class: "btn btn-default", data: { confirm: 'Are you sure?' }) do %>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Reindex Resources
    <% end %>
  </div>
</div>
