<h1>Jobs</h1>
<ul>
  <li>
    <form name="ingest" method="get" action="<%= fulcrum_exec_path(:ingest) %>">
      <label for="ingest_noid">NOID</label>
      <input type="text" id="ingest_noid" name="noid" value="validnoid">
      <label for="base">Base&nbsp&nbsp&nbsp</label>
      <input type="text" id="base" name="base" value="https://www.fulcrum.org/api">
      <label for="target">Target</label>
      <%= select_tag "target", options_for_select(Press.all.collect { |press| [press.subdomain, press.subdomain] }, 'heliotrope') %>
      <label for="token">Token</label>
      <input type="text" id="token" name="token" value="JSON WEB TOKEN">
      <button name="submit" type="submit" value="ingest">Ingest</button>
    </form>
  </li>
  <li>
    <form name="unpack" method="get" action="<%= fulcrum_exec_path(:unpack) %>">
      <label for="unpack_noid">NOID</label>
      <input type="text" id="unpack_noid" name="noid" value="validnoid">
      <label for="kind">Kind&nbsp&nbsp&nbsp</label>
      <select name="kind" id="kind">
        <option value="epub">epub</option>
        <option value="interactive_map">interactive_map</option>
        <option value="pdf_ebook">pdf_ebook</option>
        <option value="webgl">webgl</option>
      </select>
      <button name="submit" type="submit" value="unpack">Unpack</button>
    </form>
  </li>
  <li>
    <form name="handle" method="get" action="<%= fulcrum_exec_path(:handle) %>">
      <label for="handle_noid">NOID</label>
      <input type="text" id="handle_noid" name="noid" value="validnoid">
      <label for="job">Action</label>
      <select name="job" id="job">
        <option value="create">create</option>
        <option value="delete">delete</option>
        <option selected="selected" value="verify">verify</option>
      </select>
      <button name="submit" type="submit" value="handle">Handle</button>
    </form>
  </li>
  <li>
    <form name="aptrust" method="get" action="<%= fulcrum_exec_path(:aptrust) %>">
      <label for="aptrust_noid">NOID</label>
      <input type="text" id="aptrust_noid" name="noid" value="validnoid">
      <label for="job">Action</label>
      <select name="job" id="job">
        <option value="deposit">deposit</option>
        <option selected="selected" value="verify">verify</option>
      </select>
      <button name="submit" type="submit" value="aptrust">Aptrust</button>
    </form>
  </li>
  <li>
    <%= link_to(fulcrum_exec_path(:reindex_everything), method: :get, class: "btn btn-default", data: { confirm: 'Are you sure?' }) do %>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Reindex Everything
    <% end %>
  </li>
  <li>
    <%= link_to(fulcrum_exec_path(:reindex_monographs), method: :get, class: "btn btn-default", data: { confirm: 'Are you sure?' }) do %>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Reindex Monographs
    <% end %>
  </li>
  <li>
    <%= link_to(fulcrum_exec_path(:reindex_file_sets), method: :get, class: "btn btn-default", data: { confirm: 'Are you sure?' }) do %>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Reindex Assets
    <% end %>
  </li>
</ul>
