<% lessees =  Lessee.all %>
<h1>Lessees</h1>
<table class="table table-striped" summary="Lessee List">
  <tr>
    <th>Lessee
      <%= link_to(new_lessee_path) do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
      <% end %></th>
    <th>Identifier</th>
    <th>Products</th>
    <th>Components</th>
    <th>Policies</th>
  </tr>
  <% lessees.each do |lessee| %>
    <tr>
      <td><%= link_to lessee.id, lessee_path(lessee) %></td>
      <td>
        <%= lessee.identifier %>
        <% if lessee.institution? %>
          <%= lessee.institution.name %>
        <% end %>
      </td>
      <td><%= lessee.products.count() %></td>
      <td><%= lessee.components.count() %></td>
      <td><%= lessee.policies.count() %></td>
    </tr>
  <% end %>
</table>
