<% lessees =  Lessee.all %>
<h1>Lessees</h1>
<table class="table table-striped" summary="Lessee List">
  <tr>
    <th></th>
    <th>Lessee
      <%= link_to(new_lessee_path) do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
      <% end %></th>
    <th>Products</th>
    <th>Components</th>
  </tr>
  <% lessees.each do |lessee| %>
    <tr>
      <td>
        <% if lessee.institution? %>
          <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>
        <% end %>
      </td>
      <td>
        <% if lessee.institution? %>
          <%= link_to lessee.institution.name, lessee_path(lessee) %>
        <% else %>
          <%= link_to lessee.identifier, lessee_path(lessee) %>
        <% end %>
      </td>
      <td><%= lessee.products.count() %></td>
      <td><%= lessee.components.count() %></td>
    </tr>
  <% end %>
</table>
