<% products = Greensub::Product.filter_by(identifier_like: params[:identifier_like], name_like: params[:name_like], purchase_like: params[:purchase_like]).order(identifier: :asc).page(params[:page]) %>
<h1>Products</h1>
<form name="filter" method="get" action="<%= fulcrum_partials_path(:products) %>">
  <table class="table table-striped" summary="Product List">
    <tr>
      <th>
        <%= link_to(new_greensub_product_path) do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        <% end %>
        <div>&nbsp;</div>
        <button name="submit" type="submit" value="filter">Filter</button>
      </th>
      <th>
        <% size = 24 %>
        <div class="col-md-12">
          <div class="col-md-2"><label for="identifier_like">Identifier</label></div>
          <div class="col-md-10"><input type="text" name="identifier_like" value="<%= params[:identifier_like] %>" size="<%= size %>" aria-label="identifier_like"></div>
        </div>
        <div class="col-md-12">
          <div class="col-md-2"><label for="name_like">Name</label></div>
          <div class="col-md-10"><input type="text" name="name_like" value="<%= params[:name_like] %>" size="<%= size %>" aria-label="name_like"></div>
        </div>
        <div class="col-md-12">
          <div class="col-md-2"><label for="purchase_like">Purchase</label></div>
          <div class="col-md-10"><input type="text" name="purchase_like" value="<%= params[:purchase_like] %>" size="<%= size %>" aria-label="purchase_like"></div>
        </div>
      </th>
      <th>
        <div>Components</div>
        <div>Individuals</div>
        <div>Institutions</div>
        <div>Licenses</div>
      </th>
    </tr>
    <% products.each do |product| %>
      <tr>
        <td>
          <%= link_to(greensub_product_path(product)) do %>
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Show
          <% end %>
        </td>
        <td>
          <div><%= product.identifier %></div>
          <div><%= product.name %></div>
          <div><%= link_to product.purchase, product.purchase %>&nbsp;</div>
        </td>
        <td>
          <div><%= link_to product.components.count, greensub_product_components_path(product) %></div>
          <div><%= link_to product.individuals.count, greensub_product_individuals_path(product) %></div>
          <div><%= link_to product.institutions.count, greensub_product_institutions_path(product) %></div>
          <div><%= link_to product.licenses.count, greensub_product_licenses_path(product) %></div>
        </td>
      </tr>
    <% end %>
  </table>
</form>
<%= paginate products %>
