<%
  product_noids = ProductNoid.filter(product_like: params[:product_like], noid_like: params[:noid_like]).order(product: :asc).page(params[:page])
  size = 12
%>
<h1>Product NOIDs</h1>
<form name="filter" method="get" action="<%= partial_fulcrum_path(:product_noids) %>">
  <table class="table table-striped" summary="Product Noid List">
    <tr>
      <th>
        <%= link_to(new_product_noid_path) do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        <% end %>
      </th>
      <th><label for="product_like">Product</label></th>
      <th><label for="noid_like">NOID</label></th>
    </tr>
    <% product_noids.each do |product_noid| %>
      <tr>
        <td>
          <%= link_to(product_noid_path(product_noid), method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Destroy
          <% end %>
        </td>
        <td><%= link_to product_noid.product, product_path(product_noid.product_id) %></td>
        <td>
          <% if product_noid.monograph? %>
            <%= link_to "#{product_noid.noid} (monograph)", hyrax_monograph_path(product_noid.noid) %>
          <% elsif product_noid.file_set? %>
            <%= link_to "#{product_noid.noid} (file_set)", hyrax_file_set_path(product_noid.noid) %>
          <% else %>
            <%= "#{product_noid.noid} (unknown)" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td><button name="submit" type="submit" value="filter">Filter</button></td>
      <td><input type="text" name="product_like" value="<%= params[:product_like] %>" size="<%= size %>"></td>
      <td><input type="text" name="noid_like" value="<%= params[:noid_like] %>" size="<%= size %>"></td>
    </tr>
  </table>
</form>
<%= paginate product_noids %>
