<% product = Product.find_by(identifier: @identifier) %>
<h1>Product</h1>
<table class="table table-striped" summary="Product Detail">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>identifier</td>
    <td><%= product.identifier %></td>
  </tr>
  <tr>
    <td>name</td>
    <td><%= product.name %></td>
  </tr>
  <tr>
    <td>purchase</td>
    <td><%= product.purchase %></td>
  </tr>
</table>
<h2>Components</h2>
<ul>
  <% product.components.each do |component| %>
    <li><%= component.noid %></li>
  <% end %>
</ul>
<h2>Policies</h2>
<ul>
  <% product.policies.each do |policy| %>
    <li><%= policy.id %></li>
  <% end %>
</ul>
