<p id="notice"><%= notice %></p>
<div id="maincontent">
  <h1>Product</h1>
  <div class="col-md-1"><em>ID</em></div>
  <div class="col-md-11">&nbsp;<%= @product.id %></div>
  <div class="col-md-1"><em>Identifier</em></div>
  <div class="col-md-11">&nbsp;<%= @product.identifier %></div>
  <div class="col-md-1"><em>Name</em></div>
  <div class="col-md-11">&nbsp;<%= @product.name %></div>
  <div class="col-md-1"><em>Purchase</em></div>
  <div class="col-md-11">&nbsp;<%= @product.purchase %></div>
  <div class="col-md-12"><br/></div>
  <div class="col-md-1"><em>Components</em></div>
  <div class="col-md-11">&nbsp;<%= link_to @product.components.count, greensub_product_components_path(@product) %></div>
  <div class="col-md-12"><br/></div>
  <div class="col-md-1"><em>Individuals</em></div>
  <div class="col-md-11">&nbsp;<%= link_to @product.individuals.count, greensub_product_individuals_path(@product) %></div>
  <div class="col-md-1"><em>Institutions</em></div>
  <div class="col-md-11">&nbsp;<%= link_to @product.institutions.count, greensub_product_institutions_path(@product) %></div>
  <div class="col-md-1"><em>Licenses</em></div>
  <div class="col-md-11">&nbsp;<%= link_to @product.licenses.count, greensub_product_licenses_path(@product) %></div>
  <div class="col-md-12"><br/></div>
  <div class="col-md-12">
    <%= link_to_if @product.update?, 'Edit', edit_greensub_product_path(@product) %>
    <span> | </span>
    <%= link_to 'Back', greensub_products_path %>
    <span> | </span>
    <%= link_to_if @product.destroy?, 'Destroy', greensub_product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="col-md-12"><br/></div>
</div>
