<% if press_presenter.show_accessibility_metadata? %>
  <%
    a11y_presenter = @presenter.epub? ? EpubAccessibilityMetadataPresenter.new(@presenter.solr_document) : PdfAccessibilityMetadataPresenter.new(@presenter.solr_document)
  %>
  <div class="a11y-metadata">
    <p><b>Format:</b> <%= a11y_presenter.a11y_format %></p>

    <% if a11y_presenter.a11y_screen_reader_friendly.present? %>
      <p><b>Screen Reader Friendly:</b> <%= a11y_presenter.a11y_screen_reader_friendly %></p>
    <% end %>

    <% if a11y_presenter.a11y_accessibility_summary.present? %>
      <p><b>Accessibility Summary:</b> <%= a11y_presenter.a11y_accessibility_summary %></p>
    <% end %>

    <% if a11y_presenter.a11y_conforms_to.present? %>
      <p><b>Accessibility Conformance:</b> <%= a11y_presenter.a11y_conforms_to %></p>
    <% end %>

    <% if a11y_presenter.a11y_certified_by.present? %>
      <p><b>Certified By:</b> <%= a11y_presenter.a11y_certified_by %></p>
    <% end %>

    <% if a11y_presenter.a11y_accessibility_hazards.present? %>
      <p><b>Accessibility Hazard:</b> <%= a11y_presenter.a11y_accessibility_hazards.join(', ') %></p>
    <% end %>

    <% if a11y_presenter.a11y_accessibility_features.present? %>
      <p><b>Accessibility Features:</b> <%= a11y_presenter.a11y_accessibility_features.join(', ') %></p>
    <% end %>

    <% if a11y_presenter.a11y_access_modes.present? %>
      <p><b>Access Modes:</b> <%= a11y_presenter.a11y_access_modes.join(', ') %></p>
    <% end %>

    <% if a11y_presenter.a11y_access_modes_sufficient.present? %>
      <p><b>Sufficient Access Modes:</b> <%= a11y_presenter.a11y_access_modes_sufficient.join('; ') %></p>
    <% end %>

    <div class="a11y-buttons row">
      <% if press_presenter.show_request_accessible_copy_button? && a11y_presenter.a11y_screen_reader_friendly != 'yes' && @reader_links_display == :linked %>
        <%# We only link into the reader when a user can actually read the book. Only such users should be able to see this button. %>
        <% press_accessible_copy_request_form_url = press_presenter.accessible_copy_request_form_url

           a11y_request_button_link = if press_accessible_copy_request_form_url.present?
                                        press_accessible_copy_request_form_url
                                      else
                                        a11y_presenter.prepopulated_link_for_accessible_copy_request_form
                                      end
        %>
        <div class="a11y-copy text-center">
          <a class="btn btn-default" href="<%= a11y_request_button_link %>" target="_blank">Request Accessible Copy</a>
        </div>
      <% end %>
    </div>
  </div> <!-- <div class="a11y-metadata"> -->
<% end %>

<%# The Accessibility Webpage URL will always display whenever the "Accessibility Claims" tab is shown. %>
<% accessibility_webpage_url = press_presenter.accessibility_webpage_url || 'https://www.fulcrum.org/accessibility/' %>
<% if accessibility_webpage_url.present? %>
  <p>See the <a href="<%= accessibility_webpage_url %>" target="_blank">accessibility page</a> for more information about the accessibility of this platform and content.</p>
<% end %>
