<% fs_presenter = Hyrax::FileSetPresenter.new(document, nil, nil) %>
<div class="document col-xs-6 col-md-3">
  <div class="thumbnail">
    <% if fs_presenter.use_riiif_for_icon? %>
      <% icon_string = '<img src="/image-service/' + fs_presenter.id + '/full/200,/0/default.png' + fs_presenter&.browser_cache_breaker + '" >' %>
      <% tn = render_thumbnail_tag(document, {}, counter: document_counter_with_offset(document_counter)) %>
      <%= tn.gsub(/<img.*>/, icon_string).html_safe %>
    <% elsif fs_presenter.use_glyphicon? %>
      <% icon_string = '<span class="' + fs_presenter.glyphicon_type + ' file-set-glyphicon" aria-hidden="true"></span>' %>
      <% tn = render_thumbnail_tag(document, {}, counter: document_counter_with_offset(document_counter)) %>
      <%= tn.gsub(/<img.*>/, icon_string + '<br/>').html_safe %>
    <% else %>
      <%= render_thumbnail_tag(document, {alt: fs_presenter.alt_text}, counter: document_counter_with_offset(document_counter)) %>
    <% end %>
    <div class="caption">
      <%= render_document_partials document, blacklight_config.view_config(:gallery).partials, document_counter: document_counter %>
    </div>
    <% if fs_presenter.external_resource? %>
      <% uri =  URI.parse(document.external_resource_url) %>
      <div class="external-resource-link">
        <a href="<%= document.external_resource_url %>" target="_blank"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Open external resource at <%= uri.scheme %>://<%= uri.host %></a>
      </div>
    <% end %>
  </div>
</div>
