<div id="maincontent" class="row monograph-info-epub">
  <% if @monograph_presenter.monograph_coins_title? %>
      <!-- COinS for Zotero, etc -->
      <span class="Z3988" title="<%= @monograph_presenter.monograph_coins_title %>"></span>
  <% end %>
  <div class="col-sm-3 monograph-cover">
    <img class="img-responsive" src="/image-service/<%= @monograph_presenter.representative_id %>/full/225,/0/default.jpg<%= @monograph_presenter.representative_presenter&.image_cache_breaker %>"
         alt="Cover for <%= @monograph_presenter.representative_alt_text %>">
    <% if can? :edit, @monograph_presenter %>
      <a class="btn btn-default manage-monograph-button" href="<%= main_app.monograph_show_path(@monograph_presenter.id) %>" title="<%= t('monograph_catalog.index.show_page_button') %>" data-turbolinks="false"><%= t('monograph_catalog.index.show_page_button') %></a>
      <a class="btn btn-default manage-monograph-button" href="<%= main_app.edit_hyrax_monograph_path(@monograph_presenter.id) %>" title="<%= t('monograph_catalog.index.edit_page_button') %>" data-turbolinks="false"><%= t('monograph_catalog.index.edit_page_button') %></a>
      <p><%= @monograph_presenter.permission_badge %>
      <%= @monograph_presenter.workflow.badge %></p>
    <% end %>
    <%= render 'shared/altmetric_dimensions' %>
    <% if @monograph_presenter.peer_review? %>
      <div><%= @monograph_presenter.peer_review.file.content.force_encoding("UTF-8").html_safe %></div>
    <% end %>
  </div><!-- /.monograph-cover -->
  <div class="col-sm-9 monograph-metadata">
    <h1><%= @monograph_presenter.title %></h1>
    <% if @monograph_presenter.authors? %>
        <span class="authors"><%= render_markdown @monograph_presenter.authors %></span>
    <% end %>
    <% if @monograph_presenter.date_created? %>
    <span aria-label="publication date" class="pubdate"><%= @monograph_presenter.date_created.first %></span>
    <% end %>
    <% if @monograph_presenter.license? %>
      <span class="license"><a aria-label="license" rel="license" href="<%= @monograph_presenter.license.first %>" target="_blank"><%= @monograph_presenter.license_link_content %></a></span>
    <% end %>
    <% if @monograph_presenter.copyright_holder? %>
       <% if @monograph_presenter.holding_contact? %>
        <span aria-label="copyright information and contact" class="copyright">&copy; <a href="<%= @monograph_presenter.holding_contact %>"><%= @monograph_presenter.copyright_holder %></a></span>
       <% else %>
        <span aria-label="copyright information" class="copyright">&copy; <%= @monograph_presenter.copyright_holder %></span>
       <% end %>
    <% end %>
    <% if @monograph_presenter.funder? %>
      <span aria-label="funder" class="funder"><i><%= @monograph_presenter.funder %></i></span>
    <% end %>
    <% if @monograph_presenter.open_access? %>
      <div class="open-access">
        <%= image_tag 'oa-lock-logo.png', alt: "Open Access icon", class: 'img-responsive' %>
        <span>OPEN ACCESS</span>
      </div>
    <% end %>
    <div class="description">
      <%= render_markdown @monograph_presenter.description.first || '' %>
    </div>
    <% if @monograph_presenter.buy_url? || @monograph_presenter.epub? %>
    <!-- TODO: add check for allow download of EPUB or PDF to line 50 -->
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group btn-group-lg" role="group">
            <% if @monograph_presenter.epub? %>
                <a id="monograph-read-btn" href="<%= epub_path(@monograph_presenter.epub) %>" title="<%= t('monograph_catalog.index.read', title: @monograph_presenter.title) %>" aria-label="<%= t('monograph_catalog.index.read', title: @monograph_presenter.title) %>" class="btn btn-default" data-turbolinks="false"><%= t('monograph_catalog.index.read_book') %></a>
            <% end %>
            <% if @ebook_download_presenter.downloadable_ebooks? %>
                <div class="btn-group btn-group-lg">
                  <button type="button" id="monograph-download-btn" target="_blank" title="<%= t('monograph_catalog.index.download', title: @monograph_presenter.title) %>" aria-label="<%= t('monograph_catalog.index.download', title: @monograph_presenter.title) %>" aria-haspopus="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= t('monograph_catalog.index.download_book') %> <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                  <% @ebook_download_presenter.ebook_presenters.each do |ebook| %>
                    <li><a href="<%= hyrax.download_path(ebook.id) %>" target="_blank"><%= ebook.ebook_format %> (<%= number_to_human_size(ebook.file_size) %>)</a></li>
                  <% end %>
                  </ul>
                </div>
            <% end %>
            <% if @monograph_presenter.buy_url? %>
              <a id="monograph-buy-btn" href="<%= @monograph_presenter.buy_url %>" target="_blank" title="<%= t('monograph_catalog.index.buy', title: @monograph_presenter.title) %>" aria-label="<%= t('monograph_catalog.index.buy', title: @monograph_presenter.title) %>" class="btn btn-default" data-turbolinks="false"><%= t('monograph_catalog.index.buy_book') %></a>
            <% end %>
          </div><!-- /.btn-group -->
        </div><!-- /.btn-toolbar -->
    <% end %>
    <% if @monograph_presenter.webgl? %>
      <div id="webgl-message"></div>
    <% end %>

  <div class="additional-metadata">
    <dl>
      <%= @monograph_presenter.attribute_to_html(:series, html_dl: true) %>
      <%= @monograph_presenter.attribute_to_html(:isbn, label: t('isbn'), html_dl: true) %>
      <%= @monograph_presenter.attribute_to_html(:subject, html_dl: true, render_as: :catalog_facet_attribute,
                                                 subdomain: @monograph_presenter.subdomain) %>
      <dt><%= t('citable_link') %></dt>
      <dd>
        <form>
          <label for="permalink" style="display: none;"><%= t('citable_link') %></label>
          <input type="text" class="form-control" id="permalink" aria-label="citable link" value="<%= @monograph_presenter.citable_link %>" readonly="readonly" onclick="this.select(); document.execCommand('copy');" />
        </form>
      </dd>
    </dl>
  </div>

  </div><!-- /.monograph-metadata -->
</div><!-- /.monograph-info-epub -->

<div class="row monograph-assets-toc-epub">
  <div class="col-sm-12" id="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <% if @monograph_presenter.epub? %>
        <li role="presentation" class="active"><a id="tab-toc" href="#toc" data-toggle="tab" role="tab" aria-controls="toc" aria-selected="true" tabindex="0">Table of Contents</a></li>
      <% end %>
      <% if @monograph_presenter.assets? %>
        <% if @monograph_presenter.epub? %>
          <li role="presentation"><a id="tab-media" href="#media" role="tab" data-toggle="tab" aria-controls="media" aria-selected="false" tabindex="-1">Media</a></li>
        <% else %>
          <li role="presentation" class="active"><a id="tab-media" href="#media" data-toggle="tab" role="tab" aria-controls="media" aria-selected="true"  tabindex="0">Media</a></li>
        <% end %>
      <% end %>
      <% if @monograph_presenter.reviews? %>
        <li role="presentation"><a id="tab-reviews" href="#reviews" role="tab" data-toggle="tab" aria-controls="reviews" aria-selected="false" tabindex="-1">Reviews</a></li>
      <% end %>
      <% if @monograph_presenter.related? %>
        <li role="presentation"><a id="tab-related" href="#related" role="tab" data-toggle="tab" aria-controls="related" aria-selected="false" tabindex="-1">Related Titles</a></li>
      <% end %>
      <% if @monograph_presenter.webgl? %>
        <li role="presentation"><a id="tab-webgl" href="#webgl" role="tab" data-toggle="tab" aria-controls="webgl" aria-selected="false" tabindex="-1">3-D Model</a></li>
      <% end %>
      <% if @monograph_presenter.database? %>
        <li role="presentation"><a id="tab-database" href="#database" role="tab" data-toggle="tab" aria-controls="database" aria-selected="false" tabindex="-1">Database</a></li>
      <% end %>
      <% if @monograph_presenter.aboutware? %>
        <li role="presentation"><a id="tab-aboutware" href="#aboutware" role="tab" data-toggle="tab" aria-controls="aboutware" aria-selected="false" tabindex="-1">About</a></li>
      <% end %>
      <li role="presentation"><a id="tab-stats" href="#stats" role="tab" data-toggle="tab" aria-controls="stats" aria-selected="false" tabindex="-1">Stats</a></li>
    </ul>
    <div id="tabs-content" class="tab-content monograph-assets-toc-epub-content" aria-live="polite">
      <% if @monograph_presenter.epub? %>
        <section id="toc" class="tab-pane active fade in toc row" role="tabpanel" aria-hidden="false" aria-labelledby="tab-toc" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">Table of Contents</h2>
            <%= render 'index_epub_toc' %>
          </div>
        </section>
      <% end %>
      <% if @monograph_presenter.assets? %>
        <% if @monograph_presenter.epub? %>
        <section id="media" class="tab-pane fade in media row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-media" tabindex="0">
        <% else %>
        <section id="media" class="tab-pane fade in active media row" role="tabpanel" aria-hidden="false" aria-labelledby="tab-media" tabindex="0">
        <% end %>
          <h2 class="sr-only">Media</h2>
          <div class="col-sm-3 fulcrum_sidebar">
            <%= render 'catalog/search_sidebar' %>
          </div>
          <div class="col-sm-9">
            <div class="content">
              <%= render 'catalog/search_results' %>
            </div><!-- /.content -->
          </div>
        </section>
      <% end %>
      <% if @monograph_presenter.webgl? %>
        <section id="webgl" class="tab-pane fade in webgl row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-webgl" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">3D Model</h2>
            <%= render 'webgls/tab' %>
          </div>
        </section>
      <% end %>
      <% if @monograph_presenter.database? %>
        <section id="database" class="tab-pane fade in database row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-database" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">Database</h2>
            <a href="<%= @monograph_presenter&.database&.external_resource_url %>" target="_blank">Click to open external database <span class="glyphicon glyphicon-share" aria-hidden="true" aria-label="Link to external database"></span></a>
          </div>
        </section>
      <% end %>
      <% if @monograph_presenter.aboutware? %>
        <section id="aboutware" class="tab-pane fade in aboutware row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-aboutware" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">About</h2>
            <%# this assumes that the "aboutware" FileSet is an html doc %>
            <%= @monograph_presenter.aboutware.file.content.force_encoding("UTF-8").html_safe %>
          </div>
        </section>
      <% end %>
      <% if @monograph_presenter.reviews? %>
        <section id="reviews" class="tab-pane fade in reviews row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-reviews" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">Reviews</h2>
            <%# this assumes that the "reviews" FileSet is an html doc %>
            <%= auto_link(@monograph_presenter.reviews.file.content.force_encoding("UTF-8"), html: { target: '_blank' }, sanitize: false).html_safe %>
          </div>
        </section>
      <% end %>
      <% if @monograph_presenter.related? %>
        <section id="related" class="tab-pane fade in related row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-related" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">Related Titles</h2>
            <%# this assumes that the "related" FileSet is an html doc %>
            <%= @monograph_presenter.related.file.content.force_encoding("UTF-8").html_safe %>
          </div>
        </section>
      <% end %>
      <section id="stats" class="tab-pane fade in stats row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-stats" tabindex="0">
        <h2 class="sr-only">Stats</h2>
        <%= render 'stats' %>
      </section>
    </div>
  </div>
</div><!-- /.monograph-assets-toc-epub -->
