<div id="maincontent" class="row monograph-info-epub">
  <% if @presenter.monograph_coins_title? %>
    <!-- COinS for Zotero, etc -->
    <span class="Z3988" title="<%= @presenter.monograph_coins_title %>" aria-hidden="true"></span>
  <% end %>
  <% if @presenter.tombstone? %>
    <div class="alert alert-danger alert-message">
      <%= render_markdown @presenter.monograph_tombstone_message %>
    </div>
  <% end %>
  <div class="col-sm-3 monograph-cover">
    <% if @presenter.tombstone_thumbnail? %>
      <%= @presenter.tombstone_thumbnail_tag(225) %>
    <% else %>
      <% if @presenter.representative_id.present? %>
        <!-- Image trigger modal -->
        <button type="button" class="btn btn-link" aria-label="Select to enlarge cover" data-toggle="modal" data-target="#modalImage">
          <%= @presenter.thumbnail_tag(225, class: "img-responsive", alt: "Cover image for #{@presenter.title}") %>
        </button>

        <!-- Modal image -->
        <div class="modal" id="modalImage" tabindex="-1" role="dialog" aria-label="Select the escape key to close the modal window">
          <button type="button" class="close btn btn-default" id="modalClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= @presenter.poster_tag(tabindex: "-1", alt: '') %>
        </div>

        <script type="text/javascript">
          $(document).on('turbolinks:load', function() {
            $('#modalImage').on('shown.bs.modal', function () {
              $('#modalClose').focus();
            });
          });
        </script>
      <% else %>
        <%= @presenter.thumbnail_tag(225) %>
      <% end %>
    <% end %>
    <% if can? :edit, @presenter %>
      <a class="btn btn-default manage-monograph-button" href="<%= main_app.monograph_show_path(@presenter.id) %>" title="<%= t('monograph_catalog.index.show_page_button') %>" data-turbolinks="false"><%= t('monograph_catalog.index.show_page_button') %></a>
      <a class="btn btn-default manage-monograph-button" href="<%= main_app.edit_hyrax_monograph_path(@presenter.id) %>" title="<%= t('monograph_catalog.index.edit_page_button') %>" data-turbolinks="false"><%= t('monograph_catalog.index.edit_page_button') %></a>
      <p><%= @presenter.permission_badge %>
      <%= @presenter.workflow.badge %></p>
    <% end %>
    <%= render 'shared/altmetric_dimensions' %>
    <% if @presenter.peer_review? %>
      <div><%= @presenter.peer_review.file.content.force_encoding("UTF-8").html_safe %></div>
    <% end %>
  </div><!-- /.monograph-cover -->
  <div class="col-sm-9 monograph-metadata">
    <h1 id="work-title"><%= @presenter.title %></h1>
    <% if @presenter.authors? %>
        <span class="authors"><%= render_markdown @presenter.authors %></span>
    <% end %>
    <% if @presenter.date_created.present? %>
      <span aria-label="publication date"><%= @presenter.date_created.first %></span><% if @presenter.edition_name.present? %><span aria-label="edition name"><%= sanitize @presenter.edition_name %></span><% end %>
    <% end %>
    <% if @presenter.license? %>
      <span class="license"><a aria-label="<%= @presenter.license_alt_text %>" rel="license" href="<%= @presenter.license.first %>" target="_blank"><%= @presenter.license_link_content %></a></span>
    <% end %>
    <% if @presenter.copyright_holder? %>
       <% if @presenter.holding_contact? %>
        <span aria-label="copyright information and contact" class="copyright">&copy; <a href="<%= @presenter.holding_contact %>"><%= @presenter.copyright_holder %></a></span>
       <% else %>
        <span aria-label="copyright information" class="copyright">&copy; <%= @presenter.copyright_holder %></span>
       <% end %>
    <% end %>
    <% if @presenter.funder_display? %>
      <span aria-label="funder display" class="funder_display"><i><%= @presenter.funder_display %></i></span>
    <% end %>
    <% if @presenter.access_level(@actor_product_ids, @allow_read_product_ids).show? %>
      <div class="access">
        <%= @presenter.access_level(@actor_product_ids, @allow_read_product_ids).icon_lg.html_safe %>
        <span><%= @presenter.access_level(@actor_product_ids, @allow_read_product_ids).text.html_safe %></span>
      </div>
    <% end %>
    <div class="description">
      <%= render_markdown @presenter.description.first || '' %>
    </div>
    <% if @presenter.buy_url? || @presenter.reader_ebook? %>
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group btn-group-lg" role="group">
            <% if @presenter.reader_ebook? %>
              <% if @disable_read_button || @presenter.tombstone? %>
                <a id="monograph-read-btn"
                   href=""
                   title="<%= t('monograph_catalog.index.read_book') %>"
                   aria-label="<%= t('monograph_catalog.index.read_book') %>"
                   class="btn btn-default"
                   data-turbolinks="false"
                   aria-disabled="true"
                   disabled>
                   <%= t('monograph_catalog.index.read_book') %>
                </a>
              <% else %>
                <a id="monograph-read-btn"
                   href="<%= epub_path(@presenter.reader_ebook) %>"
                   class="btn btn-default"
                   data-turbolinks="false">
                   <%= t('monograph_catalog.index.read_book') %>
                </a>
              <% end %>
            <% end %>
            <% if @ebook_download_presenter.downloadable_ebooks? && !@presenter.tombstone? %>
                <div class="btn-group btn-group-lg">
                  <button type="button"
                          id="monograph-download-btn"
                          target="_blank"
                          aria-haspopup="true"
                          class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false">
                          <%= t('monograph_catalog.index.download_book') %>
                          <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu monograph-catalog-rep-downloads">
                  <% @ebook_download_presenter.ebook_presenters.each do |ebook| %>
                    <% if @ebook_download_presenter.downloadable?(ebook) %>
                      <li><a data-rep-type="<%= ebook.ebook_format.downcase %>" href="<%= download_ebook_path(ebook.id) %>" <% if @presenter.open_access? || @presenter.access_level(@actor_product_ids, @allow_read_product_ids).level == :free %> onclick="displayModalSurvey();" <% end %> target="_blank"><%= ebook.ebook_format %> (<%= number_to_human_size(ebook.file_size) %>)</a></li>
                    <% end %>
                  <% end %>
                  </ul>
                </div>
            <% end %>
            <% if @presenter.buy_url? %>
              <a id="monograph-buy-btn" href="<%= @presenter.buy_url %>" target="_blank" title="<%= t('monograph_catalog.index.buy', title: @presenter.title) %>" aria-label="<%= t('monograph_catalog.index.buy', title: @presenter.title) %>" class="btn btn-default" data-turbolinks="false"><%= t('monograph_catalog.index.buy_book') %></a>
            <% end %>
          </div><!-- /.btn-group -->
        </div><!-- /.btn-toolbar -->
    <% end %>
    <% if @presenter.previous_edition_url.present? || @presenter.next_edition_url.present? %>
      <div class="edition-links">
      <% if @presenter.previous_edition_url.present? %>
        <div class="edition-link">
          <a href="<%= @presenter.previous_edition_url %>" title="<%= t('monograph_catalog.index.previous_edition', title: @presenter.title) %>" aria-label="<%= t('monograph_catalog.index.previous_edition', title: @presenter.title) %>" data-turbolinks="false"><%= t('monograph_catalog.index.previous_edition_html', title: @presenter.title) %></a>
        </div>
      <% end %>
      <% if @presenter.next_edition_url.present? %>
        <div class="edition-link">
          <a href="<%= @presenter.next_edition_url %>" title="<%= t('monograph_catalog.index.next_edition', title: @presenter.title) %>" aria-label="<%= t('monograph_catalog.index.next_edition', title: @presenter.title) %>" data-turbolinks="false"><%= t('monograph_catalog.index.next_edition_html', title: @presenter.title) %></a>
        </div>
      <% end %>
      </div>
    <% end %>
    <% if @presenter.webgl? %>
      <div id="webgl-message"></div>
    <% end %>

  <div class="additional-metadata">
    <dl>
      <%= @presenter.attribute_to_html(:series, html_dl: true) %>
      <%= @presenter.attribute_to_html(:isbn, label: t('isbn'), html_dl: true) %>
      <%= @presenter.attribute_to_html(:bar_number, label: t('bar_number'), html_dl: true) %>
      <%= @presenter.attribute_to_html(:subject, html_dl: true, render_as: :catalog_facet_attribute,
                                                 subdomain: @presenter.subdomain) %>

      <% unless @presenter.tombstone? %>
        <dt><%= t('citable_link') %></dt>
        <dd>
          <form>
            <label for="permalink" style="display: none;"><%= t('citable_link') %></label>
            <input type="text" class="form-control" id="permalink" aria-label="citable link" value="<%= @presenter.citable_link %>" readonly="readonly" onclick="this.select(); document.execCommand('copy');" />
          </form>
        </dd>
      <% end %>
    </dl>
  </div>

  </div><!-- /.monograph-metadata -->
</div><!-- /.monograph-info-epub -->

<!-- See app/assets/javascripts/application/tabs.js -->
<div class="row monograph-assets-toc-epub">
  <div class="col-sm-12" id="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <% if @presenter.toc? %>
        <li role="presentation">
          <h2>
            <a id="tab-toc" href="#toc" aria-controls="toc" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">Table of Contents</a>
          </h2>
        </li>
      <% end %>
      <% if @presenter.assets? %>
        <li role="presentation">
          <h2>
            <a id="tab-resources" href="#resources" aria-controls="resources" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">Resources</a>
          </h2>
        </li>
      <% end %>
      <% if @presenter.reviews? %>
        <li role="presentation">
          <h2>
            <a id="tab-reviews" href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">Reviews</a>
          </h2>
        </li>
      <% end %>
      <% if @presenter.related? %>
        <li role="presentation">
          <h2>
            <a id="tab-related" href="#related" aria-controls="related" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">Related Titles</a>
          </h2>
        </li>
      <% end %>
      <% if @presenter.webgl? %>
        <li role="presentation">
          <h2>
            <a id="tab-webgl" href="#webgl" aria-controls="webgl" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">3-D Model</a>
          </h2>
        </li>
      <% end %>
      <% if @presenter.database? %>
        <li role="presentation">
          <h2>
            <a id="tab-database" href="#database" aria-controls="database" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">Database</a>
          </h2>
        </li>
      <% end %>
      <% if @presenter.aboutware? %>
        <li role="presentation">
          <h2>
            <a id="tab-aboutware" href="#aboutware" aria-controls="aboutware" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">About</a>
          </h2>
        </li>
      <% end %>
        <li role="presentation">
          <h2>
            <a id="tab-stats" href="#stats" aria-controls="stats" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">Stats</a>
          </h2>
        </li>
    </ul>
    <div id="tabs-content" class="tab-content monograph-assets-toc-epub-content" aria-live="polite">
      <% if @presenter.toc? %>
        <section id="toc" class="tab-pane fade toc row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-toc" tabindex="0">
          <div class="col-sm-12">
            <%= render 'index_epub_toc' %>
          </div>
        </section>
      <% end %>
      <% if @presenter.assets? %>
        <section id="resources" class="tab-pane fade resources row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-resources" tabindex="0">
          <div class="col-sm-3 fulcrum_sidebar">
            <%= render 'catalog/search_sidebar' %>
          </div>
          <div class="col-sm-9">
            <div class="content">
              <%= render 'catalog/search_results' %>
            </div><!-- /.content -->
          </div>
        </section>
      <% end %>
      <% if @presenter.webgl? %>
        <section id="webgl" class="tab-pane fade webgl row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-webgl" tabindex="0">
          <div class="col-sm-12">
            <%= render 'webgls/tab' %>
          </div>
        </section>
      <% end %>
      <% if @presenter.database? %>
        <section id="database" class="tab-pane fade database row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-database" tabindex="0">
          <div class="col-sm-12">
            <a href="<%= @presenter&.database&.external_resource_url %>" target="_blank">Click to open external database <span class="glyphicon glyphicon-share" aria-hidden="true" aria-label="Link to external database"></span></a>
          </div>
        </section>
      <% end %>
      <% if @presenter.aboutware? %>
        <section id="aboutware" class="tab-pane fade aboutware row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-aboutware" tabindex="0">
          <div class="col-sm-12">
            <%# this assumes that the "aboutware" FileSet is an html doc %>
            <%= @presenter.aboutware.file.content.force_encoding("UTF-8").html_safe %>
          </div>
        </section>
      <% end %>
      <% if @presenter.reviews? %>
        <section id="reviews" class="tab-pane fade reviews row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-reviews" tabindex="0">
          <div class="col-sm-12">
            <%# this assumes that the "reviews" FileSet is an html doc %>
            <%= auto_link(@presenter.reviews.file.content.force_encoding("UTF-8"), html: { target: '_blank' }, sanitize: false).html_safe %>
          </div>
        </section>
      <% end %>
      <% if @presenter.related? %>
        <section id="related" class="tab-pane fade related row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-related" tabindex="0">
          <div class="col-sm-12">
            <%# this assumes that the "related" FileSet is an html doc %>
            <%= @presenter.related.file.content.force_encoding("UTF-8").html_safe %>
          </div>
        </section>
      <% end %>
        <section id="stats" class="tab-pane fade stats row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-stats" tabindex="0">
          <%= render 'stats' %>
        </section>
    </div>
  </div>
</div><!-- /.monograph-assets-toc-epub -->
