<div id="maincontent" class="row monograph-info-epub">
  <% if @presenter.monograph_coins_title? %>
      <!-- COinS for Zotero, etc -->
      <span class="Z3988" title="<%= @presenter.monograph_coins_title %>"></span>
  <% end %>
  <div class="col-sm-3 monograph-cover">
    <% if @presenter.representative_id.present? %>
      <!-- Image trigger modal -->
      <button type="button" class="btn btn-link" aria-label="Select to enlarge cover" data-toggle="modal" data-target="#modalImage">
        <%= raw @presenter.work_thumbnail(225) %>
      </button>

      <!-- Modal image -->
      <div class="modal" id="modalImage" tabindex="-1" role="dialog" aria-label="Select the escape key to close the modal window">
        <button type="button" class="close btn btn-default" id="modalClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= image_tag(riiif.image_path(@presenter.representative_id, :full, :full, 0), tabindex: "-1", alt: '') %>
      </div>

      <script type="text/javascript">
        $(document).on('turbolinks:load', function() {
          $('#modalImage').on('shown.bs.modal', function () {
            $('#modalClose').focus();
          });
        });
      </script>
    <% else %>
      <%= raw @presenter.work_thumbnail(225) %>
    <% end %>
    <% if can? :edit, @presenter %>
      <a class="btn btn-default manage-monograph-button" href="<%= main_app.monograph_show_path(@presenter.id) %>" title="<%= t('monograph_catalog.index.show_page_button') %>" data-turbolinks="false"><%= t('monograph_catalog.index.show_page_button') %></a>
      <a class="btn btn-default manage-monograph-button" href="<%= main_app.edit_hyrax_monograph_path(@presenter.id) %>" title="<%= t('monograph_catalog.index.edit_page_button') %>" data-turbolinks="false"><%= t('monograph_catalog.index.edit_page_button') %></a>
      <p><%= @presenter.permission_badge %>
      <%= @presenter.workflow.badge %></p>
    <% end %>
    <%= render 'shared/altmetric_dimensions' %>
    <% if @presenter.peer_review? %>
      <div><%= @presenter.peer_review.file.content.force_encoding("UTF-8").html_safe %></div>
    <% end %>
  </div><!-- /.monograph-cover -->
  <div class="col-sm-9 monograph-metadata">
    <h1><%= @presenter.title %></h1>
    <% if @presenter.authors? %>
        <span class="authors"><%= render_markdown @presenter.authors %></span>
    <% end %>
    <% if @presenter.date_created? %>
    <span aria-label="publication date" class="pubdate"><%= @presenter.date_created.first %></span>
    <% end %>
    <% if @presenter.license? %>
      <span class="license"><a aria-label="license" rel="license" href="<%= @presenter.license.first %>" target="_blank"><%= @presenter.license_link_content %></a></span>
    <% end %>
    <% if @presenter.copyright_holder? %>
       <% if @presenter.holding_contact? %>
        <span aria-label="copyright information and contact" class="copyright">&copy; <a href="<%= @presenter.holding_contact %>"><%= @presenter.copyright_holder %></a></span>
       <% else %>
        <span aria-label="copyright information" class="copyright">&copy; <%= @presenter.copyright_holder %></span>
       <% end %>
    <% end %>
    <% if @presenter.funder? %>
      <span aria-label="funder" class="funder"><i><%= @presenter.funder %></i></span>
    <% end %>
    <% if @presenter.open_access? %>
      <div class="open-access">
        <%= image_tag 'oa-lock-logo.png', alt: "Open Access icon", class: 'img-responsive' %>
        <span>OPEN ACCESS</span>
      </div>
    <% end %>
    <div class="description">
      <%= render_markdown @presenter.description.first || '' %>
    </div>
    <% if @presenter.buy_url? || @presenter.reader_ebook? %>
    <!-- TODO: add check for allow download of EPUB or PDF to line 50 -->
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group btn-group-lg" role="group">
            <% if @presenter.reader_ebook? %>
                <a id="monograph-read-btn"
                   href="<%= epub_path(@presenter.reader_ebook) %>"
                   title="<%= t('monograph_catalog.index.read', title: @presenter.page_title) %>"
                   aria-label="<%= t('monograph_catalog.index.read', title: @presenter.page_title) %>"
                   class="btn btn-default"
                   data-turbolinks="false">
                   <%= t('monograph_catalog.index.read_book') %>
                </a>
            <% end %>
            <% if @ebook_download_presenter.downloadable_ebooks? %>
                <div class="btn-group btn-group-lg">
                  <button type="button"
                          id="monograph-download-btn"
                          target="_blank"
                          title="<%= t('monograph_catalog.index.download', title: @presenter.page_title) %>"
                          aria-label="<%= t('monograph_catalog.index.download', title: @presenter.page_title) %>"
                          aria-haspopup="true"
                          class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false">
                          <%= t('monograph_catalog.index.download_book') %>
                          <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu monograph-catalog-rep-downloads">
                  <% @ebook_download_presenter.ebook_presenters.each do |ebook| %>
                    <% if @ebook_download_presenter.downloadable?(ebook) %>
                      <li><a data-rep-type="<%= ebook.ebook_format.downcase %>" href="<%= download_ebook_path(ebook.id) %>" target="_blank"><%= ebook.ebook_format %> (<%= number_to_human_size(ebook.file_size) %>)</a></li>
                    <% end %>
                  <% end %>
                  </ul>
                </div>
            <% end %>
            <% if @presenter.buy_url? %>
              <a id="monograph-buy-btn" href="<%= @presenter.buy_url %>" target="_blank" title="<%= t('monograph_catalog.index.buy', title: @presenter.title) %>" aria-label="<%= t('monograph_catalog.index.buy', title: @presenter.title) %>" class="btn btn-default" data-turbolinks="false"><%= t('monograph_catalog.index.buy_book') %></a>
            <% end %>
          </div><!-- /.btn-group -->
        </div><!-- /.btn-toolbar -->
    <% end %>
    <% if @presenter.webgl? %>
      <div id="webgl-message"></div>
    <% end %>

  <div class="additional-metadata">
    <dl>
      <%= @presenter.attribute_to_html(:series, html_dl: true) %>
      <%= @presenter.attribute_to_html(:isbn, label: t('isbn'), html_dl: true) %>
      <%= @presenter.attribute_to_html(:subject, html_dl: true, render_as: :catalog_facet_attribute,
                                                 subdomain: @presenter.subdomain) %>
      <dt><%= t('citable_link') %></dt>
      <dd>
        <form>
          <label for="permalink" style="display: none;"><%= t('citable_link') %></label>
          <input type="text" class="form-control" id="permalink" aria-label="citable link" value="<%= @presenter.citable_link %>" readonly="readonly" onclick="this.select(); document.execCommand('copy');" />
        </form>
      </dd>
    </dl>
  </div>

  </div><!-- /.monograph-metadata -->
</div><!-- /.monograph-info-epub -->

<div class="row monograph-assets-toc-epub">
  <div class="col-sm-12" id="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <% if @presenter.reader_ebook? %>
        <li role="presentation" class="active"><a id="tab-toc" href="#toc" data-toggle="tab" role="tab" aria-controls="toc" aria-selected="true" tabindex="0">Table of Contents</a></li>
      <% end %>
      <% if @presenter.assets? %>
        <% if @presenter.reader_ebook? %>
          <li role="presentation"><a id="tab-resources" href="#resources" role="tab" data-toggle="tab" aria-controls="resources" aria-selected="false" tabindex="-1">Resources</a></li>
        <% else %>
          <li role="presentation" class="active"><a id="tab-resources" href="#resources" data-toggle="tab" role="tab" aria-controls="resources" aria-selected="true"  tabindex="0">Resources</a></li>
        <% end %>
      <% end %>
      <% if @presenter.reviews? %>
        <li role="presentation"><a id="tab-reviews" href="#reviews" role="tab" data-toggle="tab" aria-controls="reviews" aria-selected="false" tabindex="-1">Reviews</a></li>
      <% end %>
      <% if @presenter.related? %>
        <li role="presentation"><a id="tab-related" href="#related" role="tab" data-toggle="tab" aria-controls="related" aria-selected="false" tabindex="-1">Related Titles</a></li>
      <% end %>
      <% if @presenter.webgl? %>
        <li role="presentation"><a id="tab-webgl" href="#webgl" role="tab" data-toggle="tab" aria-controls="webgl" aria-selected="false" tabindex="-1">3-D Model</a></li>
      <% end %>
      <% if @presenter.database? %>
        <li role="presentation"><a id="tab-database" href="#database" role="tab" data-toggle="tab" aria-controls="database" aria-selected="false" tabindex="-1">Database</a></li>
      <% end %>
      <% if @presenter.aboutware? %>
        <li role="presentation"><a id="tab-aboutware" href="#aboutware" role="tab" data-toggle="tab" aria-controls="aboutware" aria-selected="false" tabindex="-1">About</a></li>
      <% end %>
      <li role="presentation"><a id="tab-stats" href="#stats" role="tab" data-toggle="tab" aria-controls="stats" aria-selected="false" tabindex="-1">Stats</a></li>
    </ul>
    <div id="tabs-content" class="tab-content monograph-assets-toc-epub-content" aria-live="polite">
      <% if @presenter.reader_ebook? %>
        <section id="toc" class="tab-pane active fade in toc row" role="tabpanel" aria-hidden="false" aria-labelledby="tab-toc" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">Table of Contents</h2>
            <%= render 'index_epub_toc' %>
          </div>
        </section>
      <% end %>
      <% if @presenter.assets? %>
        <% if @presenter.reader_ebook? %>
        <section id="resources" class="tab-pane fade in resources row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-resources" tabindex="0">
        <% else %>
        <section id="resources" class="tab-pane fade in active resources row" role="tabpanel" aria-hidden="false" aria-labelledby="tab-resources" tabindex="0">
        <% end %>
          <h2 class="sr-only">Resources</h2>
          <div class="col-sm-3 fulcrum_sidebar">
            <%= render 'catalog/search_sidebar' %>
          </div>
          <div class="col-sm-9">
            <div class="content">
              <%= render 'catalog/search_results' %>
            </div><!-- /.content -->
          </div>
        </section>
      <% end %>
      <% if @presenter.webgl? %>
        <section id="webgl" class="tab-pane fade in webgl row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-webgl" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">3D Model</h2>
            <%= render 'webgls/tab' %>
          </div>
        </section>
      <% end %>
      <% if @presenter.database? %>
        <section id="database" class="tab-pane fade in database row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-database" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">Database</h2>
            <a href="<%= @presenter&.database&.external_resource_url %>" target="_blank">Click to open external database <span class="glyphicon glyphicon-share" aria-hidden="true" aria-label="Link to external database"></span></a>
          </div>
        </section>
      <% end %>
      <% if @presenter.aboutware? %>
        <section id="aboutware" class="tab-pane fade in aboutware row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-aboutware" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">About</h2>
            <%# this assumes that the "aboutware" FileSet is an html doc %>
            <%= @presenter.aboutware.file.content.force_encoding("UTF-8").html_safe %>
          </div>
        </section>
      <% end %>
      <% if @presenter.reviews? %>
        <section id="reviews" class="tab-pane fade in reviews row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-reviews" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">Reviews</h2>
            <%# this assumes that the "reviews" FileSet is an html doc %>
            <%= auto_link(@presenter.reviews.file.content.force_encoding("UTF-8"), html: { target: '_blank' }, sanitize: false).html_safe %>
          </div>
        </section>
      <% end %>
      <% if @presenter.related? %>
        <section id="related" class="tab-pane fade in related row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-related" tabindex="0">
          <div class="col-sm-12">
            <h2 class="sr-only">Related Titles</h2>
            <%# this assumes that the "related" FileSet is an html doc %>
            <%= @presenter.related.file.content.force_encoding("UTF-8").html_safe %>
          </div>
        </section>
      <% end %>
      <section id="stats" class="tab-pane fade in stats row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-stats" tabindex="0">
        <h2 class="sr-only">Stats</h2>
        <%= render 'stats' %>
      </section>
    </div>
  </div>
</div><!-- /.monograph-assets-toc-epub -->
