<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-lg" role="group">
    <% if @monograph_presenter.reader_ebook? %>
      <% if @disable_read_button || @monograph_presenter.tombstone? %>
        <a id="monograph-read-btn"
           href=""
           title="<%= t('monograph_catalog.index.read_book') %>"
           aria-label="<%= t('monograph_catalog.index.read_book') %>"
           class="btn btn-default"
           data-turbolinks="false"
           aria-disabled="true"
           disabled>
          <%= t('monograph_catalog.index.read_book') %>
        </a>
      <% else %>
        <a id="monograph-read-btn"
           href="<%= princess_de_cleves ? epub_ebook_path(@monograph_presenter.reader_ebook) : epub_path(@monograph_presenter.reader_ebook) %>"
           class="btn btn-default"
           data-turbolinks="false">
          <%= t('monograph_catalog.index.read_book') %>
        </a>
      <% end %>
    <% end %>
    <% if @ebook_download_presenter.downloadable_ebooks? && !@monograph_presenter.tombstone? %>
      <div class="btn-group btn-group-lg">
        <button type="button"
                id="monograph-download-btn"
                target="_blank"
                aria-haspopup="true"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false">
          <%= t('monograph_catalog.index.download_book') %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu monograph-catalog-rep-downloads">
          <% @ebook_download_presenter.ebook_presenters.each do |ebook| %>
            <% if @ebook_download_presenter.downloadable?(ebook) %>
              <li><a data-rep-type="<%= ebook.ebook_format.downcase %>" href="<%= download_ebook_path(ebook.id) %>" <% if @monograph_presenter.open_access? || @monograph_presenter.access_level(@actor_product_ids, @allow_read_product_ids).level == :free %> <% if @monograph_presenter.subdomain == 'bigten' %> onclick="displayBigTenModalSurvey();" <% else %> onclick="displayModalSurvey();" <% end %> <% end %> target="_blank"><%= ebook.ebook_format %> (<%= number_to_human_size(ebook.file_size) %>)</a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @monograph_presenter.buy_url? %>
      <a id="monograph-buy-btn" href="<%= @monograph_presenter.buy_url %>" target="_blank" title="<%= t('monograph_catalog.index.buy', title: @monograph_presenter.title) %>" aria-label="<%= t('monograph_catalog.index.buy', title: @monograph_presenter.title) %>" class="btn btn-default" data-turbolinks="false"><%= t('monograph_catalog.index.buy_book') %></a>
    <% end %>
  </div><!-- /.btn-group -->
</div><!-- /.btn-toolbar -->
