<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-lg" role="group">
    <% if @monograph_presenter.both_ebook_formats_public? && @reader_links_display != :not_shown %>
      <div class="btn-group btn-group-lg" id="monograph-choose-format-group">
        <button type="button"
                id="monograph-choose-format-btn"
                aria-haspopup="true"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false">
          <%= t('monograph_catalog.index.choose_format') %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a href="<%= monograph_catalog_path(@monograph_presenter.id, reader_format: 'epub') %>"
               data-turbolinks="false">EPUB</a>
          </li>
          <li role="menuitem">
            <a href="<%= monograph_catalog_path(@monograph_presenter.id, reader_format: 'pdf') %>"
               data-turbolinks="false">PDF</a>
          </li>
        </ul>
      </div>
    <% end %>
    <% if @reader_links_display == :not_linked %>
      <a id="monograph-read-btn"
         href=""
         title="<%= t('monograph_catalog.index.read_book') %>"
         aria-label="<%= t('monograph_catalog.index.read_book') %>"
         class="btn btn-default disabled"
         data-turbolinks="false"
         aria-disabled="true">
        <%= t('monograph_catalog.index.read_book') %>
      </a>
    <% elsif @reader_links_display == :linked %>
      <%
        reader_ebook_id = @monograph_presenter.reader_ebook_id_for_format(@reader_format)
        reader_ebook_doc = @monograph_presenter.featured_representative_docs.find { |d| d.id == reader_ebook_id }
        reader_ebook_doc ||= @monograph_presenter.reader_ebook
        read_path = if princess_de_cleves
                      epub_ebook_path(reader_ebook_doc)
                    else
                      epub_path(reader_ebook_doc)
                    end
      %>
      <a id="monograph-read-btn"
         href="<%= read_path %>"
         class="btn btn-default"
         data-turbolinks="false">
        <%= t('monograph_catalog.index.read_book') %>
      </a>
    <% end %>
    <% if @ebook_download_presenter.downloadable_ebooks? && !@monograph_presenter.tombstone? %>
      <div class="btn-group btn-group-lg">
        <button type="button"
                id="monograph-download-btn"
                target="_blank"
                aria-haspopup="true"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false">
          <%= t('monograph_catalog.index.download_book') %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu monograph-catalog-rep-downloads">
          <% @ebook_download_presenter.ebook_presenters.each do |ebook| %>
            <% if @ebook_download_presenter.downloadable?(ebook) %>
              <li>
                <a data-rep-type="<%= ebook.ebook_format.downcase %>"
            <%# The "read dashboard" conditional catches analyst admin users but not public readers as `can? :read, @monograph_presenter` would %>
            <% if ebook.ebook_format == 'PDF' %>
              <% if can? :read, :stats_dashboard %>
                   data-confirm='Editors, please note this is not the repository PDF.&#10;It has been compressed and may be watermarked.&#10;&#10;Do not use this file for editing!'
              <% end %>
            <% end %>
                   href="<%= download_ebook_path(ebook.id) %>"
              <% if @monograph_presenter.open_access? || @monograph_presenter.access_level(@actor_product_ids, @allow_read_product_ids).level == :free %>
                <% if @monograph_presenter.subdomain == 'bigten' %>
                   onclick="displayBigTenModalSurvey();"
                <% elsif @monograph_presenter.subdomain == 'aberdeenunipress' %>
                   onclick="displayAberdeenModalSurvey();"
                <% elsif @monograph_presenter.subdomain == 'westminster' %>
                   onclick="displayWestminsterModalSurvey();"
                <% elsif @monograph_presenter.subdomain == 'newprairiepress' %>
                   onclick="displayNewPrairiePressModalSurvey();"
                <% else %>
                   onclick="displayModalSurvey();"
                <% end %>
              <% end %>
                   target="_blank">
                  <%= ebook.ebook_format %> (<%= number_to_human_size(ebook.file_size) %>)
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @monograph_presenter.buy_url? %>
      <a id="monograph-buy-btn" href="<%= @monograph_presenter.buy_url %>" target="_blank" title="<%= t('monograph_catalog.index.buy', title: @monograph_presenter.title) %>" aria-label="<%= t('monograph_catalog.index.buy', title: @monograph_presenter.title) %>" class="btn btn-default" data-turbolinks="false"><%= t('monograph_catalog.index.buy_book') %></a>
    <% end %>
  </div><!-- /.btn-group -->
</div><!-- /.btn-toolbar -->
