<% provide :page_title, @monograph_presenter.title || "Title" %>
<% provide :page_class, 'search monograph' %>

<% provide :page_header do %>
  <!-- breadcrumbs -->
  <div class="row">
    <nav class="breadcrumbs col-sm-12">
      <ol class="breadcrumb">
        <li><a href=<%= "/#{@monograph_presenter.subdomain}" %>>Home</a></li>
        <li class="active"><%= @monograph_presenter.page_title %></li>
      </ol>
    </nav>
  </div>
<% end %>

<% provide :sidebar do %>
  <div id="maincontent" class="monograph-info">
    <!-- COinS for Zotero, etc -->
    <% if defined? @monograph_presenter.monograph_coins_title %>
      <span class="Z3988" title="<%= @monograph_presenter.monograph_coins_title %>"></span>
    <% end %>

    <div class="monograph-cover">
      <%= render 'hyrax/base/representative_media', presenter: @monograph_presenter %>
    </div><!-- /.monograph-cover -->

    <div class="monograph-metadata">
      <h2><%= @monograph_presenter.title || '' %></h2>
      <% if can? :edit, @monograph_presenter %>
        <%= link_to "Manage Monograph and Files", main_app.monograph_show_path(@monograph_presenter.id), class: 'btn btn-primary', id: 'manage-monograph-button' %>
      <% end %>
      <h3><%= @monograph_presenter.creator_given_name %> <%= @monograph_presenter.creator_family_name %><%= contributors_string(@monograph_presenter.contributor) %></h3>

      <% if @monograph_presenter.editors? %>
        <h3>Edited by <%= @monograph_presenter.editors %></h3>
      <% end %>

      <div class="description">
        <%= render_markdown @monograph_presenter.description.first || '' %>
      </div>
      <% pageviews = @monograph_presenter.pageviews %>
      <% unless pageviews.nil? %>
      <div>
        <p>This item has been viewed <b><%= number_with_delimiter pageviews %></b> times.</p>
      </div>
      <% end %>
      <div><p></p></div>
      <div class="isbn">
        <% if defined?(@monograph_presenter.isbn) %>
        <ul class="isbn-hardcover list-unstyled">
          <% @monograph_presenter.isbn.each do |isbn| %>
            <li>ISBN (Hardcover): <%= isbn %></li>
          <% end %>
        </ul>
        <% end %>
        <% if defined?(@monograph_presenter.isbn_paper) %>
        <ul class="isbn-paper list-unstyled">
          <% @monograph_presenter.isbn_paper.each do |isbn_paper| %>
            <li>ISBN (Paper): <%= isbn_paper %></li>
          <% end %>
        </ul>
        <% end %>
        <% if defined?(@monograph_presenter.isbn_ebook) %>
        <ul class="isbn-ebook list-unstyled">
          <% @monograph_presenter.isbn_ebook.each do |isbn_ebook| %>
            <li>ISBN (E-Book): <%= isbn_ebook %></li>
          <% end %>
        </ul>
        <% end %>
      </div> <!-- /.isbn -->

      <% if @monograph_presenter.buy_url? || @monograph_presenter.epub? %>
        <div class="btn-toolbar" role="toolbar" aria-label="">
          <div class="btn-group" role="group" aria-label="">
          <% if @monograph_presenter.epub? %>
            <a id="monograph-read-btn" href="<%= epub_path(@monograph_presenter.epub) %>" title="Read <%= @monograph_presenter.title %>" role="button" class="btn btn-default btn-small">Read Book</a>
          <% end %>
          <% if @monograph_presenter.buy_url? %>
            <a id="monograph-buy-btn" href="<%= @monograph_presenter.buy_url %>" target="_blank" title="Buy <%= @monograph_presenter.title %>" role="button" class="btn btn-default btn-small">Buy Book</a>
          <% end %>
          </div>
        </div>
      <% end %>

    </div><!-- /.monograph-metadata -->
  </div><!-- /.monograph-info -->
  <hr>
  <%= render 'catalog/search_sidebar' %>
  <% end %>

  <div class="content">
    <%= render 'catalog/search_results' %>
  </div>
