<% provide :page_title, @monograph_presenter.title %>
<% provide :page_class, 'search monograph' %>
<% provide :page_header do %>
  <%# render 'shared/survey' %>
  <!-- Temporary message to HEB Users -->
  <% if @monograph_presenter.heb? %>
    <% if @monograph_presenter.heb_id? %>
      <div class="message" role="alert">
        <div class="wrapper">
          <div class="text">ACLS Humanities E-Book has migrated to <a href="https://fulcrum.org" target="_blank">Fulcrum</a>, a new platform for enhanced digital books. Access to the legacy ACLS Humanities E-Book platform will continue until October 1st, 2018, where you can <a href="<%= @monograph_presenter.heb_dlxs_link %>" title="<%= t('monograph_catalog.index.read', title: @monograph_presenter.title) %> on the legacy platform" target="_blank">read this book</a> and others in the collection. If you are having trouble using Fulcrum, <a href="https://goo.gl/forms/mqmDGSe5ihDgWrii1">please let us know</a>.</div>
          <div class="dismiss">
            <button type="button" class="dismiss" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <!-- breadcrumbs -->
  <%= render 'shared/breadcrumbs' %>
<% end %><!-- provide :page_header -->
<%= render 'index_monograph' %>
<% if @monograph_presenter.webgl? %>
  <script>
    if (heliotropeIncompatibleWebGlUser === true ) {
      $('#webgl-message').html('<div class="webgl alert alert-danger alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><strong>Sorry!</strong> This publication has interactive features that are not compatible with your browser or device. <a href="#aboutware">Learn more here</a>. If you continue on, you can still read the publication but the 3D model will not load.</p></div>');
    } else {
      $('#webgl-message').html('<div class="webgl alert alert-info alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p>This publication has interactive features that require a supported browser, hardware, and reliable network connection to interact with a 3D model. <a href="#aboutware">Learn more here</a>.</p></div>');
    }
  </script>
<% end %>

<% if @monograph_presenter.workflow.state != "deposited" && @monograph_presenter.workflow.actions.present? %>
  <div class="workflow-actions">
    <div id="workflow_controls"class="panel panel-default workflow-affix">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#workflow_controls_collapse">
          <h2 class="panel-title">Review and Approval</h2>
        </a>
      </div>
      <div id="workflow_controls_collapse" class="row panel-body panel-collapse collapse">
        <%= form_tag hyrax_workflow_action_path(@monograph_presenter), method: :put do %>
          <div class="col-sm-3 workflow-actions">
            <h3>Actions</h3>

            <% @monograph_presenter.workflow.actions.each do |key, label| %>
              <div class="radio">
                <label>
                  <input type="radio" name="workflow_action[name]" id="workflow_action_name_<%= key %>" value="<%= key %>">
                  <%= label %>
                </label>
              </div>
            <% end %>
          </div>
          <div class="col-sm-9 workflow-comments">
            <div class="form-group">
              <label for="workflow_action_comment">Review comment:</label>
              <textarea class="form-control" name="workflow_action[comment]" id="workflow_action_comment"></textarea>
            </div>

            <input class="btn btn-primary" type="submit" value="Submit">

            <h4>Previous Comments</h4>
            <dl>
              <% @monograph_presenter.workflow.comments.each do |comment| %>
                <dt><%= comment.name_of_commentor %></dt>
                <dd><%= comment.comment %></dd>
              <% end %>
            </dl>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
