<% provide :page_title, 'Purchase ' + @presenter.page_title %>
<div id="maincontent" class="purchase">
   <div class="row">
    <div class="col-sm-12 margin-padding">
      <%= link_to "<< Go back to previous page", monograph_catalog_path(@presenter.id) %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 margin-padding">
      <div class="col-sm-12 border-padding">
        <h1 class="heading">Purchase access</h1>
        <%= @press_presenter.restricted_message %>
      </div>
    </div>
    <div class="col-sm-4 margin-padding">
      <div class="col-sm-12 border-padding">
        <h2 class="heading">The book you're looking for:</h2>
        <div class="col-sm-3">
          <% if @presenter.representative_id.present? %>
            <%= @presenter.thumbnail_tag(225, class: "img-responsive") %>
          <% else %>
            <%= @presenter.thumbnail_tag(225) %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <%= @presenter.title %>
        </div>
      </div>
    </div>
  </div>
</div>
