<div id="maincontent" class="row monograph-info-epub">
  <% if @presenter.monograph_coins_title? %>
      <!-- COinS for Zotero, etc -->
      <span class="Z3988" title="<%= @presenter.monograph_coins_title %>" aria-hidden="true"></span>
  <% end %>
  <div class="col-sm-3 monograph-cover">
    <%= @presenter.thumbnail_tag(225) %>
    <% if can? :edit, @presenter %>
      <a class="btn btn-default manage-monograph-button" href="<%= main_app.score_show_path(@presenter.id) %>" title="<%= t('score_catalog.index.show_page_button') %>" data-turbolinks="false"><%= t('score_catalog.index.show_page_button') %></a>
      <a class="btn btn-default manage-monograph-button" href="<%= main_app.edit_hyrax_score_path(@presenter.id) %>" title="<%= t('score_catalog.index.edit_page_button') %>" data-turbolinks="false"><%= t('score_catalog.index.edit_page_button') %></a>
      <p><%= @presenter.permission_badge %>
      <%= @presenter.workflow.badge %></p>
    <% end %>
  </div><!-- /.monograph-cover -->
  <div class="col-sm-9 monograph-metadata">
    <h1 id="work-title"><%= @presenter.title %></h1>
    <span class="authors"><%= @presenter.composer %></span>
    <% if @presenter.date_created? %>
    <span aria-label="publication date" class="pubdate"><%= @presenter.date_created.first %></span>
    <% end %>
    <% if @presenter.license? %>
      <span class="license"><a aria-label="<%= @presenter.license_alt_text %>" rel="license" href="<%= @presenter.license.first %>" target="_blank"><%= @presenter.license_link_content %></a></span>
    <% end %>
    <div class="description">
      <%= @presenter.description.first || '' %>
    </div>
    <% if @presenter.reader_ebook? %>
    <!-- TODO: add check for allow download of EPUB or PDF to line 50 -->
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group btn-group-lg" role="group">
            <% if @presenter.reader_ebook? %>
                <a id="monograph-read-btn"
                   href="<%= epub_path(@presenter.reader_ebook) %>"
                   class="btn btn-default"
                   data-turbolinks="false">
                   <%= t('monograph_catalog.index.read_book') %>
                </a>
            <% end %>
            <% if @ebook_download_presenter.downloadable_ebooks? %>
                <div class="btn-group btn-group-lg">
                  <button type="button"
                          id="monograph-download-btn"
                          target="_blank"
                          aria-haspopup="true"
                          class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false">
                          <%= t('monograph_catalog.index.download_book') %>
                          <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu monograph-catalog-rep-downloads">
                  <% @ebook_download_presenter.ebook_presenters.each do |ebook| %>
                    <% if @ebook_download_presenter.downloadable?(ebook) %>
                      <li><a data-rep-type="<%= ebook.ebook_format.downcase %>" href="<%= download_ebook_path(ebook.id) %>" target="_blank"><%= ebook.ebook_format %> (<%= number_to_human_size(ebook.file_size) %>)</a></li>
                    <% end %>
                  <% end %>
                  </ul>
                </div>
            <% end %>
          </div><!-- /.btn-group -->
        </div><!-- /.btn-toolbar -->
    <% end %>

  <div class="additional-metadata">
    <h3>Score Information</h3>
    <dl>
      <%= @presenter.attribute_to_html(:octave_compass, html_dl: true) %>
      <%= @presenter.attribute_to_html(:bass_bells_required, html_dl: true) %>
      <%= @presenter.attribute_to_html(:bass_bells_omitted, html_dl: true) %>
      <%= @presenter.attribute_to_html(:solo, html_dl: true) %>
      <%= @presenter.attribute_to_html(:amplified_electronics, html_dl: true) %>
      <%= @presenter.attribute_to_html(:electronics_without_adjustment, html_dl: true) %>
      <%= @presenter.attribute_to_html(:musical_presentation, html_dl: true) %>
      <%= @presenter.attribute_to_html(:recommended_for_students, html_dl: true) %>
      <%= @presenter.attribute_to_html(:composer_diversity, html_dl: true) %>
      <%= @presenter.attribute_to_html(:appropriate_occasion, html_dl: true) %>
      <%= @presenter.attribute_to_html(:number_of_movements, html_dl: true) %>
      <%= @presenter.attribute_to_html(:premiere_status, html_dl: true) %>
    </dl>
  </div>

  </div><!-- /.monograph-metadata -->
</div><!-- /.monograph-info-epub -->

<div class="row monograph-assets-toc-epub">
  <div class="col-sm-12" id="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <% if @presenter.toc? %>
        <li role="presentation">
          <h2>
            <a id="tab-toc" href="#toc" aria-controls="toc" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">Table of Contents</a>
          </h2>
        </li>
      <% end %>
      <% if @presenter.assets? %>
        <li role="presentation">
          <h2>
            <a id="tab-resources" href="#resources" aria-controls="resources" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">Resources</a>
          </h2>
        </li>
      <% end %>
      <li role="presentation">
        <h2>
          <a id="tab-stats" href="#stats" aria-controls="stats" role="tab" data-toggle="tab" aria-selected="false" aria-expanded="false" tabindex="-1">Stats</a>
        </h2>
      </li>
    </ul>
    <div id="tabs-content" class="tab-content monograph-assets-toc-epub-content" aria-live="polite">
      <% if @presenter.toc? %>
        <section id="toc" class="tab-pane fade toc row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-toc" tabindex="0">
          <div class="col-sm-12">
            <%= render 'index_epub_toc' %>
          </div>
        </section>
      <% end %>
      <% if @presenter.assets? %>
        <section id="resources" class="tab-pane fade resources row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-resources" tabindex="0">
          <div class="col-sm-3 fulcrum_sidebar">
            <%= render 'catalog/search_sidebar' %>
          </div>
          <div class="col-sm-9">
            <div class="content">
              <%= render 'catalog/search_results' %>
            </div><!-- /.content -->
          </div>
        </section>
      <% end %>
      <section id="stats" class="tab-pane fade stats row" role="tabpanel" aria-hidden="true" aria-labelledby="tab-stats" tabindex="0">
        <%= render 'stats' %>
      </section>
    </div>
  </div>
</div><!-- /.monograph-assets-toc-epub -->
