<p id="notice"><%= notice %></p>
<div id="maincontent">
  <h1>Entity</h1>
  <div class="col-md-2"><em>ID</em></div>
  <div class="col-md-10"><%= @entity.id %></div>
  <div class="col-md-2"><em>Type</em></div>
  <div class="col-md-10"><%= @entity.type %></div>
  <div class="col-md-2"><em>Identifier</em></div>
  <div class="col-md-10"><%= @entity.identifier %></div>
  <div class="col-md-2"><em>name</em></div>
  <div class="col-md-10"><%= @entity.name %></div>
  <div class="col-md-12"><br/></div>
  <div class="col-md-12">
    Edit
    <span> | </span>
    <%= link_to 'Back', entities_path %>
  </div>
  <div class="col-md-12"><br/></div>
</div>
