<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="row"><h1><%= t('monograph_manifests.preview.h1') %></h1></div>
      <div class="row">
        <div class="col-md-5">
          <div class="row"><hr/></div>
          <div class="row"><h2><%= t('monograph_manifests.preview.h2.monograph', noid: @presenter.id) %></h2></div>
          <div class="row"><hr/></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="row"><hr/></div>
          <div class="row"><h2><%= t('monograph_manifests.preview.h2.manifest', filename: @presenter.explicit.filename) %></h2></div>
          <div class="row"><hr/></div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <%= form_for @monograph_manifest, url: import_monograph_manifests_path do |f| %>
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-2"><%= f.submit t('monograph_manifests.preview.cancel'), name: :cancel, class: "btn btn-primary" %></div>
          <div class="col-md-4"><%= f.submit t('monograph_manifests.preview.import'), name: :import, class: "btn btn-primary", disabled: @presenter.equivalent? %></div>
        <% end %>
      </div>
    </div>
    <%
    i = @presenter.implicit.table_rows.count
    m = @presenter.explicit.table_rows.count
    n = i > m ? i : m
    (0..n-1).each do |row|
      implicit_row = @presenter.implicit.table_rows[row] if row < i
      explicit_row = @presenter.explicit.table_rows[row] if row < m
    %>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <% if row < i %>
              <div class="row"><hr/></div>
              <div class="row"><%= implicit_row[1] %></div>
              <div class="row"><hr/></div>
              <% implicit_row[3].each do |pair| %>
                <div class="row">
                  <div class="col-md-4"><%= pair[0] %></div>
                  <div class="col-md-8"><%= pair[1] %></div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="row">
            <% if row < m %>
              <div class="row"><hr/></div>
              <div class="row"><%= explicit_row[1] %></div>
              <div class="row"><hr/></div>
              <% explicit_row[3].each do |pair| %>
                <div class="row">
                  <div class="col-md-4"><%= pair[0] %></div>
                  <div class="col-md-8"><%= pair[1] %></div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
     <% end %>
     <div class="row"><hr></div>
  </div>
</div>
