<h1>API Requests</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th>Timestamp</th>
          <th>User</th>
          <th>Action</th>
          <th>Request</th>
          <th>Response</th>
          <th>Exception</th>
          <th>Filter</th>
        </tr>
        <tr>
          <form name="filter" method="get" action="<%= api_requests_path %>">
          <% size = 6 %>
          <td><input type="text" name="created_at_like" value="<%= params[:created_at_like] %>" size="<%= size * 3 %>" aria-label="created_at_like"></td>
          <td><input type="text" name="user_id_like" value="<%= params[:user_id_like] %>" size="<%= size %>" aria-label="user_id_like"></td>
          <td><input type="text" name="action_like" value="<%= params[:action_like] %>" size="<%= size  %>" aria-label="action_like"></td>
          <td><input type="text" name="path_like" value="<%= params[:path_like] %>" size="<%= size * 4 %>" aria-label="path_like"></td>
          <td><input type="text" name="status_like" value="<%= params[:status_like] %>" size="<%= size %>" aria-label="status_like"></td>
          <td><input type="text" name="exception_like" value="<%= params[:exception_like] %>" size="<%= size * 4 %>" aria-label="exception_like"></td>
          <td><button name="submit" type="submit" value="filter">Filter</button></td>
          </form>
        </tr>
      <% @api_requests.each do |api_request| %>
        <tr>
          <td><%= api_request.created_at %></td>
          <td><%= api_request.user_id %></td>
          <td><%= api_request.action %></td>
          <td><%= api_request.path %></td>
          <td><%= api_request.status %></td>
          <td><%= api_request.exception %></td>
          <td><%= link_to 'Show', api_request %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><br/></div>
  </div>
  <div class="row">
    <div class="col-md-12"><%= paginate @api_requests %></div>
  </div>
  <div class="row">
    <div class="col-md-12"><br/></div>
  </div>
</div>
