<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>API Request</h1></div>
    <div class="col-md-12"><%= @api_request.created_at %></div>
    <div class="col-md-12"><%= @api_request.user_id %></div>
    <div class="col-md-12"><%= @api_request.action %> <%= @api_request.path %></div>
    <div class="col-md-12"><%= @api_request.params %></div>
    <div class="col-md-12"><%= @api_request.status %></div>
    <div class="col-md-12"><%= @api_request.exception %></div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12">
      <%= link_to 'Back', api_requests_path %>
    </div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
