<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>Individual</h1></div>
    <div class="col-md-1"><em>Identifier</em></div>
    <div class="col-md-11"><%= @individual.identifier %></div>
    <div class="col-md-1"><em>Identifier</em></div>
    <div class="col-md-11"><%= @individual.name %></div>
    <div class="col-md-1"><em>Identifier</em></div>
    <div class="col-md-11"><%= @individual.email %></div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12">
      <%= link_to 'Edit', edit_individual_path(@individual) %>
      <span> | </span>
      <%= link_to 'Back', individuals_path %>
    </div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
