<% if press_presenter.present? %>
  <% if %w[heb].include? press_presenter.subdomain %>
  # TODO: refactor to reduce markup redundancies and logic/subdomain on logo only
    <div class="container py-3">
        <div class="row justify-content-end">
          <div class="col-md-8">
          <a class="navbar-brand" href="<%= press_presenter.url %>">
            <%= image_tag "HEB-REDBLACK_NOFILL_CROP.svg", class: 'navbar-brand-logo', alt: 'ACLS Humanities EBook', height: '70', width: 'auto' %><h1>ACLS<br/> Humanities Ebook</h1>
          </a>
          </div>
          <div class="col-md-4 pt-3">
            <%= render 'shared/brand_site_search' %>
            <% if press_presenter.navigation_block.present? %>
              <%= press_presenter.navigation_block.html_safe %>
            <% end %>
          </div> 
        </div>
    </div>    
  <% elsif %w[michigan].include? press_presenter.subdomain %>
    <div class="container py-3">
        <div class="row justify-content-end">
          <div class="col-md-8">
          <a class="navbar-brand" href="<%= press_presenter.url %>">
            <%= image_tag "UMP-Logo-MASTER-BLUE.svg", class: 'navbar-brand-logo', alt: 'University of Michigan Press Ebook Collection', height: '70', width: 'auto' %><h1>University of Michigan Press<br/> Ebook Collection</h1>
          </a>
          </div>
          <div class="col-md-4 pt-3">
            <%= render 'shared/brand_site_search' %>
            <% if press_presenter.navigation_block.present? %>
              <%= press_presenter.navigation_block.html_safe %>
            <% end %>
          </div> 
        </div>
    </div>
  <% elsif %w[bigten].include? press_presenter.subdomain %>
    <div class="container py-3">
      <div class="row justify-content-end">
        <div class="col-md-8">
        <a class="navbar-brand" href="<%= press_presenter.url %>">
          <%= image_tag "btaa-blue.svg", class: 'navbar-brand-logo', alt: 'Big Ten Academic Allliance', height: '70', width: 'auto' %><h1>Big Ten<br/> Open Books</h1>
        </a>
        </div>
        <div class="col-md-4 pt-3">
          <%= render 'shared/brand_site_search' %>
          <% if press_presenter.navigation_block.present? %>
            <%= press_presenter.navigation_block.html_safe %>
          <% end %>
        </div> 
      </div>
    </div>
  <% elsif %w[aperio].include? press_presenter.subdomain %>
    <div class="container py-3">
      <div class="row">
        <div class="col-md-8">
          <a class="navbar-brand" href="<%= press_presenter.url %>">
            <h1>aperio</h1>
          </a>
          <span class="text-light garamond"><em>A service of the University of Virginia</em></span>
        </div>
        <div class="col-md-4 pt-3">
          <%= render 'shared/brand_site_search' %>
          <% if press_presenter.navigation_block.present? %>
            <%= press_presenter.navigation_block.html_safe %>
          <% end %>
        </div> 
      </div>
    </div>
    <% elsif %w[aberdeenunipress].include? press_presenter.subdomain %>
    <div class="container py-3">
      <div class="row">
        <div class="col-md-8">
          <a class="navbar-brand" href="<%= press_presenter.url %>">
            <%= image_tag "aberdeen.svg", class: 'navbar-brand-logo', alt: '', height: '75px', width: 'auto' %>
          </a>
        </div>
        <div class="col-md-4 pt-3">
          <%= render 'shared/brand_site_search' %>
          <% if press_presenter.navigation_block.present? %>
            <%= press_presenter.navigation_block.html_safe %>
          <% end %>
        </div> 
      </div>
    </div>
    <% elsif %w[vermont].include? press_presenter.subdomain %>
    <div class="container py-2">
      <div class="row">
        <div class="col-md-8">
          <a class="navbar-brand" href="<%= press_presenter.url %>">
            <%= image_tag "VermontLogo-Green.svg", class: 'navbar-brand-logo', alt: '', height: '60px', width: 'auto' %>
            <span class="logo">Press</span>
          </a>
        </div>
        <div class="col-md-4 pt-3">
          <%= render 'shared/brand_site_search' %>
          <% if press_presenter.navigation_block.present? %>
            <%= press_presenter.navigation_block.html_safe %>
          <% end %>
        </div> 
      </div>
    </div>
  <% else %>
    <% if %w[leverpress amherst].include? press_presenter.subdomain %>
      <nav id="brand-bar" class="navbar navbar-expand-lg navbar-light fixed-top">
    <% else %>
      <nav id="brand-bar" class="navbar navbar-expand-lg navbar-light">
    <% end %>
      <div class="container">
      <!-- brand and toggle grouped together -->
        
        <% if press_presenter.subdomain == 'leverpress' %>  
          <a class="navbar-brand" href="<%= press_presenter.url %>">
            <%= image_tag "LeverLogo.svg", class: 'navbar-brand-logo', alt: 'Lever Press', height: '70', width: 'auto' %><%= press_presenter.name %>
          </a>
        <% elsif press_presenter.subdomain == 'amherst' %>
          <a class="navbar-brand" href="<%= press_presenter.url %>">
            <%= image_tag "AmherstLogo.svg", class: 'navbar-brand-logo', alt: 'Amherst College Press', height: '70', width: 'auto' %>
          </a>
        <% elsif press_presenter.subdomain == 'barpublishing' %>
          <a class="navbar-brand" href="<%= main_app.press_catalog_path(press_presenter.press) %>">
              <%= image_tag "bar-digital-logo.png", class: 'navbar-brand-logo', alt: 'BAR Publishing', height: '70', width: 'auto' %>
          </a>
        <% elsif press_presenter.subdomain == 'mps' %>
          <a class="navbar-brand" href="<%= press_presenter.url %>">
            <%= image_tag "mps.png", class: 'navbar-brand-logo', alt: '', height: '40', width: 'auto' %><%= press_presenter.name %>
          </a>
        <% elsif press_presenter.subdomain == 'michelt' %>
          <a class="navbar-brand" href="<%= press_presenter.url %>">
            <%= image_tag "elt_banner.png", class: 'navbar-brand-logo', alt: '', height: '67', width: 'auto' %><div class="sr-only"><%= press_presenter.name %></div>
          </a>
        <% elsif press_presenter.subdomain == 'bridwell' %>
          <a class="navbar-brand" href="<%= press_presenter.url %>">
            <%= image_tag "bridwell-press-logo-white.svg", class: 'navbar-brand-logo', alt: '', height: '67', width: 'auto' %><div class="sr-only"><%= press_presenter.name %></div>
          </a>
        <% end %>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#brand-bar-nav" aria-controls="brand-bar-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="navbar-collapse collapse" id="brand-bar-nav">
          <% if press_presenter.navigation_block.present? %>
            <%= press_presenter.navigation_block.html_safe %>
          <% end %>
          <% if press_presenter.present? %>
            <% if press_presenter.subdomain == 'mps' %>
              <% if current_user && show_site_actions? %>
                <%= render 'shared/my_actions' %>
              <% end %>
            <% end %>
          <% end %>
          <%= render 'shared/site_search' %>
      </div>

    </div>
  </nav>
  <% end %>
<% end %>