<footer class="press">
  <div class="container-fluid">
    <div class="row col-wrap">

      <%= render 'shared/brand_press_footer_block_a' %>

      <%= render 'shared/brand_press_footer_block_b' %>

      <%= render 'shared/brand_fulcrum_footer_block' %>

    </div>
    <div class="row press-block-c">
      <%= render 'shared/brand_press_footer_block_c' %>
    </div>
  </div>
</footer>
<%= render 'shared/ga' %>
