<nav id="brand-bar" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- brand and toggle grouped together -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#brand-bar-nav" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if defined?(@press.name) %>
        <a class="navbar-brand" href="<%= main_app.press_catalog_path(@press) %>"><%= @press.name %></a>
      <% elsif defined?(@monograph_presenter.press) %>
        <a class="navbar-brand" href="<%= main_app.press_catalog_path(@monograph_presenter.press_obj) %>"><%= @monograph_presenter.press %></a>
      <% elsif defined?(@presenter.monograph.press) %>
        <a class="navbar-brand" href="<%= main_app.press_catalog_path(@presenter.monograph.press_obj) %>"><%= @presenter.monograph.press %></a>
      <% else %>
        <a class="navbar-brand" href="#">University Press</a>
      <% end %>
    </div>

    <!-- search -->
    <% if show_site_search? %>
      <%= render 'shared/site_search' %>
    <% end %>

    <div class="collapse navbar-collapse" id="brand-bar-nav">
      <div class="navbar-right">
        <% if current_user && show_site_actions? %>
          <%= render 'shared/my_actions' %>
        <% elsif current_institutions? %>
          <%= render 'shared/institutions' %>
        <% else %>
          <a href="/" title="Fulcrum" data-turbolinks="false"><%= image_tag "fulcrum-mark-white-30px.png", class: 'logo', alt: 'Fulcrum Beta logo' %></a> <a class="beta" href="/beta" title="Fulcrum Beta information" data-turbolinks="false">beta</a>
        <% end %>
      </div>
    </div>
  </div>
</nav>
