<footer class="press">
  <div class="container">
    <div class="row">
    <% if press_presenter.present? %>
        <% if %w[heb].include? press_presenter.subdomain %>
        <%= render 'shared/brand_press_footer_block_a' %>
        <% else %>
        <div class="col-md-6 press-block-a">
            <%= render 'shared/brand_press_footer_block_a' %>
        </div>
        <% end %>
    <% end %>
            <%= render 'shared/brand_press_footer_block_b' %>
    </div>
    <div class="row press-block-c">
        <div class="col-md-6">
            <%= render 'shared/brand_press_footer_block_c' %>
        </div>
        <div class="col-md-6 text-right">
            <small>Powered by</small> <a href="https://fulcrum.org/"><%= image_tag "fulcrum-full-white.svg", class: 'fulcrum', alt: 'Fulcrum logo', height: '20', width: 'auto' %></a> <span class="admin"><small>· <% if current_user %> <%= link_to 'Log Out', main_app.destroy_user_session_path, class: 'log-out', 'data-turbolinks': 'false' %> <% else %> <%= link_to 'Log In', main_app.default_login_path, class: 'login', 'data-turbolinks': 'false' %> <% end %></small></span>
        </div>

    </div>
  </div>
</footer>
<%= render 'shared/ga' %>
