<ul class="navbar-nav mr-auto">
  
  <li class="nav-item dropdown my-actions">
    <a class="nav-link dropdown-toggle" id="adminDropdown" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#">
      Admin
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="adminDropdown">      
      <% show_fulcrum_link = current_user&.platform_admin? %>
      <% show_dashboard_link = current_user.groups.length.positive? %>
      <% include_collections_link ||= can?(:create, Collection) %>
      <% show_jobs_link = current_user&.platform_admin? %>
      <%
        show_users_link = @press && (
          current_user.platform_admin? ||
          current_user.roles.where(role: 'admin', resource_id: @press.id, resource_type: 'Press').first
        )
      %>

      <% if show_fulcrum_link %>
        <%= link_to 'Fulcrum Admin', main_app.fulcrum_path, role: 'menuitem', class: 'dropdown-item'  %>
      <% end %>
      <% if show_users_link && !@press.new_record? %>
        <%= link_to "Manage Users", main_app.press_roles_path(@press), class: 'dropdown-item' %>
      <% end %>
      <% if show_jobs_link %>
        <%= link_to "Resque Jobs", main_app.resque_web_path, class: 'dropdown-item' %>
      <% end %>
      <% if show_jobs_link || show_users_link %>
        <div class="dropdown-divider"></div>
      <% end %>

      <% if show_dashboard_link %>
        <%= link_to 'Content Dashboard', hyrax.dashboard_path, role: 'menuitem', class: 'dropdown-item'  %>
        <%= render 'shared/add_content' %>
      <% end %>

      <%= link_to 'Log Out', main_app.destroy_user_session_path, class: 'log-out dropdown-item', role: 'menuitem' %></li>
    </div>
  </li>
</ul>
