<ul class="nav navbar-nav navbar-right">
  <%= render 'shared/add_content' %>
  <%= render 'shared/locale_picker' if available_translations.size > 1 %>
  <!-- We're not using these yet but when we do they're in hyrax views/hyrax/notifications/_notifications.html.erb
  <li>
    <%= render_notifications(user: current_user) %>
  </li>
  -->
  <li class="dropdown my-actions">
    <a class="dropdown-toggle user-display-name" data-toggle="dropdown" href="#">
      <%= current_user.user_key %>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
      <li><%= link_to 'Fulcrum', main_app.fulcrum_path, role: 'menuitem'  %></li>
      <li class="divider"></li>
      <li><%= link_to 'Dashboard', hyrax.dashboard_path, role: 'menuitem'  %></li>
      <li class="divider"></li>
      <% show_analytics_link = current_user && current_user.platform_admin? %>
      <% if show_analytics_link %>
        <li><%= link_to 'Analytics', main_app.analytics_path, role: 'menuitem' %></li>
      <% end %>
      <li class="divider"></li>

      <% include_collections_link ||= can?(:create, Collection) %>

      <% show_jobs_link = current_user && current_user.platform_admin? %>
      <%
        show_users_link = @press && (
          current_user.platform_admin? ||
          current_user.roles.where(role: 'admin', resource_id: @press.id, resource_type: 'Press').first
        )
      %>
      <% show_embargo_link = can? :discover, Hydra::AccessControls::Embargo %>
      <% show_lease_link = can? :discover, Hydra::AccessControls::Lease %>

      <% if show_jobs_link %>
        <li><%= link_to "Jobs", main_app.resque_web_path %></li>
      <% end %>

      <% if show_users_link && !@press.new_record? %>
        <li><%= link_to "Users", main_app.press_roles_path(@press) %></li>
      <% end %>

      <% if show_embargo_link %>
        <li><%= link_to 'Embargos', hyrax.embargoes_path, role: 'menuitem' %></li>
      <% end %>

      <% if show_lease_link %>
        <li><%= link_to 'Leases', hyrax.leases_path, role: 'menuitem' %></li>
      <% end %>

      <% if show_jobs_link || show_users_link || show_embargo_link || show_lease_link %>
        <li class="divider"></li>
      <% end %>

      <li><%= link_to 'Log Out', main_app.destroy_user_session_path, class: 'log-out', role: 'menuitem' %></li>
    </ul>
  </li>
</ul>
