<%= simple_form_for @sub_brand, url: submit_url do |f| %>
  <% if @sub_brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_brand.errors.count, "error") %> prohibited this sub-brand from being saved:</h2>

      <ul>
      <% @sub_brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
