// Table of contents widget
<% if @parent_presenter.epub? %>
cozy.control.contents({ region: 'top.toolbar.left', skipLink: '.skip' }).addTo(reader);
<% else %>
var contents = new PDFContents({ region: 'top.toolbar.left', skipLink: '.skip' });
contents.addTo(reader);
<% end %>

// WebGL widget
<% if @parent_presenter.webgl? %>
  <%= render partial: "webgl_specific", formats: [:js], presenter: @presenter, parent_presenter: @parent_presenter %>
<% else %>
  // no-op for epubs without a webgl (so... almost all of them)
  var fetch_poi = function() { }
<% end %>

// Database widget
// This is a very specific case of an externally-hosted database that is related to the EPUB
// So far this is only used in the Gabii/WebGL books, but I guess that doesn't have to be the case
<% if @parent_presenter.database? %>
cozy.control.widget.button({
  region: 'top.toolbar.left',
  template: '<button class="button--sm" data-toggle="button" aria-label="Database">Database</button>',
  onClick: function() { window.location = "<%= "#{@parent_presenter&.database&.external_resource_url}" %>"; }
}).addTo(reader);
<% end %>

// Resources
<% if @monograph_assets_present %>
cozy.control.widget.button({
  region: 'top.toolbar.left',
  template: '<button class="button--sm media" data-toggle="button" aria-label="Resources">Resources</button>',
  onClick: function() { window.location = "<%= "#{@parent_presenter.catalog_url + '#resources'}" %>"; }
}).addTo(reader);
<% end %>

<% if @parent_presenter.citations_ready? %>
// Citation widget
// see: https://github.com/mlibrary/cozy-sun-bear/wiki/Metadata-and-Citations
var my_citations = [
  {format: 'MLA', text: "<%= export_as_mla_citation(@parent_presenter).gsub('"', '\"').html_safe %>" },
  {format: 'APA', text: "<%= export_as_apa_citation(@parent_presenter).gsub('"', '\"').html_safe %>" },
  {format: 'Chicago', text: "<%= export_as_chicago_citation(@parent_presenter).gsub('"', '\"').html_safe %>" }
]
cozy.control.citation({ region: 'top.toolbar.left', citations: my_citations }).addTo(reader);
<% end %>

// Search widget
<% unless Heliotrope::Application.config.cozy_epub_engine == 'readium' %>
  <% if @parent_presenter.epub? %>
  cozy.control.search({
    region: 'top.toolbar.left',
    searchUrl: "<%= @search_url %>"
  }).addTo(reader);
  <% else %>
  var search = new PDFSearch({ region: 'top.toolbar.left' });
  search.addTo(reader);
  <% end %>
<% end %>

// Share widget
cozy.control.widget.button({
  region: 'top.toolbar.left',
  template: '<%= @parent_presenter.social_share_widget_template %>'
}).addTo(reader);

// Download widget
<% if @ebook_download_presenter.csb_download_links.length.positive? && @share_link.nil? %>
cozy.control.download({
    region: 'top.toolbar.left',
    template: '<button class="button--sm cozy-download" <% if @ebook_download_presenter.csb_download_links.pluck(:format).include?('PDF') && !current_actor&.is_a?(Anonymous) && current_actor&.can?(:read, :stats_dashboard) %>id="cozy-pdf-download-warning-required" <% end %>data-toggle="open" aria-label="Download book" role="button"><i id="download-control-button" class="oi" data-glyph="data-transfer-download" title="Download book" aria-hidden="true"></i></button>',
}).addTo(reader);
<% end %>

// Restricted Share Link widget. If the press allows share links, then logged-in editors/admins can share draft...
// content (e.g. with authors) while regular readers can share published, restricted content forward
<% if @press.allow_share_links? &&
     (@presenter.visibility == 'restricted' && (current_user.present? && (current_user.editor_presses | current_user.admin_presses)&.include?(@press)) ||
     (@presenter.visibility == 'open' && @component.present? && !@parent_presenter.open_access? && @share_link.nil?)) %>
share_link_modal = reader.modal({
        region: 'left',
        title: 'Share Temporary Access to this Book',
        template: '<p>The following URL can be shared with non-subscribing users to provide them with temporary access to this restricted work for 28 days:</p> <blockquote id="share-link" style="padding: 8px; border-left: 4px solid black; background-color: #fff; word-wrap:break-word;"></blockquote><p>The URL can be copied to your clipboard using the button below or manually copied by highlighting the text.</p><p>After 28 days the link will expire and no longer work.</p><div class="alert alert-info" id="message" style="display: none"></div>',
        fraction: 0.5,
        className: 'modal__container',
        actions: [
          {
            label: 'Copy Link',
            callback: function(event) {
              document.designMode = "on";
              var link = self.modal._container.querySelector("#share-link");
              var message = self.modal._container.querySelector("#message");

              var range = document.createRange();
              range.selectNode(link);
              var sel = window.getSelection();
              sel.removeAllRanges();
              sel.addRange(range);

              // formatted.select();

              try {
                var flag = document.execCommand('copy');
              } catch(err) {
                console.log("AHOY COPY FAILED", err);
              }

              self.message.innerHTML = 'Success! Share link copied to your clipboard.';
              self.message.style.display = 'block';
              sel.removeAllRanges();
              range.detach();
              document.designMode = "off";
            }
          }
        ]
    })

// Share widget
cozy.control.widget.button({
  region: 'top.toolbar.left',
  template: '<button id="share-link-btn" class="button--sm cozy-share" data-toggle="button" data-slot="label" aria-label="Share a Readable Version"><i class="oi" data-glyph="link-intact" title="Share a Readable Version" aria-hidden="true"></i></button>',
  onClick: function() {
    $.get("<%= "#{epub_share_link_path(id: @presenter.id)}" %>", function(data) {
      console.log("SHARE_LINK:", data);
      if (data) {
        var bq = share_link_modal._container.querySelector("#share-link");
        bq.innerText = data;
        share_link_modal.activate();
      }
    });
  }
}).addTo(reader);
<% end %>

// modal for Text-to-Speech help
const csb_tts_help_template = `
<div id="text-to-speech-help-info">
  <p>
    Welcome to the Text-to-Speech (TTS) Help Center!</p>
    <h4>What is Text-to-Speech (TTS)?</h4>
    <p>It allows users to listen to the content on a page by converting
    written text into spoken words. While the Fulcrum Reader does not currently include a built-in TTS feature, there
    are two simple ways to enable TTS:
  </p>

  <ol>
    <li>Built-in assistive technologies that come with most devices (like
        VoiceOver or TalkBack)</li>
    <li>Browser-based TTS extensions that you can install to add speech
        functionality directly in your browser.</li>
  </ol>
  <p>
    This guide will walk you through both options so you can choose the method that works best for your needs.</p>
    <h4>Built-in Assistive Technology (AT)</h4>
    <p>These tools are integrated into most operating systems and can read aloud content from websites and applications, including the Fulcrum Reader. You can enable them in your device&rsquo;s accessibility settings.<br><br> Widely used TTS tools supported through assistive technologies:
  </p>

  <ul>
    <li>VoiceOver (Apple)<br>
      It is Apple&rsquo;s built-in screen reader. <br>
      On Mac, enable via System Preferences &rarr; Accessibility &rarr; VoiceOver.<br>On iOS, go to Settings &rarr; Accessibility &rarr; VoiceOver.<br></li>
    <li>Talkback (Android)<br>
      It is Android&#39;s built-in screen reader. <br>
      Enable via Settings &rarr; Accessibility &rarr; TalkBack.<br></li>
    <li>JAWS (Windows &ndash; Paid)<br>
      A powerful screen reader widely used in academic and professional settings.<br>
      <a href="https://support.freedomscientific.com/Downloads/JAWS" onclick="window.open('https://support.freedomscientific.com/Downloads/JAWS');">Learn more and download</a><br></li>
    <li>NVDA (Windows &ndash; Free)<br>
      A free, open-source screen reader that supports a wide range of applications.<br>
      <a href="https://www.nvaccess.org/download/" onclick="window.open('https://www.nvaccess.org/download/');">Learn more and download</a></li>
  </ul>

  <h4>Browser-Based TTS Extensions</h4>
    <p>Browser extensions add a speech toolbar to your reading experience. Once installed, these tools let you highlight and listen to text directly within the eReader window.
  </p>
  <p>To use a TTS browser extension, install one from your browser&rsquo;s extension store (such as Read Aloud from the Chrome Web Store) and pin it to your toolbar. Then, open your book in the Fulcrum Reader, click the extension icon, and press Play to begin listening. You can highlight any section of text to start from that point, and adjust the voice, pitch, or speed in the extension&rsquo;s settings to suit your preferences.</p>
  <p>Widely used TTS browser plugins:</p>

  <ul>
    <li>Read Aloud (A text to speech voice reader) <br>
      <a href="https://chromewebstore.google.com/detail/read-aloud-a-text-to-spee/hdhinadidafjejdhmfkjgnolgimiaplp?hl=en" onclick="window.open('https://chromewebstore.google.com/detail/read-aloud-a-text-to-spee/hdhinadidafjejdhmfkjgnolgimiaplp?hl=en');">Learn more and add to browser</a>&nbsp;- Chrome<br>
      <a href="https://addons.mozilla.org/en-US/firefox/addon/read-aloud/" onclick="window.open('https://addons.mozilla.org/en-US/firefox/addon/read-aloud/');">Learn more and add to browser</a>&nbsp;- Firefox<br>
      <a href="https://microsoftedge.microsoft.com/addons/detail/read-aloud-a-text-to-spe/pnfonnnmfjnpfgagnklfaccicnnjcdkm" onclick="window.open('https://microsoftedge.microsoft.com/addons/detail/read-aloud-a-text-to-spe/pnfonnnmfjnpfgagnklfaccicnnjcdkm');">Learn more and add to browser</a>&nbsp;- Microsoft Edge<br>
    </li>
    <li>Voice Out - Chrome<br>
      <a href="https://chromewebstore.google.com/detail/voice-out-text-to-speech/jmodgcjbfcmningbahdmedofbabejbba?hl=en" onclick="window.open('https://chromewebstore.google.com/detail/voice-out-text-to-speech/jmodgcjbfcmningbahdmedofbabejbba?hl=en');">Learn more and add to browser</a><br></li>
    <li>Speech Central: Text-to-Speech - Safari<br>
      <a href="https://apps.apple.com/us/app/speech-central-text-to-speech/id1127349155" onclick="window.open('https://apps.apple.com/us/app/speech-central-text-to-speech/id1127349155');">Learn more and add to browser</a></li>
  </ul>

  <p>Unlike audiobooks and publications with full audio, however, Text-To-Speech synthesis is not an audio format. It is a way of listening to text content the reader has already obtained. On Fulcrum, readers can use a TTS application to read web pages, EPUBs, or PDFs.</p>
</div>
`

tts_info_modal = reader.modal({
  region: 'right',
  title: 'Text to Speech Help',
  template: csb_tts_help_template,
  fraction: 0.4,
  className: 'modal__container'
})

// text-to-speech "help info" widget
cozy.control.widget.button({
  region: 'top.toolbar.left',
  template: '<button id="tts-help-btn" class="button--sm" data-toggle="button" data-slot="label" aria-label="Open Text-to-Speech Information"><i class="oi" data-glyph="volume-high" title="Open Text-to-Speech Information" aria-hidden="true"></i></button>',
  onClick: function() {
    tts_info_modal.activate();
  }
}).addTo(reader);

<%# the controller only supports EPUBs and PDFs, so this logic is fine to catch the latter %>
<% unless @parent_presenter.epub? %>
  cozy.control.widget.button({
    region: 'top.toolbar.right',
    <%# reload is the closest to rotate in the collection https://icones.js.org/collection/oi %>
    data: { label: '<i class="icon-reload oi" data-glyph="reload" aria-hidden="true"></i>'},
    <%# `id="pageRotateCw` gets `pdf.js` to handle the rotation %>
    template: '<button class="button--sm" data-toggle="button" data-slot="label" aria-label="Rotate Clockwise" id="pageRotateCw" title="Rotate Clockwise"</button>',
  }).addTo(reader);
<% end %>

// Fullscreen
cozy.control.fullscreen({ region: 'top.toolbar.right' }).addTo(reader);

// Preferences and Settings
cozy.control.preferences({
  <% if @parent_presenter.webgl? %>
    fields: [
      {
        label: 'Accessibility Mode',
        name: 'accessibility-mode',
        inputs: [
          { value: 'off', label: 'Off' },
          { value: 'on', label: 'On'}
        ],
        value: webgl_a11y_on_stored || heliotropeIncompatibleWebGlUser ? 'on' : 'off',
        callback: function(value) {
          if (value == 'on') {
            a11y_on();
          } else {
            a11y_off();
          }
        },
        hint: 'When Accessibility Mode is "On", the publication is read without the 3D model. All links to stratigraphic units point to external database records.'
      }
    ],
  <% end %>
  region: 'top.toolbar.right'
}).addTo(reader);

// Paging widgets
<% if @parent_presenter.pdf_ebook? %>
var action = cozy.control.pagePrevious({ region: 'left.sidebar' }).addTo(reader);
action._control.setAttribute('id', 'previous');
action = cozy.control.pageNext({ region: 'right.sidebar' }).addTo(reader);
action._control.setAttribute('id', 'next');
<% else %>
cozy.control.pagePrevious({ region: 'left.sidebar' }).addTo(reader);
cozy.control.pageNext({ region: 'right.sidebar' }).addTo(reader);
<% end %>

// Feedback widget
cozy.control.widget.panel({
  region: 'bottom.navigator.left',
  className: 'cozy-panel-feedback',
  <% if @parent_presenter.webgl? %>
  template: '<a href="https://docs.google.com/forms/d/e/1FAIpQLSehtWeYRAmb12pLcQV0WXDvsQgdEsI6H-gbj4HumdySrmwhZg/viewform?usp=sf_link" target="_blank" title="Report a problem or share feedback"><i class="icon-comment-square oi" data-glyph="comment-square" aria-hidden="true"></i></a>',
  <% else %>
  template: '<a href="https://umich.qualtrics.com/jfe/form/SV_3KSLynPij0fqrD7?publisher=<%= @subdomain %>&noid=<%= @presenter.id %>&title=<%= @parent_presenter.page_title %>&url=<%= request.original_url %>" target="_blank" title="Report a problem or share feedback"><i class="icon-comment-square oi" data-glyph="comment-square" aria-hidden="true"></i></a>',
  <% end %>
}).addTo(reader);

// Navigator widgets
cozy.control.navigator({ region: 'bottom.navigator' }).addTo(reader);
