<% content_for :head do %>
  <%# the meta tag because of https://github.com/mlibrary/heliotrope/issues/1084 %>
  <%# ...and also as this visit-control setting seems to be the only way to have the `$(document).ready` always... %>
  <%# fire, i.e. on both initial and subsequent page loads, while restricting event-driven JS (placed in <head>)... %>
  <%# to specific pages. Happily this also means no Turbolinks-related changes to `ableplayer.js` are necessary. %>
  <meta name="turbolinks-visit-control" content="reload">
  <!-- Able Player CSS -->
  <link rel="stylesheet" href="/ableplayer-4.3/build/ableplayer.min.css" type="text/css"/>
  <!-- Able Player JavaScript -->
  <script src="/ableplayer-4.3/build/ableplayer.js"></script>
<% end %>

<video id="video"
       preload="auto"
       width="8000px" <%# https://tools.lib.umich.edu/jira/browse/HELIO-746?focusedCommentId=1074044&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-1074044 %>
       data-able-player
       data-skin="2020"
       poster="<%= hyrax.download_path(file_set, file: 'jpeg') %>"
       <%= raw file_set.closed_captions.present? ? 'data-transcript-div="video-transcript-container" data-lyrics-mode' : 'data-include-transcript="false"' %>>
  <source src="<%= hyrax.download_path(file_set, file: 'mp4') %>" type="video/mp4" />
  <% if file_set.closed_captions.present? %><%# kind="subtitles" not "captions" due to https://github.com/mlibrary/heliotrope/issues/1234 %>
    <track kind="subtitles" src="<%= hyrax.download_path(file_set, file: 'captions_vtt') %>" srclang="en" label="English"  />
  <% end %>
  <% if file_set.visual_descriptions.present? %>
    <track kind="descriptions" src="<%= hyrax.download_path(file_set, file: 'descriptions_vtt') %>" srclang="en" label="English"  />
  <% end %>
  Your browser does not support the video tag.
</video>
<% if file_set.closed_captions.present? %>
  <div id="video-transcript-container"></div>
<% end %>
