<b>
  <div class="col-md-10">
    <div class="col-md-1">ID</div>
    <div class="col-md-3">Agent</div>
    <div class="col-md-3">Credential</div>
    <div class="col-md-3">Resource</div>
    <div class="col-md-2">Zone</div>
  </div>
  <div class="col-md-2"><%= link_to 'New Grant', new_rant_path %></div>
  <hr/>
</b>
<% rants.each do |rant| %>
  <div class="col-md-10">
    <div class="col-md-1"><%= rant.id %></div>
    <div class="col-md-3"><%= rant.agent_token %></div>
    <div class="col-md-3"><%= rant.credential_token %></div>
    <div class="col-md-3"><%= rant.resource_token %></div>
    <div class="col-md-2"><%= rant.zone_id %></div>
  </div>
  <div class="col-md-2">
    <%= link_to(rant_path(rant.id), method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' }) do %>
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Destroy
    <% end %>
  </div>
<% end %>
