<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Below are the following Fixity Failures for <%= @hostname %>, <%= @today %><p>
    <table>
      <tr>
        <th></th>
        <th>file_set_id</th>
        <th>file_id</th>
        <th>passed?</th>
      </tr>
    <% i = 1 %>
    <% @failures.each do |failure| %>
      <tr>
        <td><%= i %>
        <td><%= failure[:file_set_id] %></td>
        <td><%= failure[:file_id] %></td>
        <td><%= failure[:passed] %></td>
      </tr>
      <% i += 1 %>
    <% end %>
    </table>
    <p />
    <p><a href="https://mlit.atlassian.net/wiki/spaces/FUL/pages/9332195632/How+to+Address+Fixity+Failures">Please read the confluence fixity page for steps on how to handle this.</a></p>
  </body>
</html>