<p><%= presenter.attribute_to_html(:description, label: '') %></p>
<%= presenter.attribute_to_html(:creator_full_name, label: 'Creator', catalog_search_link: true) %>
<%= presenter.attribute_to_html(:primary_creator_role, label: 'Creator Role') %>
<%= presenter.attribute_to_html(:contributor, label: 'Contributors', catalog_search_link: true) %>
<!-- TODO: get subjects from parent monograph -->
<%= presenter.attribute_to_html(:display_date, label: 'Date') %>
<!-- TODO: get section name asset is attached to -->
<%= presenter.attribute_to_html(:keywords, catalog_search_link: true) %>
<%= presenter.attribute_to_html(:content_type, label: 'Content Type') %>
<%= presenter.attribute_to_html(:language) %>
<%= presenter.attribute_to_html(:identifier) %>
