<div class="form-actions">
  <% if can? :edit, presenter.id %>
    <%= link_to "Edit", edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default btn-lg'  %>
    <!-- TODO: remove the following button, it will be replaced by breadcrumbs -->
    <%= link_to "Back to #{parent.human_readable_type}", parent_path(parent), class: 'btn btn-default btn-lg' %>
  <% end %>
  <% if  can? :edit, presenter.id || presenter.allow_download?  %>
    <%= link_to "Download", main_app.download_path(presenter), class: 'btn btn-default btn-lg' %>
  <% end %>
  <!-- TODO: add citation generator -->
  <!-- <button type="button" class="btn btn-default btn-lg cite">Cite</button> -->
  <!-- TODO: figure out what asset metadata field holds the permanent URL and replace below -->
  <div class="btn-group share">
    <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="http://twitter.com/intent/tweet?text=<%= @presenter %>&amp;url=<%= request.original_url %>">Twitter</a></li>
        <li><a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>&amp;t=<%= @presenter %>">Facebook</a></li>
        <li><a href="https://plus.google.com/share?url=<%= request.original_url %>">Google+</a></li>
        <li><a href="http://www.reddit.com/submit?url=<%= request.original_url %>">Reddit</a></li>
        <li><a href="http://www.mendeley.com/import/?url=<%= request.original_url %>">Mendeley</a></li>
        <li><a href="http://www.citeulike.org/posturl?url=<%= request.original_url %>&amp;title=<%= @presenter %>">Cite U Like</a></li>
      </ul>
  </div>
</div><!-- form-actions -->
