<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>

<% end %>

  <div class="row asset">
    <!-- file_sets _media -->
    <div class="col-sm-6">
      <%= render "media", presenter: @presenter %>
    </div> <!-- / file_sets _media -->
    <!-- file_sets metadata and actions -->
    <div class="col-sm-6">
      <div class="row asset-attributes">
        <div class="col-sm-12">
          <h2><%= @presenter.title %></h2>
          <h3>From <em><%= link_to @presenter.monograph.title, "/concern/monographs/#{@presenter.monograph.id}" %></em>
            by <%= @presenter.monograph.creator_given_name.first %> <%= @presenter.monograph.creator_family_name.first %><%= contributors_string(@presenter.monograph.contributor) %></h3></h3>
          <br />
          <%= render "attributes", presenter: @presenter %>
        </div>
      </div> <!-- /.asset-attributes -->
      <div class="row asset-actions">
        <div class="col-sm-12">
          <%= render "show_actions", presenter: @presenter, parent: parent %>
        </div>
      </div> <!-- /.asset-actions -->
    </div> <!-- / file_sets metadata and actions -->
  </div> <!-- /.asset -->
