<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <!-- breadcrumbs -->
  <div class="row">
    <nav class="breadcrumbs col-sm-12">
      <ol class="breadcrumb">
        <li><a href=<%= "/#{@presenter.monograph.subdomain}" %>>Home</a></li>
        <li><a href=<%= main_app.monograph_catalog_path(@presenter.monograph_id) %>><%= @presenter.monograph.page_title %></a></li>
        <li class="active"><%= @presenter.page_title %></li>
      </ol>
    </nav>
  </div>

  <!-- asset navigation -->
  <div class="row">
    <nav class="asset-navigation col-sm-12">
      <ul class="pager">
          <li class="previous">
          <% if @presenter.previous_id? %>
            <a href="<%= @presenter.previous_id %>" class="previous" data-turbolinks="false"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous</a>
          <% end %>
          </li>
          <li class="next">
          <% if @presenter.next_id? %>
            <a href="<%= @presenter.next_id %>" class="next" data-turbolinks="false">Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
          <% end %>
          </li>
      </ul>
    </nav>
  </div>
<% end %>

  <div id="maincontent" class="row asset">
    <!-- COinS for Zotero, etc -->
    <% if defined? @presenter.file_set_coins_title %>
      <span class="Z3988" title="<%= @presenter.file_set_coins_title %>"></span>
    <% end %>
    <!-- file_sets _media -->
    <div class="col-sm-6">
      <%= render "media", presenter: @presenter %>
    </div> <!-- / file_sets _media -->
    <!-- file_sets metadata and actions -->
    <div class="col-sm-6">
      <div class="row asset-attributes">
        <div class="col-sm-12">
          <h2 id="asset-title"><%= @presenter.title %></h2>
          <h3>From <em><%= link_to @presenter.monograph.title, main_app.monograph_catalog_path(@presenter.monograph_id) %></em>
            by <%= @presenter.monograph.creator_given_name.first %> <%= @presenter.monograph.creator_family_name.first %><%= contributors_string(@presenter.monograph.contributor) %></h3>
          <br />
          <%= render "attributes", presenter: @presenter %>
        </div>
      </div> <!-- /.asset-attributes -->
      <div class="row asset-actions">
        <div class="col-sm-12">
          <%= render "show_actions", presenter: @presenter, parent: parent %>
        </div>
      </div> <!-- /.asset-actions -->
    </div> <!-- / file_sets metadata and actions -->
  </div> <!-- /.asset -->
