<%= simple_form_for @institution do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :identifier %>
    <%= f.input :name %>
    <%= f.input :display_name %>
    <%= f.input :entity_id %>
    <%= f.input :catalog_url %>
    <%= f.input :link_resolver_url %>
    <%= f.input :location %>
    <%= f.input :login %>
    <%= f.input :horizontal_logo %>
    <%= f.input :vertical_logo %>
    <%= f.input :ror_id %>
    <%= f.input :site %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
