<%= simple_form_for @institution_affiliation do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :institution, include_blank: false %>
    <%= f.input :dlps_institution_id %>
    <%= f.input :affiliation, collection: Greensub::InstitutionAffiliation.affiliations.collect {|affiliation| [affiliation, affiliation]}, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
