<%= simple_form_for @component, url: greensub_components_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :identifier %>
  </div>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :noid %>
  </div>

  <div class="form-inputs">
    <%= f.input :handle %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
