<b>
  <div class="col-md-10">
    <div class="col-md-1">ID</div>
    <div class="col-md-9">Identifier | Name | Purchase</div>
    <div class="col-md-2">Components</div>
  </div>
  <div class="col-md-2"><%= link_to 'New Product', new_greensub_product_path %></div>
  <hr/>
</b>
<% products.each do |product| %>
  <div class="col-md-10">
    <div class="col-md-1"><%= link_to product.id, edit_greensub_product_path(product) %></div>
    <div class="col-md-9">
      <div><%= product.identifier %></div>
      <div<%= product.name %></div>
      <div><%= link_to product.purchase, product.purchase %></div>
    </div>
    <div class="col-md-2"><%= product.components.count %></div>
  </div>
  <div class="col-md-2">
    <%= link_to(greensub_component_product_path(component, product), method: :delete, class: "btn btn-default") do %>
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove
    <% end %>
  </div>
<% end %>
<div class="col-md-12"><span>&nbsp;</span><hr/></div>
<% if component.not_products.present? %>
  <%= form_tag(greensub_component_path(component), method: "get") do %>
    <div class="col-md-12">
      <input type="text" id="like" name="like" value=<%= params['like'] %>>
      <button name="submit" type="submit" value="filter">Filter</button>
    </div>
  <% end %>
  <%= form_tag(greensub_component_products_path(component), method: "post") do %>
    <div class="col-md-10">
      <%= select_tag "id", options_from_collection_for_select(component.not_products_like(params['like']), "id", "identifier") %>
    </div>
    <div class="col-md-2">
      <%= button_tag(type: 'submit',  class: 'btn btn-default') do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
      <% end %>
    </div>
  <% end %>
<% end %>
