<b>
  <div class="col-md-10">Identifier - Name</div>
  <div class="col-md-2">&nbsp;</div>
  <hr/>
</b>
<% products.each do |product| %>
  <div class="col-md-12">

  <div class="col-md-10"><%= link_to "#{product.identifier} - #{product.name}", greensub_product_path(product) %></div>
  <div class="col-md-2">
    <%= link_to(greensub_component_product_path(component, product), method: :delete, class: "btn btn-default") do %>
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove
    <% end %>
  </div>
  </div>
  <div class="col-md-12"><hr/></div>
<% end %>
<% if component.not_products.present? %>
  <div class="col-md-12">
  <%= form_tag(greensub_component_products_path(component), method: "post") do %>
    <div class="col-md-10">Add component <b><%= component.id %> - <%= component.identifier %> (<em><%= component.name %></em>)</b> to product <b><%= select_tag "id", options_from_collection_for_select(component.not_products_like(params['like']), "id", "identifier") %></b></div>
    <div class="col-md-2">
      <% if component.not_products_like(params['like']).present? %>
        <div>
          <%= button_tag(type: 'submit',  class: 'btn btn-default') do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
          <% end %>
        </div>
      <% else %>
        <div>&nbsp;</div>
      <% end %>
    </div>
  <% end %>
  </div>
  <div>&nbsp;</div>
  <div class="col-md-12">
  <%= form_tag(greensub_component_path(component), method: "get") do %>
    <div class="col-md-12">
      Filter the above product selection list by identifier
      <input type="text" id="like" name="like" value=<%= params['like'] %>>
      <button name="submit" type="submit" value="filter">Filter</button>
    </div>
  <% end %>
  <div>&nbsp;</div>
  <div class="col-md-12"><hr/></div>
  <% end %>
</div>
