<%= simple_form_for(@grant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <!--  Agent Type-->
    
    <div class="row">
      <div class="col-md-2">
        <div class="form-group string optional grant_agent_type">
          <input type="hidden" name="grant[agent_type]" value="" />
          <label class="control-label string required" for="grant_agent_type">Agent Type</label>
        </div>
      </div>
      <div class="col-md-2">
        <label for="grant_agent_type_guest">
          <input type="radio" value="Guest" checked="checked" name="grant[agent_type]" id="grant_agent_type_guest" />
          <label class="collection_radio_buttons" for="grant_agent_type_guest">Guest</label>
        </label>
      </div>
      <div class="col-md-3">
        <label for="grant_agent_type_user">
          <input type="radio" value="User" name="grant[agent_type]" id="grant_agent_type_user" />
          <label class="collection_radio_buttons" for="grant_agent_type_user">User</label>
        </label>
      </div>
      <div class="col-md-2">
        <label for="grant_agent_type_individual">
          <input type="radio" value="Individual" name="grant[agent_type]" id="grant_agent_type_individual" />
          <label class="collection_radio_buttons" for="grant_agent_type_individual">Individual</label>
        </label>
      </div>
      <div class="col-md-2">
        <label for="grant_agent_type_institution">
          <input type="radio" value="Institution" name="grant[agent_type]" id="grant_agent_type_institution" />
          <label class="collection_radio_buttons" for="grant_agent_type_institution">Institution</label>
        </label>
      </div>
      <div class="col-md-1">
        <label for="grant_agent_type_any">
          <input type="radio" value="any" name="grant[agent_type]" id="grant_agent_type_any" />
          <label class="collection_radio_buttons" for="grant_agent_type_any">Any</label>
        </label>
      </div>
    </div>
    
    <!--  Agent ID-->
    
    <div class="row">
      <div class="col-md-2">
        <div class="form-group string optional grant_agent_id">
          <input type="hidden" name="grant[agent_id]" value="" />
          <label class="control-label string optional" for="grant_agent_id">Agent ID</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group string optional grant_agent_guest_id">
          <input class="form-control string optional" type="text" name="grant[agent_guest_id]" id="grant_agent_guest_id" />
        </div>
      </div>
      <div class="col-md-3">
          <label for="grant_agent_user_id">
            <%= f.collection_select :agent_user_id, User.order(:email), :id, :email %>
          </label>
      </div>
      <div class="col-md-2">
        <label for="grant_agent_individual_id">
          <%= f.collection_select :agent_individual_id, Individual.order(:email), :id, :email %>
        </label>
      </div>
      <div class="col-md-2">
        <label for="grant_agent_institution_id">
          <%= f.collection_select :agent_institution_id, Institution.order(:name), :id, :name %>
        </label>
      </div>
      <div class="col-md-1">
        <label for="grant_agent_id_any">
          <input type="checkbox" value="any" name="grant[agent_id]" id="grant_agent_id_any" />
          <label class="collection_radio_buttons" for="grant_agent_id_any">Any</label>
        </label>
      </div>
    </div>

    <!--  Credential Type-->
    
    <div class="row">
      <div class="col-md-2">
        <div class="form-group string optional grant_credential_type">
          <input type="hidden" name="grant[credential_type]" value="" />
          <label class="control-label string required" for="grant_credential_type">Credential Type</label>
        </div>
      </div>
      <div class="col-md-2">
        <label for="grant_credential_type_permission">
          <input type="radio" value="permission" checked="checked" name="grant[credential_type]" id="grant_credential_type_permission" />
          <label class="collection_radio_buttons" for="grant_credential_type_permission">permission</label>
        </label>
      </div>
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-1">&nbsp;</div>
    </div>

    <!--  Credential ID-->
    
    <div class="row">
      <div class="col-md-2">
        <div class="form-group string optional grant_credential_id">
          <input type="hidden" name="grant[credential_id]" value="" />
          <label class="control-label string optional" for="grant_credential_id">Credential ID</label>
        </div>
      </div>
      <div class="col-md-2">
        <label for="grant_credential_permission_id">
          <select name="grant[credential_permission_id]" id="grant_credential_permission_id">
            <option value="read">read</option>
          </select>
        </label>
      </div>
      <div class="col-md-7">&nbsp;</div>
      <div class="col-md-1">
        <label for="grant_credential_id_any">
          <input type="checkbox" value="any" name="grant[credential_id]" id="grant_credential_id_any" />
          <label class="collection_radio_buttons" for="grant_credential_id_any">Any</label>
        </label>
      </div>
    </div>

    <!--  Resource Type-->

    <div class="row">
      <div class="col-md-2">
        <div class="form-group string optional grant_resource_type">
          <input type="hidden" name="grant[resource_type]" value="" />
          <label class="control-label string required" for="grant_resource_type">Resource Type</label>
        </div>
      </div>
      <div class="col-md-2">
        <label for="grant_resource_type_entity">
          <input type="radio" value="Entity" checked="checked" name="grant[resource_type]" id="grant_resource_type_entity" />
          <label class="collection_radio_buttons" for="grant_resource_type_entity">Entity</label>
        </label>
      </div>
      <div class="col-md-3">
        <label for="grant_resource_type_component">
          <input type="radio" value="Component" name="grant[resource_type]" id="grant_resource_type_component" />
          <label class="collection_radio_buttons" for="grant_resource_type_component">Component</label>
        </label>
      </div>
      <div class="col-md-4">
        <label for="grant_resource_type_product">
          <input type="radio" value="Product" name="grant[resource_type]" id="grant_resource_type_product" />
          <label class="collection_radio_buttons" for="grant_resource_type_product">Product</label>
        </label>
      </div>
      <div class="col-md-1">
        <label for="grant_resource_type_any">
          <input type="radio" value="any" name="grant[resource_type]" id="grant_resource_type_any" />
          <label class="collection_radio_buttons" for="grant_resource_type_any">Any</label>
        </label>
      </div>
    </div>

    <!--  Resource ID-->

    <div class="row">
      <div class="col-md-2">
        <div class="form-group string optional grant_resource_id">
          <input type="hidden" name="grant[resource_id]" value="" />
          <label class="control-label string optional" for="grant_resource_id">Resource ID</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group string optional grant_resource_entity_id">
          <input class="form-control string optional" type="text" name="grant[resource_id]" id="grant_resource_entity_id" />
        </div>
      </div>
      <div class="col-md-3">
        <label for="grant_resource_component_id">
          <%= f.collection_select :resource_component_id, Component.order(:handle), :id, :handle %>
        </label>
      </div>
      <div class="col-md-4">
        <label for="grant_resource_product_id">
          <%= f.collection_select :resource_product_id, Product.order(:name), :id, :name %>
        </label>
      </div>
      <div class="col-md-1">
        <label for="grant_resource_id_any">
          <input type="checkbox" value="any" name="grant[resource_id]" id="grant_resource_id_any" />
          <label class="collection_radio_buttons" for="grant_resource_id_any">Any</label>
        </label>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
