<% # container for document in index gallery view -%>
<div class="document col-xs-6 col-md-4">
  <%= link_to(url_for_document(document), document_link_params(document, counter: counter)) do %>
    <div class="thumbnail">
      <img class=\"img-responsive\" src=<%= raw presenter.work_thumbnail_src(145) %> alt="">
    </div>
    <div class="caption">
      <h3 class="index_title">
        <%= render_markdown(document.title.first) %>
      </h3>
      <p aria-label="By <%= presenter.authors %>" class="authors"><%= presenter.authors %></p>
      <% if press.subdomain == 'barpublishing' %>
        <% if presenter.date_created.length.positive? %>
          <p><strong><%= presenter.date_created[0] %></strong></p>
        <% end %>
        <% if presenter.bar_number&.length&.positive? %>
          <p><strong><%= t('bar_number') %>: </strong> <%= presenter.bar_number %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
