<% # container for document in index list view -%>
<%= link_to(url_for_document(document), document_link_params(document, counter: counter)) do %>
  <div class="col-sm-2 thumbnail">
    <img class=\"img-responsive\" src=<%= raw presenter.work_thumbnail_src(145) %> alt="">
  </div>
  <div class="col-sm-10 caption">
    <h3 class="index_title">
      <%= render_markdown(document.title.first) %>
    </h3>
    <p aria-label="By <%= presenter.authors %>" class="authors"><%= presenter.authors %></p>
  </div>
<% end %>
