<% # container for document in index list view -%>
<%= link_to(url_for_document(document), document_link_params(document, counter: counter)) do %>
  <div class="col-sm-2 thumbnail">
    <%= presenter.thumbnail_tag(145, class: "img-responsive", alt: "") %>
  </div>
  <div class="col-sm-10 caption">
    <h3 class="index_title">
      <%= render_markdown(document.title.first) %>
    </h3>
    <p aria-label="By <%= presenter.authors %>" class="authors"><%= presenter.authors %></p>
    <% if presenter.date_created.present? %>
      <% pub_year = press.subdomain == 'barpublishing' ? "(#{presenter.date_created.first})" : presenter.date_created.first %>
      <span aria-label="publication date" class="pub-date"><%= pub_year %></span>
    <% end %>
    <% if presenter.edition_name.present? %>
      <%# very unlikely the publication year will be missing, but anyway %>
      <% edition = presenter.date_created.present? ? " (#{presenter.edition_name})" : "(#{presenter.edition_name})" %>
      <span aria-label="edition name" class="edition-name"><%= edition %></span>
    <% end %>
    <% if presenter.bar_number&.length&.positive? %>
      <span class="bar-number"><strong><%= t('bar_number') %>:</strong> <%= presenter.bar_number %></span>
    <% end %>
  </div>
<% end %>
