<% # container for document in index gallery view -%>
<div class="document col-xs-6 col-md-4">
  <%= link_to(url_for_document(document), document_link_params(document, counter: counter)) do %>
    <div class="thumbnail">
      <%= presenter.thumbnail_tag(145, class: "img-responsive", alt: "") %>
    </div>
    <div class="caption">
      <h3 class="index_title">
        <% if presenter.access_level(@actor_product_ids, @allow_read_product_ids).show? %>
          <%= presenter.access_level(@actor_product_ids, @allow_read_product_ids).icon_sm.html_safe %>
        <% end %>
        <%= render_markdown(document.title.first) %>
      </h3>
      <p aria-label="authors" class="authors"><%= render_markdown presenter.authors %></p>
      <% if presenter.date_created.present? %>
        <% pub_year = press.subdomain == 'barpublishing' ? "(#{presenter.date_created.first})" : presenter.date_created.first %>
        <span aria-label="publication date" class="pub-date"><%= pub_year %></span><% if presenter.edition_name.present? %><span aria-label="edition name" class="edition-name"><%= sanitize presenter.edition_name %></span><% end %>
      <% end %>
      <% if presenter.bar_number&.length&.positive? %>
        <span class="bar-number"><strong><%= t('bar_number') %>:</strong> <%= presenter.bar_number %></span>
      <% end %>
    </div>
  <% end %>
</div>
