<% provide :page_title, @search_ongoing ? "#{@press.name} results - page #{@response.current_page} of #{@response.total_pages}" : @press.name %>
<% provide :page_class, 'press' %>
<%
works = if @press.subdomain == Services.score_press
          "Musical Scores"
        else
          "Search and Browse Books"
        end
%>
<div id="maincontent">
  <% if has_facet_values?  %>
  <div class="row">
    <div class="col-sm-3 facets-container">
      <%= render 'catalog/search_sidebar' %>
    </div>
    <div class="col-sm-9 results-container">
      <h2><%= works %></h2>
      <%= render 'catalog/search_results' %>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-11 results-container">
      <h2><%= works %></h2>
      <%= render 'catalog/search_results' %>
    </div>
  </div>
  <% end %>
</div>
