<% size = 10 %>
<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>Share Links Log</h1></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <form name="filter" method="get" action="<%=  %>">
          <table class="table table-striped table-responsive" summary="Share Links List">
            <tr>
              <th></th>
              <th><label for="created_like">Created</label></th>
              <th><label for="ip_address_like">IP</label></th>
              <th><label for="institution_like">Institution</label></th>
              <th><label for="press_like">Subdomain</label></th>
              <th><label for="title_like">Title</label></th>
              <th><label for="noid_like">Noid</label></th>
              <th><label for="action_like">Action</label></th>
              <th><label for="token_like">Token</label></th>
            </tr>
            <tr>
              <td><button name="submit" type="submit" value="filter">Filter</button></td>
              <td><input type="text" name="create_like" value="<%= params[:created_like] %>" size="<%= size %>" aria-label="created_like"></td>
              <td><input type="text" name="ip_address_like" value="<%= params[:ip_address_like] %>" size="<%= size %>" aria-label="ip_address_like"></td>
              <td><input type="text" name="institution_like" value="<%= params[:institution_like] %>" size="<%= size %>" aria-label="institution_like"></td>
              <td><input type="text" name="press_like" value="<%= params[:press_like] %>" size="<%= size %>" aria-label="press_like"></td>
              <td><input type="text" name="title_like" value="<%= params[:title_like] %>" size="<%= size %>" aria-label="title_like"></td>
              <td><input type="text" name="noid_like" value="<%= params[:noid_like] %>" size="<%= size %>" aria-label="noid_like"></td>
              <td><input type="text" name="action_like" value="<%= params[:action_like] %>" size="<%= size %>" aria-label="action_like"></td>
              <td><input type="text" name="token_like" value="<%= params[:token_like] %>" size="<%= size %>" aria-label="token_like"></td>
            </tr>
            <% @share_link_logs.each do |share_link| %>
              <tr>
                <td></td>
                <td><%= share_link.created_at %></td>
                <td><%= share_link.ip_address %></td>
                <td><%= share_link.institution %></td>
                <td><%= share_link.press %></td>
                <td><%= share_link.title[0..20] %></td>
                <td><%= share_link.noid %></td>
                <td><%= share_link.action %></td>
                <td><%= share_link.token %></td>
              </tr>
            <% end %>
          </table>
        </form>
      </div>
      <div class="row">
        <%= paginate @share_link_logs %>
      </div>
    </div>
  </div>
</div>
