<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h1><%= @presenter.title %> <span class="human_readable_type">(<%= @presenter.human_readable_type %>)</span></h1>
<% end %>

<% collector = can?(:collect, @presenter) %>
<% editor    = can?(:edit,    @presenter) %>

<%= render 'representative_media', presenter: @presenter %>
<%= render 'sub_brands', presenter: @presenter %>
<%= render "attributes", presenter: @presenter %>
<%= render 'related_files', presenter: @presenter %>

<%= render "show_actions", collector: collector, editor: editor%>
