<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>Epub Search Log</h1></div>
  </div>
  <div class="row">
  total: <%= EpubSearchLog.count %>
  <br />
  total > 60sec: <%= EpubSearchLog.where("time > 60000").count %> &nbsp; hits: <%= EpubSearchLog.where("hits != 0").where("time > 60000").count %>
  <br />
  total > 30sec: <%= EpubSearchLog.where("time > 30000").count %> &nbsp; hits: <%= EpubSearchLog.where("hits != 0").where("time > 30000").count %>
  <br />
  total > 10sec: <%= EpubSearchLog.where("time > 10000").count %> &nbsp; hits: <%= EpubSearchLog.where("hits != 0").where("time > 10000").count %>
  <br />
  total > 5sec: <%= EpubSearchLog.where("time > 5000").count %> &nbsp; hits: <%= EpubSearchLog.where("hits != 0").where("time > 5000").count %>
  <br />
  total < 1sec: <%= EpubSearchLog.where("time < 1000").count %> &nbsp; hits: <%= EpubSearchLog.where("hits != 0").where("time < 1000").count %>
  <br />
  total hits: <%= EpubSearchLog.where("hits != 0").count %>
  <br />
  total no hits: <%= EpubSearchLog.where("hits = 0").count %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <form name="filter" method="get" action="<%=  %>">
          <table class="table table-striped table-responsive" summary="Epub Search Log List">
            <tr>
              <th></th>
              <th>
                <label for="created_like">
                  Created 
                  <%= link_to "^", sort: "created_at desc" %>
                  <%= link_to "v", sort: "created_at asc" %>
                </label>
              </th>
              <th>
                <label for="noid_like">
                  Epub Noid
                  <%= link_to "^", sort: "noid desc" %>
                  <%= link_to "v", sort: "noid asc" %>
                </label>
              </th>
              <th>
                <label for="query_like">
                  Query
                  <%= link_to "^", sort: "query desc" %>
                  <%= link_to "v", sort: "query asc" %>
                </label>
              </th>
              <th>
                <label for="time_like">
                  Time (in ms)
                  <%= link_to "^", sort: "time desc" %>
                  <%= link_to "v", sort: "time asc" %>
                </label>
              </th>
              <th>
                <label for="hits_like">
                  Hits
                  <%= link_to "^", sort: "hits desc" %>
                  <%= link_to "v", sort: "hits asc" %>
                </label>
              </th>
            </tr>
            <tr>
              <td><button name="submit" type="submit" value="filter">Filter</button></td>
              <td><input type="text" name="created_like" value="<%= params[:created_like] %>" aria-label="created_like"></td>
              <td><input type="text" name="noid_like" value="<%= params[:noid_like] %>" aria-label="noid_like"></td>
              <td><input type="text" name="query_like" value="<%= params[:query_like] %>" aria-label="query_like"></td>
              <td><input type="text" name="time_like" value="<%= params[:time_like] %>" aria-label="time_like"></td>
              <td><input type="text" name="hits_like" value="<%= params[:hits_like] %>" aria-label="hits_like"></td>
            </tr>
            <% @epub_search_logs.each do |search| %>
              <tr>
                <td></td>
                <td><%= search.created_at %></td>
                <td><%= link_to search.noid, epub_path(search.noid), target: "_blank" %></td>
                <td><%= search.query %></td>
                <td><%= search.time %></td>
                <td><%= search.hits %></td>
              </tr>
            <% end %>
          </table>
        </form>
      </div>
      <div class="row">
        <%= paginate @epub_search_logs %>
      </div>
    </div>
  </div>
</div>