<div class="row">
  <% components.each do |component| %>
    <div class="col-md-1"></div>
    <div class="col-md-5"><%= link_to component.handle, HandleService.url(HandleService.noid(component.handle)) %></div>
    <div class="col-md-6">
      <%= link_to(product_component_path(product, component), method: :delete, class: "btn btn-default") do %>
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove
      <% end %>
    </div>
  <% end %>
  <% if product.not_components.present? %>
    <%= form_tag(product_components_path(product), method: "post") do %>
      <div class="col-md-1"></div>
      <div class="col-md-5"><%= select_tag "id", options_from_collection_for_select(product.not_components, "id", "handle") %></div>
      <div class="col-md-6">
        <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
