<div class="row">
  <% lessees.each do |lessee| %>
    <div class="col-md-1">
      <%= link_to lessee.id, lessee %>
    </div>
    <div class="col-md-5">
      <%= lessee.identifier %>
      <% if lessee.institution? %>
        <%= lessee.institution.name %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= link_to(product_lessee_path(product, lessee), method: :delete, class: "btn btn-default") do %>
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove
      <% end %>
    </div>
  <% end %>
  <% if product.not_lessees.present? %>
    <%= form_tag(product_lessees_path(product), method: :post) do %>
      <div class="col-md-1"></div>
      <div class="col-md-5"><%= select_tag "id", options_from_collection_for_select(product.not_lessees, "id", "identifier") %></div>
      <div class="col-md-6">
        <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
