<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>Products</h1></div>
    <div class="col-md-12">
      <% @products.each do |product| %>
        <div class="col-md-1"></div>
        <div class="col-md-5"><%= product.identifier %></div>
        <div class="col-md-6">
          <div class="col-md-4"><%= link_to 'Show', product %></div>
          <div class="col-md-4"><%= link_to_if product.update?, 'Edit', edit_product_path(product) %></div>
          <div class="col-md-4"><%= link_to_if product.destroy?, 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12"><%= link_to 'New Product', new_product_path %></div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
