<% provide :body do %>

<%= render 'shared/header' %>
<%= render 'shared/flash_message' %>

  <div id="main" role="main" class="container <%= yield(:page_class) if content_for?(:page_class)%>">
  <% if content_for?(:page_header) %>
    <div class="row">
      <div class="col-md-12 main-header ">
        <%= yield(:page_header) %>
      </div>
    </div>
  <% end %>

    <%= content_for?(:main) ? yield(:main) : yield %>
  </div>

  <% if defined?(@press.subdomain) && !@press.new_record? %>
    <%= render 'shared/brand_press_footer' %>
  <% elsif defined?(@monograph_presenter.subdomain) %>
    <%= render 'shared/brand_press_footer' %>
  <% elsif defined?(@presenter.monograph.subdomain) %>
    <%= render 'shared/brand_press_footer' %>
  <% else %>
    <%= render 'shared/footer' %>
  <% end %>



<% end %>

<%= render template: 'layouts/boilerplate' %>
