<!DOCTYPE html <%= 'class="full-height-embed"'.html_safe if @presenter.image? || @presenter.interactive_application? || @presenter.interactive_map? %>>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : yield %></title>
    <!-- Ensure all links open outside the iframe, in a new tab -->
    <base target="_blank">
    <!-- CSS -->
    <%= stylesheet_link_tag 'embed' %>
    <!-- Javascript -->
    <%= javascript_include_tag 'embed' %>

    <!-- Cookie Consent for Google, Hotjar, etc -->
    <%# 
        We need to decided what to do for embedded cookie consent 
        and analytics. See HELIO-5039 
    %>
    <%# = render 'shared/cookie_consent' %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  <body <%= 'class="full-height-embed"'.html_safe if @presenter.image? || @presenter.interactive_application? || @presenter.interactive_map? %>>
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
