<% style = '' %>
<% style = "height:100%;" if @presenter.image? %>
<% style = "height:100%;overflow:scroll;" if @presenter&.interactive_map? %>
<!DOCTYPE html <%= "style=\"#{style}\"".html_safe if style.length.positive? %>>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : yield %></title>

    <% if Settings.host == "heliotrope-preview.hydra.lib.umich.edu" %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
    {'gtm.start': new Date().getTime(),event:'gtm.js'}
    );var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTZXSV7');</script>
    <% end %>

    <!-- Ensure all links open outside the iframe, in a new tab -->
    <base target="_blank">
    <!-- CSS -->
    <%= stylesheet_link_tag 'embed' %>
    <!-- Javascript -->
    <%= javascript_include_tag 'embed' %>

    <!-- hotjar -->
    <%= render 'shared/hotjar' %>
    <!-- GA4 -->
    <%= render 'shared/ga4' %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  <body <%= "style=\"#{style}\"".html_safe if style.length.positive? %>>
    <% if Settings.host == "heliotrope-preview.hydra.lib.umich.edu" %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTZXSV7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% end %>
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
