<!DOCTYPE html lang="en">
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : yield %></title>
    <!-- Citation metadata for Google Scholar -->
    <%= render 'shared/metadata' %>

    <%= content_for?(:head) ? yield(:head) : yield %>
    <!-- CSS -->
    <%= stylesheet_link_tag 'mozilla-pdf-viewer' %>
    <%= stylesheet_pack_tag 'cozy-sun-bear/cozy-sun-bear' %>
    <!-- Javascript -->
    <%= javascript_pack_tag 'cozy-sun-bear/cozy-sun-bear' %>
    <%= javascript_include_tag 'mozilla-pdf-viewer' %>

    <!-- Cookie Consent for Google, Hotjar, etc -->
    <%= render 'shared/cookie_consent' %>
  </head>
  <body id="outerContainer">
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
