<!DOCTYPE html %>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : yield %></title>
    <%= content_for?(:head) ? yield(:head) : yield %>
    <!-- CSS -->
    <%= stylesheet_link_tag 'mozilla-pdf-viewer' %>
    <%= stylesheet_pack_tag 'cozy-sun-bear/cozy-sun-bear' %>
    <!-- Javascript -->
    <%= javascript_pack_tag 'cozy-sun-bear/cozy-sun-bear' %>
    <%= javascript_include_tag 'mozilla-pdf-viewer' %>
  </head>
  <body id="outerContainer">
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
