<!DOCTYPE html %>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : yield %></title>

    <% if Settings.host == "heliotrope-preview.hydra.lib.umich.edu" %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
    {'gtm.start': new Date().getTime(),event:'gtm.js'}
    );var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTZXSV7');</script>
    <% end %>

    <!-- Citation metadata for Google Scholar -->
    <%= render 'shared/metadata' %>

    <%= content_for?(:head) ? yield(:head) : yield %>
    <!-- CSS -->
    <%= stylesheet_link_tag 'mozilla-pdf-viewer' %>
    <%= stylesheet_pack_tag 'cozy-sun-bear/cozy-sun-bear' %>
    <!-- Javascript -->
    <%= javascript_pack_tag 'cozy-sun-bear/cozy-sun-bear' %>
    <%= javascript_include_tag 'mozilla-pdf-viewer' %>

    <!-- hotjar -->
    <%= render 'shared/hotjar' %>
    <!-- GA4 -->
    <%= render 'shared/ga4' %>
  </head>
  <body id="outerContainer">
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
