<%# override of https://raw.githubusercontent.com/samvera/hyrax/v2.0.0/app/views/hyrax/base/_guts4form.html.erb %>
<% # we will yield to content_for for each tab, e.g. :files_tab %>
<% tabs ||= %w[metadata files relationships] # default tab order %>
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="tabs" role="main">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <% tabs.each_with_index do |tab, i| %>
        <li role="presentation" class="nav-item">
          <% if i.zero? %>
          <a class="nav-link active" href="#<%= tab %>" aria-controls="<%= tab %>" role="tab" data-toggle="tab">
            <i class="fa icon-<%= tab %>"></i> <%= t("hyrax.works.form.tab.#{tab}") %>
          </a>
          <% else %>
          <a class="nav-link" href="#<%= tab %>" aria-controls="<%= tab %>" role="tab" data-toggle="tab">
            <i class="fa icon-<%= tab %>"></i> <%= t("hyrax.works.form.tab.#{tab}") %>
          </a>
          <% end %>
          </li>
        <% end %>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <% (tabs - ['share']).each_with_index do |tab, i| %>
          <% if i.zero? %>
            <div role="tabpanel" class="tab-pane active" id="<%= tab %>">
          <% else %>
            <div role="tabpanel" class="tab-pane" id="<%= tab %>">
          <% end %>
          <div class="form-tab-content">
            <% # metadata_tab is sometimes provided %>
            <%= yield "#{tab}_tab".to_sym if content_for? "#{tab}_tab".to_sym %>
            <%= render "form_#{tab}", f: f %>
          </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>

    <div id="savewidget" class="col-xs-12 col-sm-4 fixedsticky" role="complementary">
      <%= render 'form_progress', f: f %>
    </div>
  </div>
<%# note this file is meant to have an unmatched div tag, see: https://tools.lib.umich.edu/jira/projects/HELIO/issues/HELIO-2263 %>
