<%= simple_form_for(@policy) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div><%= f.label :agent_type %></div>
    <%= f.collection_radio_buttons :agent_type, [%w[any Any], %w[email Email], %w[institution Institution]], :first, :last, checked: @policy.agent_type || 'any' %>
  </div>

  <div class="form-inputs">
    <%= f.input :agent_id, required: true, input_html: { value: @policy.agent_id ||'any' } %>
  </div>

  <div class="form-inputs">
    <%= f.input :credential_type, input_html: { value: 'permission' }, readonly: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :credential_id, input_html: { value: 'read' }, readonly: true %>
  </div>

  <div class="form-inputs">
    <%= f.collection_radio_buttons :resource_type, [%w[any Any], %w[noid NOID], %w[product Product]], :first, :last, checked: @policy.agent_type || 'any' %>
  </div>

  <div class="form-inputs">
    <%= f.input :resource_id, required: true, input_html: { value: @policy.resource_id || 'any' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
